<div id="shopify-section-template--25802407084372__ss_product_ingredients_6_fDB9mH" class="shopify-section">

<link rel="stylesheet" href="css/swiper-bundle.min.css"><style data-shopify="">@font-face {
  font-family: Poppins;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("fonts/poppins_n4.0ba78fa5af9b0e1a374041b3ceaadf0a43b41362.woff2") format("woff2"),
       url("fonts/poppins_n4.214741a72ff2596839fc9760ee7a770386cf16ca.woff") format("woff");
}

  @font-face {
  font-family: Poppins;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("fonts/poppins_n4.0ba78fa5af9b0e1a374041b3ceaadf0a43b41362.woff2") format("woff2"),
       url("fonts/poppins_n4.214741a72ff2596839fc9760ee7a770386cf16ca.woff") format("woff");
}

  @font-face {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("fonts/josefinsans_n4.70f7efd699799949e6d9f99bc20843a2c86a2e0f.woff2") format("woff2"),
       url("fonts/josefinsans_n4.35d308a1bdf56e5556bc2ac79702c721e4e2e983.woff") format("woff");
}

  @font-face {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("fonts/josefinsans_n4.70f7efd699799949e6d9f99bc20843a2c86a2e0f.woff2") format("woff2"),
       url("fonts/josefinsans_n4.35d308a1bdf56e5556bc2ac79702c721e4e2e983.woff") format("woff");
}

  @font-face {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("fonts/josefinsans_n4.70f7efd699799949e6d9f99bc20843a2c86a2e0f.woff2") format("woff2"),
       url("fonts/josefinsans_n4.35d308a1bdf56e5556bc2ac79702c721e4e2e983.woff") format("woff");
}

  @font-face {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("fonts/josefinsans_n4.70f7efd699799949e6d9f99bc20843a2c86a2e0f.woff2") format("woff2"),
       url("fonts/josefinsans_n4.35d308a1bdf56e5556bc2ac79702c721e4e2e983.woff") format("woff");
}

  @font-face {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("fonts/josefinsans_n4.70f7efd699799949e6d9f99bc20843a2c86a2e0f.woff2") format("woff2"),
       url("fonts/josefinsans_n4.35d308a1bdf56e5556bc2ac79702c721e4e2e983.woff") format("woff");
}

  @font-face {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("fonts/josefinsans_n4.70f7efd699799949e6d9f99bc20843a2c86a2e0f.woff2") format("woff2"),
       url("fonts/josefinsans_n4.35d308a1bdf56e5556bc2ac79702c721e4e2e983.woff") format("woff");
}

  @font-face {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("fonts/josefinsans_n4.70f7efd699799949e6d9f99bc20843a2c86a2e0f.woff2") format("woff2"),
       url("fonts/josefinsans_n4.35d308a1bdf56e5556bc2ac79702c721e4e2e983.woff") format("woff");
}


  .section-template--25802407084372__ss_product_ingredients_6_fDB9mH {
    border-top: solid #121212 0px;
    border-bottom: solid #121212 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0rem;
    margin-right: 0rem;
    border-radius: 0px;
    overflow: hidden;
  }

  .section-template--25802407084372__ss_product_ingredients_6_fDB9mH-settings {
    margin: 0 auto;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .ingredients-cards-template--25802407084372__ss_product_ingredients_6_fDB9mH {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    margin-top: 36px;
  }

  .ingredients-cards-template--25802407084372__ss_product_ingredients_6_fDB9mH .ingredients-card-template--25802407084372__ss_product_ingredients_6_fDB9mH:nth-child(n + 7) {
    display: none;
  }

  .ingredients-cards-template--25802407084372__ss_product_ingredients_6_fDB9mH.active .ingredients-card-template--25802407084372__ss_product_ingredients_6_fDB9mH {
    display: block;
  }

  .ingredients-card-template--25802407084372__ss_product_ingredients_6_fDB9mH {
    position: relative;
    border: 0px solid #121212;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 24px 24px;
    overflow: hidden;
  }

  .ingredients-card-image-template--25802407084372__ss_product_ingredients_6_fDB9mH {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    z-index: 1;
  }

  .ingredients-card-image-template--25802407084372__ss_product_ingredients_6_fDB9mH img,
  .ingredients-card-image-template--25802407084372__ss_product_ingredients_6_fDB9mH svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .ingredients-card-title-template--25802407084372__ss_product_ingredients_6_fDB9mH {
    margin: 0;
    position: relative;
    z-index: 2;
    text-align: left;
    font-size: 22px;
    color: #121212;
    line-height: 130%;
    text-transform: unset;
    word-break: break-word;
    font-weight: 700;
  }

  .ingredients-card-text-template--25802407084372__ss_product_ingredients_6_fDB9mH {
    margin-top: 8px;
    text-align: left;
    position: relative;
    z-index: 2;
  }

  .ingredients-card-text-template--25802407084372__ss_product_ingredients_6_fDB9mH * {
    margin: 0;
    font-size: 14px;
    color: #121212;
    line-height: 130%;
    text-transform: unset;
    word-break: break-word;
  }

  .ingredients-source-template--25802407084372__ss_product_ingredients_6_fDB9mH {
    margin: 0;
    width: 85%;
    position: relative;
    z-index: 2;
    margin-top: 40px;
    font-size: 14px;
    color: #121212;
    line-height: 130%;
    text-transform: unset;
    word-break: break-word;
    font-weight: 700;
  }

  .ingredients-plus-icon-template--25802407084372__ss_product_ingredients_6_fDB9mH {
    position: absolute;
    bottom: 24px;
    right: 24px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    z-index: 2;
  }

  .ingredients-plus-icon-template--25802407084372__ss_product_ingredients_6_fDB9mH svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .ingredients-plus-icon-template--25802407084372__ss_product_ingredients_6_fDB9mH svg {
    background-color: #afafaf;
  }

  .ingredients-plus-icon-template--25802407084372__ss_product_ingredients_6_fDB9mH svg g {
    stroke: #ffffff;
  }

  .ingredients-see-all-wrapper-template--25802407084372__ss_product_ingredients_6_fDB9mH {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    margin-top: 40px;
    border-top: 1px solid rgba(18,18,18,0.16);
    gap: 8px;
  }

  .ingredients-see-all-wrapper-template--25802407084372__ss_product_ingredients_6_fDB9mH svg {
    width: 13px;
    height: 13px;
    transition: all 0.25s ease 0s;
  }

  .ingredients-see-all-wrapper-template--25802407084372__ss_product_ingredients_6_fDB9mH svg g {
    fill: #121212;
  }

  .ingredients-see-template--25802407084372__ss_product_ingredients_6_fDB9mH {
    margin: 0;
    gap: 8px;
    align-items: center;
    font-size: 14px;
    color: #121212;
    line-height: 130%;
    text-transform: unset;
    word-break: break-word;
    font-weight: 700;
    cursor: pointer;
  }

  .ingredients-see-all-template--25802407084372__ss_product_ingredients_6_fDB9mH {
    display: flex;
  }

  .ingredients-see-all-template--25802407084372__ss_product_ingredients_6_fDB9mH.hide {
    display: none;
  }

  .ingredients-see-less-template--25802407084372__ss_product_ingredients_6_fDB9mH {
    display: none;
  }

  .ingredients-see-less-template--25802407084372__ss_product_ingredients_6_fDB9mH.active {
    display: flex;
  }

  .ingredients-see-all-wrapper-template--25802407084372__ss_product_ingredients_6_fDB9mH.active svg {
    transform: rotate(180deg);
    transition: all 0.25s ease 0s;
  }

  .ingredients-modal-template--25802407084372__ss_product_ingredients_6_fDB9mH {
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    background: rgba(18,18,18,0.5);
    padding-top: 20px;
    padding-bottom: 20px;
    transition: opacity 0.3s ease;
    z-index: -1;
  }

  .ingredients-modal-template--25802407084372__ss_product_ingredients_6_fDB9mH.active {
    opacity: 1;
    z-index: 100;
    pointer-events: all;
    transition: all 250ms ease-in 0s;
  }

  .ingredients-modal-inner-template--25802407084372__ss_product_ingredients_6_fDB9mH {
    position: relative;
    max-height: 70vh;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

   .ingredients-modal-slider-template--25802407084372__ss_product_ingredients_6_fDB9mH {
     max-height: 70vh;
   }

  .ingredients-modal-slider-wrapper-template--25802407084372__ss_product_ingredients_6_fDB9mH {
    align-items: stretch !important;
    max-height: 70vh;
  }

  .ingredients-modal-slide-template--25802407084372__ss_product_ingredients_6_fDB9mH {
    position: relative;
    height: auto !important;
    transform: scale(0.9) !important;
    border: 0px solid #121212 !important;
    border-radius: 0px !important;
    background-color: #ffffff !important;
    transition: all 0.25s ease 0s !important;
    box-sizing: border-box !important;
    overflow: hidden;
  }

  .ingredients-modal-slide-content-template--25802407084372__ss_product_ingredients_6_fDB9mH {
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    height: 100% !important;
    padding: 24px 24px !important;
    align-items: start;
  }

  .ingredients-modal-slide-image-template--25802407084372__ss_product_ingredients_6_fDB9mH {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
  }

  .ingredients-modal-slide-image-template--25802407084372__ss_product_ingredients_6_fDB9mH img,
  .ingredients-modal-slide-image-template--25802407084372__ss_product_ingredients_6_fDB9mH svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .ingredients-modal-slide-template--25802407084372__ss_product_ingredients_6_fDB9mH.swiper-slide-active {
    transform: scale(1) !important;
    transition: all 0.25s ease 0s !important;
  }

  .ingredients-modal-close-template--25802407084372__ss_product_ingredients_6_fDB9mH {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 2;
  }

  .ingredients-modal-close-template--25802407084372__ss_product_ingredients_6_fDB9mH svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .ingredients-modal-close-template--25802407084372__ss_product_ingredients_6_fDB9mH svg g {
    stroke: #121212;
  }

  .ingredients-modal-slide-text-template--25802407084372__ss_product_ingredients_6_fDB9mH {
    margin-top: 16px;
    text-align: left;
    position: relative;
    z-index: 2;
  }

  .ingredients-modal-slide-text-template--25802407084372__ss_product_ingredients_6_fDB9mH * {
    margin: 0;
    font-size: 14px;
    color: #121212;
    line-height: 150%;
    text-transform: unset;
    word-break: break-word;
  }

  .ingredients-modal-slide-title-template--25802407084372__ss_product_ingredients_6_fDB9mH {
    margin: 0;
    position: relative;
    z-index: 2;
    margin-top: 24px;
    text-align: left;
    font-size: 12px;
    color: #a7afc9;
    line-height: 150%;
    text-transform: unset;
    word-break: break-word;
  }

  .ingredients-modal-slide-sub-text-template--25802407084372__ss_product_ingredients_6_fDB9mH {
    margin-top: 8px;
    text-align: left;
    position: relative;
    z-index: 2;
  }

  .ingredients-modal-slide-sub-text-template--25802407084372__ss_product_ingredients_6_fDB9mH * {
    margin: 0;
    font-size: 14px;
    color: #121212;
    line-height: 150%;
    text-transform: unset;
    word-break: break-word;
  }

  .ingredients-modal-button-template--25802407084372__ss_product_ingredients_6_fDB9mH {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    max-width: fit-content;
    margin: 0;
    position: relative;
    z-index: 2;
    font-size: 14px;
    color: #121212;
    line-height: 100%;
    text-align: center;
    text-transform: unset;
    text-decoration: none;
    padding: 16px 24px;
    border-radius: 100px;
    transition: all 0.25s ease 0s;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    margin-top: 24px;
    font-weight: 700;
  }

  .ingredients-modal-button-inner-template--25802407084372__ss_product_ingredients_6_fDB9mH {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .ingredients-modal-button-template--25802407084372__ss_product_ingredients_6_fDB9mH:hover {
    color: #121212;
    transition: all 0.25s ease 0s;
  }

  .ingredients-modal-button-template--25802407084372__ss_product_ingredients_6_fDB9mH svg {
    width: 14px;
    height: 14px;
    border: none;
    background-color: transparent;
  }

  .ingredients-modal-button-template--25802407084372__ss_product_ingredients_6_fDB9mH svg path {
    fill: #121212;
    transition: all 0.25s ease 0s;
  }

  .ingredients-modal-button-template--25802407084372__ss_product_ingredients_6_fDB9mH:hover svg path {
    fill: #121212;
    transition: all 0.25s ease 0s;
  }

  .ingredients-modal-pagination-template--25802407084372__ss_product_ingredients_6_fDB9mH {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 16px;
  }

  .ingredients-modal-pagination-template--25802407084372__ss_product_ingredients_6_fDB9mH svg g {
    stroke: #ffffff;
  }

  .slide-count-template--25802407084372__ss_product_ingredients_6_fDB9mH {
    margin: 0;
    font-size: 14px;
    color: #ffffff;
    line-height: 130%;
    text-transform: unset;
    text-decoration: none;
    font-weight: 400;
    user-select: none
  }

  .slide-count-template--25802407084372__ss_product_ingredients_6_fDB9mH * {
    margin: 0;
    font-size: 14px;
    color: #ffffff;
    line-height: 130%;
    text-transform: unset;
    text-decoration: none;
    font-weight: 400;
  }

  .ingredients-modal-btn-prev-template--25802407084372__ss_product_ingredients_6_fDB9mH,
  .ingredients-modal-btn-next-template--25802407084372__ss_product_ingredients_6_fDB9mH {
    cursor: pointer;
    transition: all 0.25s ease 0s;
  }

  .ingredients-modal-btn-prev-template--25802407084372__ss_product_ingredients_6_fDB9mH:hover,
  .ingredients-modal-btn-next-template--25802407084372__ss_product_ingredients_6_fDB9mH:hover {
    transform: scale(1.1);
    transition: all 0.25s ease 0s;
  }

  @media(min-width: 1024px) {

    .section-template--25802407084372__ss_product_ingredients_6_fDB9mH {
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 0rem;
      margin-right: 0rem;
      border-radius: 0px;
    }

    .section-template--25802407084372__ss_product_ingredients_6_fDB9mH-settings {
      padding: 0 5rem;
      padding-top: 36px;
      padding-bottom: 36px;
      padding-left: 5rem;
      padding-right: 5rem;
    }

    .ingredients-cards-template--25802407084372__ss_product_ingredients_6_fDB9mH {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      margin-top: 48px;
    }

    .ingredients-card-template--25802407084372__ss_product_ingredients_6_fDB9mH {
      padding: 24px 24px;
    }

    .ingredients-card-title-template--25802407084372__ss_product_ingredients_6_fDB9mH {
      text-align: left;
      font-size: 26px;
    }

    .ingredients-card-text-template--25802407084372__ss_product_ingredients_6_fDB9mH {
      margin-top: 8px;
    }

    .ingredients-card-text-template--25802407084372__ss_product_ingredients_6_fDB9mH * {
      text-align: left;
      font-size: 16px;
    }

    .ingredients-source-template--25802407084372__ss_product_ingredients_6_fDB9mH {
      margin-top: 48px;
      font-size: 14px;
    }

    .ingredients-plus-icon-template--25802407084372__ss_product_ingredients_6_fDB9mH {
      bottom: 24px;
      right: 24px;
      width: 24px;
      height: 24px;
    }

    .ingredients-see-template--25802407084372__ss_product_ingredients_6_fDB9mH {
      font-size: 14px;
    }

    .ingredients-modal-slider-wrapper-template--25802407084372__ss_product_ingredients_6_fDB9mH {
      align-items: stretch !important;
    }

    .ingredients-modal-slide-template--25802407084372__ss_product_ingredients_6_fDB9mH {
      overflow-y: scroll !important;
      scrollbar-width: none;
    }

    .ingredients-modal-slide-content-template--25802407084372__ss_product_ingredients_6_fDB9mH {
      align-items: start;
      padding: 56px 56px !important;
    }


    .ingredients-modal-close-template--25802407084372__ss_product_ingredients_6_fDB9mH {
      width: 16px;
      height: 16px;
      top: 16px;
      right: 16px;
    }

    .ingredients-modal-slide-text-template--25802407084372__ss_product_ingredients_6_fDB9mH {
      margin-top: 24px;
      text-align: left;
      width: 100%;
    }

    .ingredients-modal-slide-text-template--25802407084372__ss_product_ingredients_6_fDB9mH * {
      font-size: 14px;
    }

    .ingredients-modal-slide-title-template--25802407084372__ss_product_ingredients_6_fDB9mH {
      margin-top: 32px;
      width: 100%;
      text-align: left;
      font-size: 12px;
    }

    .ingredients-modal-slide-sub-text-template--25802407084372__ss_product_ingredients_6_fDB9mH {
      margin-top: 8px;
      width: 100%;
      text-align: left;
    }

    .ingredients-modal-slide-sub-text-template--25802407084372__ss_product_ingredients_6_fDB9mH * {
      font-size: 14px;
    }

    .ingredients-modal-button-template--25802407084372__ss_product_ingredients_6_fDB9mH {
      margin-top: 32px;
      padding: 16px 24px;
      font-size: 14px;
    }

    .slide-count-template--25802407084372__ss_product_ingredients_6_fDB9mH,
    .slide-count-template--25802407084372__ss_product_ingredients_6_fDB9mH * {
      font-size: 14px;
    }
  }</style>
  <style>
    .section-template--25802407084372__ss_product_ingredients_6_fDB9mH-settings {
      max-width: 1200px;
    }
  </style>







  <style>
    .ingredients-card-title-template--25802407084372__ss_product_ingredients_6_fDB9mH {
      font-family: Poppins, sans-serif;
      font-weight: 400;
      font-style: normal;
    }
  </style>



  <style>
    .ingredients-card-text-template--25802407084372__ss_product_ingredients_6_fDB9mH * {
      font-family: Poppins, sans-serif;
      font-weight: 400;
      font-style: normal;
    }
  </style>

















  <style>
    .ingredients-modal-button-template--25802407084372__ss_product_ingredients_6_fDB9mH {
      position: relative;
      padding: 5px 0px !important;
    }

    .ingredients-modal-button-template--25802407084372__ss_product_ingredients_6_fDB9mH:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      left: 0;
      bottom: 0px;
      background: #121212;
      transition: all 0.25s ease 0s;
    }

    .ingredients-modal-button-template--25802407084372__ss_product_ingredients_6_fDB9mH:hover:after {
      background: #121212;
      transition: all 0.25s ease 0s;
    }
  </style>



  
      <style>
        @font-face {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("fonts/josefinsans_n4.70f7efd699799949e6d9f99bc20843a2c86a2e0f.woff2") format("woff2"),
       url("fonts/josefinsans_n4.35d308a1bdf56e5556bc2ac79702c721e4e2e983.woff") format("woff");
}


        .ingredients-heading-heading_iXTR7J {
          max-width: 100%;
          text-align: center;
          margin-top: 0px;
        }

        .ingredients-heading-heading_iXTR7J * {
          margin: 0;
          font-size: 32px;
          color: #121212;
          line-height: 130%;
          text-transform: unset;
          word-break: break-word;
          font-weight: 700;
        }

        @media(min-width: 1024px) {

          .ingredients-heading-heading_iXTR7J {
            text-align: center;
            max-width: 700px;
            margin-top: 0px;
          }

          .ingredients-heading-heading_iXTR7J * {
            font-size: 48px;
          }
        }
      </style>

      

      
        <style>
          @media(min-width: 1024px) {
           .ingredients-heading-heading_iXTR7J {
              margin-left: auto !important;
              margin-right: auto !important;
            }
          }
        </style>
      

    

  
      <style>
        @font-face {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("fonts/josefinsans_n4.70f7efd699799949e6d9f99bc20843a2c86a2e0f.woff2") format("woff2"),
       url("fonts/josefinsans_n4.35d308a1bdf56e5556bc2ac79702c721e4e2e983.woff") format("woff");
}


        .ingredients-text-text_HGLqHX {
          max-width: 1000%;
          text-align: center;
          margin-top: 12px;
        }

        .ingredients-text-text_HGLqHX * {
          margin: 0;
          font-size: 13px;
          color: #121212;
          line-height: 150%;
          text-transform: unset;
        }

        @media(min-width: 1024px) {

          .ingredients-text-text_HGLqHX {
            max-width: 700px;
            text-align: center;
            margin-top: 16px;
          }

          .ingredients-text-text_HGLqHX * {
            font-size: 16px;
          }

        }
      </style>

      

      
        <style>
          @media(min-width: 1024px) {
           .ingredients-text-text_HGLqHX {
              margin-left: auto !important;
              margin-right: auto !important;
            }
          }
        </style>
      
  

  

  

  

  

  

  


<div class="section-template--25802407084372__ss_product_ingredients_6_fDB9mH ingredients-template--25802407084372__ss_product_ingredients_6_fDB9mH" style="background-color:#f6f5f1; background-image: ;">
  <div class="section-template--25802407084372__ss_product_ingredients_6_fDB9mH-settings">
    
      
          
            <div class="ingredients-heading-heading_iXTR7J">
              <h2>Every Ingredient Carefully Chosen</h2>
            </div>
          
        
    
      
          
            <div class="ingredients-text-text_HGLqHX">
              <p>Every ingredient in our formula is there for a reason—and backed by <strong>peer-reviewed research</strong>, not marketing fluff. We don’t hide behind “proprietary blends” or vague labels. You get a clear, transparent list of clinically supported ingredients—each included at a meaningful dose.</p>
            </div>
          
      
    
      
    
      
    
      
    
      
    
      
    
      
    

    <div class="ingredients-cards-template--25802407084372__ss_product_ingredients_6_fDB9mH">
      
      
        
      
        
      
        
          <div class="ingredients-card-template--25802407084372__ss_product_ingredients_6_fDB9mH">
            <div class="ingredients-card-image-template--25802407084372__ss_product_ingredients_6_fDB9mH">
              
                <img src="{{ '1_f1857d30-154b-4419-abd1-7bf43cefe927.jpg' | asset_url }}" srcset="{{ '1_f1857d30-154b-4419-abd1-7bf43cefe927_3.jpg' | asset_url }} 375w, {{ '1_f1857d30-154b-4419-abd1-7bf43cefe927_2.jpg' | asset_url }} 550w, {{ '1_f1857d30-154b-4419-abd1-7bf43cefe927_1.jpg' | asset_url }} 750w" width="1000" height="1000" loading="lazy" sizes="(min-width: 1024px) 100vw, 100vw">
              
            </div>
            
              <p class="ingredients-card-title-template--25802407084372__ss_product_ingredients_6_fDB9mH">Turmeric</p>
            
            
              <div class="ingredients-card-text-template--25802407084372__ss_product_ingredients_6_fDB9mH"><p>Anti-Inflammatory</p></div>
            
            <p class="ingredients-source-template--25802407084372__ss_product_ingredients_6_fDB9mH"></p>
            <div class="ingredients-plus-icon-template--25802407084372__ss_product_ingredients_6_fDB9mH" id="card_egxFrx">
              <svg data-element="PlusIconElement" data-source-file="IngredientCard.js" data-sentry-element="PlusIconElement" data-sentry-source-file="IngredientCard.js" width="24" height="24" version="1.1" viewBox="0 0 24 24">
                <g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1"><g fill-rule="nonzero"><g><g><g><g transform="translate(-153.000000, -497.000000) translate(153.000000, 188.000000) translate(0.000000, 132.000000) translate(0.000000, 177.000000)"><circl cx="12" cy="12" r="12" fill="#142B6F" fill-opacity=".51"></circl><g stroke="#FFF" stroke-linecap="square" stroke-width="2"><path d="M0,4 L8,4" transform="translate(8.000000, 8.000000)"></path><path d="M0,4 L8,4" transform="translate(8.000000, 8.000000) translate(4.000000, 4.000000) rotate(-270.000000) translate(-4.000000, -4.000000)"></path></g></g></g></g></g></g></g>
              </svg>
            </div>
          </div>

          
        
      
        
          <div class="ingredients-card-template--25802407084372__ss_product_ingredients_6_fDB9mH">
            <div class="ingredients-card-image-template--25802407084372__ss_product_ingredients_6_fDB9mH">
              
                <img src="{{ '2_ca8cb619-6327-416e-abbc-fc1286ddf172.jpg' | asset_url }}" srcset="{{ '2_ca8cb619-6327-416e-abbc-fc1286ddf172_2.jpg' | asset_url }} 375w, {{ '2_ca8cb619-6327-416e-abbc-fc1286ddf172_3.jpg' | asset_url }} 550w, {{ '2_ca8cb619-6327-416e-abbc-fc1286ddf172_1.jpg' | asset_url }} 750w" width="1000" height="1000" loading="lazy" sizes="(min-width: 1024px) 100vw, 100vw">
              
            </div>
            
              <p class="ingredients-card-title-template--25802407084372__ss_product_ingredients_6_fDB9mH">Black Pepper</p>
            
            
              <div class="ingredients-card-text-template--25802407084372__ss_product_ingredients_6_fDB9mH"><p>Improves Absorption</p></div>
            
            <p class="ingredients-source-template--25802407084372__ss_product_ingredients_6_fDB9mH"></p>
            <div class="ingredients-plus-icon-template--25802407084372__ss_product_ingredients_6_fDB9mH" id="card_6ExTtz">
              <svg data-element="PlusIconElement" data-source-file="IngredientCard.js" data-sentry-element="PlusIconElement" data-sentry-source-file="IngredientCard.js" width="24" height="24" version="1.1" viewBox="0 0 24 24">
                <g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1"><g fill-rule="nonzero"><g><g><g><g transform="translate(-153.000000, -497.000000) translate(153.000000, 188.000000) translate(0.000000, 132.000000) translate(0.000000, 177.000000)"><circl cx="12" cy="12" r="12" fill="#142B6F" fill-opacity=".51"></circl><g stroke="#FFF" stroke-linecap="square" stroke-width="2"><path d="M0,4 L8,4" transform="translate(8.000000, 8.000000)"></path><path d="M0,4 L8,4" transform="translate(8.000000, 8.000000) translate(4.000000, 4.000000) rotate(-270.000000) translate(-4.000000, -4.000000)"></path></g></g></g></g></g></g></g>
              </svg>
            </div>
          </div>

          
        
      
        
          <div class="ingredients-card-template--25802407084372__ss_product_ingredients_6_fDB9mH">
            <div class="ingredients-card-image-template--25802407084372__ss_product_ingredients_6_fDB9mH">
              
                <img src="{{ '3_490c514f-9783-43a9-ba38-c47b7ef510b4.jpg' | asset_url }}" srcset="{{ '3_490c514f-9783-43a9-ba38-c47b7ef510b4_1.jpg' | asset_url }} 375w, {{ '3_490c514f-9783-43a9-ba38-c47b7ef510b4_3.jpg' | asset_url }} 550w, {{ '3_490c514f-9783-43a9-ba38-c47b7ef510b4_2.jpg' | asset_url }} 750w" width="1000" height="1000" loading="lazy" sizes="(min-width: 1024px) 100vw, 100vw">
              
            </div>
            
              <p class="ingredients-card-title-template--25802407084372__ss_product_ingredients_6_fDB9mH">Bee Propolis</p>
            
            
              <div class="ingredients-card-text-template--25802407084372__ss_product_ingredients_6_fDB9mH"><p>Immune Support</p></div>
            
            <p class="ingredients-source-template--25802407084372__ss_product_ingredients_6_fDB9mH"></p>
            <div class="ingredients-plus-icon-template--25802407084372__ss_product_ingredients_6_fDB9mH" id="card_KU3bUz">
              <svg data-element="PlusIconElement" data-source-file="IngredientCard.js" data-sentry-element="PlusIconElement" data-sentry-source-file="IngredientCard.js" width="24" height="24" version="1.1" viewBox="0 0 24 24">
                <g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1"><g fill-rule="nonzero"><g><g><g><g transform="translate(-153.000000, -497.000000) translate(153.000000, 188.000000) translate(0.000000, 132.000000) translate(0.000000, 177.000000)"><circl cx="12" cy="12" r="12" fill="#142B6F" fill-opacity=".51"></circl><g stroke="#FFF" stroke-linecap="square" stroke-width="2"><path d="M0,4 L8,4" transform="translate(8.000000, 8.000000)"></path><path d="M0,4 L8,4" transform="translate(8.000000, 8.000000) translate(4.000000, 4.000000) rotate(-270.000000) translate(-4.000000, -4.000000)"></path></g></g></g></g></g></g></g>
              </svg>
            </div>
          </div>

          
        
      
        
          <div class="ingredients-card-template--25802407084372__ss_product_ingredients_6_fDB9mH">
            <div class="ingredients-card-image-template--25802407084372__ss_product_ingredients_6_fDB9mH">
              
                <img src="{{ '4_322953d3-b832-48e8-8308-39266588aff6.jpg' | asset_url }}" srcset="{{ '4_322953d3-b832-48e8-8308-39266588aff6_1.jpg' | asset_url }} 375w, {{ '4_322953d3-b832-48e8-8308-39266588aff6_2.jpg' | asset_url }} 550w, {{ '4_322953d3-b832-48e8-8308-39266588aff6_3.jpg' | asset_url }} 750w" width="1000" height="1000" loading="lazy" sizes="(min-width: 1024px) 100vw, 100vw">
              
            </div>
            
              <p class="ingredients-card-title-template--25802407084372__ss_product_ingredients_6_fDB9mH">Ginger</p>
            
            
              <div class="ingredients-card-text-template--25802407084372__ss_product_ingredients_6_fDB9mH"><p>Digestive Support</p></div>
            
            <p class="ingredients-source-template--25802407084372__ss_product_ingredients_6_fDB9mH"></p>
            <div class="ingredients-plus-icon-template--25802407084372__ss_product_ingredients_6_fDB9mH" id="card_QBcq7D">
              <svg data-element="PlusIconElement" data-source-file="IngredientCard.js" data-sentry-element="PlusIconElement" data-sentry-source-file="IngredientCard.js" width="24" height="24" version="1.1" viewBox="0 0 24 24">
                <g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1"><g fill-rule="nonzero"><g><g><g><g transform="translate(-153.000000, -497.000000) translate(153.000000, 188.000000) translate(0.000000, 132.000000) translate(0.000000, 177.000000)"><circl cx="12" cy="12" r="12" fill="#142B6F" fill-opacity=".51"></circl><g stroke="#FFF" stroke-linecap="square" stroke-width="2"><path d="M0,4 L8,4" transform="translate(8.000000, 8.000000)"></path><path d="M0,4 L8,4" transform="translate(8.000000, 8.000000) translate(4.000000, 4.000000) rotate(-270.000000) translate(-4.000000, -4.000000)"></path></g></g></g></g></g></g></g>
              </svg>
            </div>
          </div>

          
        
      
        
          <div class="ingredients-card-template--25802407084372__ss_product_ingredients_6_fDB9mH">
            <div class="ingredients-card-image-template--25802407084372__ss_product_ingredients_6_fDB9mH">
              
                <img src="{{ '5_1c111ca4-8fe6-489a-b113-d0cff7d717f2.jpg' | asset_url }}" srcset="{{ '5_1c111ca4-8fe6-489a-b113-d0cff7d717f2_3.jpg' | asset_url }} 375w, {{ '5_1c111ca4-8fe6-489a-b113-d0cff7d717f2_1.jpg' | asset_url }} 550w, {{ '5_1c111ca4-8fe6-489a-b113-d0cff7d717f2_2.jpg' | asset_url }} 750w" width="1000" height="1000" loading="lazy" sizes="(min-width: 1024px) 100vw, 100vw">
              
            </div>
            
              <p class="ingredients-card-title-template--25802407084372__ss_product_ingredients_6_fDB9mH">Coconut Oil</p>
            
            
              <div class="ingredients-card-text-template--25802407084372__ss_product_ingredients_6_fDB9mH"><p>Lipid Carrier</p></div>
            
            <p class="ingredients-source-template--25802407084372__ss_product_ingredients_6_fDB9mH"></p>
            <div class="ingredients-plus-icon-template--25802407084372__ss_product_ingredients_6_fDB9mH" id="card_DbJgzG">
              <svg data-element="PlusIconElement" data-source-file="IngredientCard.js" data-sentry-element="PlusIconElement" data-sentry-source-file="IngredientCard.js" width="24" height="24" version="1.1" viewBox="0 0 24 24">
                <g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1"><g fill-rule="nonzero"><g><g><g><g transform="translate(-153.000000, -497.000000) translate(153.000000, 188.000000) translate(0.000000, 132.000000) translate(0.000000, 177.000000)"><circl cx="12" cy="12" r="12" fill="#142B6F" fill-opacity=".51"></circl><g stroke="#FFF" stroke-linecap="square" stroke-width="2"><path d="M0,4 L8,4" transform="translate(8.000000, 8.000000)"></path><path d="M0,4 L8,4" transform="translate(8.000000, 8.000000) translate(4.000000, 4.000000) rotate(-270.000000) translate(-4.000000, -4.000000)"></path></g></g></g></g></g></g></g>
              </svg>
            </div>
          </div>

          
        
      
        
          <div class="ingredients-card-template--25802407084372__ss_product_ingredients_6_fDB9mH">
            <div class="ingredients-card-image-template--25802407084372__ss_product_ingredients_6_fDB9mH">
              
                <img src="{{ '6.jpg' | asset_url }}" srcset="{{ '6_3.jpg' | asset_url }} 375w, {{ '6_2.jpg' | asset_url }} 550w, {{ '6_1.jpg' | asset_url }} 750w" width="1000" height="1000" loading="lazy" sizes="(min-width: 1024px) 100vw, 100vw">
              
            </div>
            
              <p class="ingredients-card-title-template--25802407084372__ss_product_ingredients_6_fDB9mH">Vitamin C</p>
            
            
              <div class="ingredients-card-text-template--25802407084372__ss_product_ingredients_6_fDB9mH"><p>Antioxident</p></div>
            
            <p class="ingredients-source-template--25802407084372__ss_product_ingredients_6_fDB9mH"></p>
            <div class="ingredients-plus-icon-template--25802407084372__ss_product_ingredients_6_fDB9mH" id="card_4VnAgU">
              <svg data-element="PlusIconElement" data-source-file="IngredientCard.js" data-sentry-element="PlusIconElement" data-sentry-source-file="IngredientCard.js" width="24" height="24" version="1.1" viewBox="0 0 24 24">
                <g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1"><g fill-rule="nonzero"><g><g><g><g transform="translate(-153.000000, -497.000000) translate(153.000000, 188.000000) translate(0.000000, 132.000000) translate(0.000000, 177.000000)"><circl cx="12" cy="12" r="12" fill="#142B6F" fill-opacity=".51"></circl><g stroke="#FFF" stroke-linecap="square" stroke-width="2"><path d="M0,4 L8,4" transform="translate(8.000000, 8.000000)"></path><path d="M0,4 L8,4" transform="translate(8.000000, 8.000000) translate(4.000000, 4.000000) rotate(-270.000000) translate(-4.000000, -4.000000)"></path></g></g></g></g></g></g></g>
              </svg>
            </div>
          </div>

          
        
      
    </div>

    
  </div>
</div>

<div class="ingredients-modal-template--25802407084372__ss_product_ingredients_6_fDB9mH">
  <div class="ingredients-modal-inner-template--25802407084372__ss_product_ingredients_6_fDB9mH">
    <div class="ingredients-modal-slider-template--25802407084372__ss_product_ingredients_6_fDB9mH swiper">
      <div class="ingredients-modal-slider-wrapper-template--25802407084372__ss_product_ingredients_6_fDB9mH swiper-wrapper">
        
        
          
        
          
        
          
            <div class="ingredients-modal-slide-template--25802407084372__ss_product_ingredients_6_fDB9mH swiper-slide" data-id="card_egxFrx">
              <div class="ingredients-modal-slide-content-template--25802407084372__ss_product_ingredients_6_fDB9mH">
                <div class="ingredients-modal-slide-image-template--25802407084372__ss_product_ingredients_6_fDB9mH">
                  
                </div>
                <div class="ingredients-modal-close-template--25802407084372__ss_product_ingredients_6_fDB9mH">
                  <svg data-element="unknown" data-source-file="Carousel.js" data-sentry-element="unknown" data-sentry-source-file="Carousel.js" width="16" height="16" version="1.1" viewBox="0 0 16 16">
                    <g fill="none" fill-rule="evenodd" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"><g stroke="#142B6F" stroke-width="2"><g><g><path d="M14,14 L2,2 L14,14 Z M14,2 L2,14 L14,2 Z" transform="translate(-284.000000, -22.000000) translate(284.000000, 22.000000)"></path></g></g></g></g>
                  </svg>
                </div>
                
                  <p class="ingredients-card-title-template--25802407084372__ss_product_ingredients_6_fDB9mH">Turmeric</p>
                
                
                
                
                
              </div>
            </div>
            
          
        
          
            <div class="ingredients-modal-slide-template--25802407084372__ss_product_ingredients_6_fDB9mH swiper-slide" data-id="card_6ExTtz">
              <div class="ingredients-modal-slide-content-template--25802407084372__ss_product_ingredients_6_fDB9mH">
                <div class="ingredients-modal-slide-image-template--25802407084372__ss_product_ingredients_6_fDB9mH">
                  
                </div>
                <div class="ingredients-modal-close-template--25802407084372__ss_product_ingredients_6_fDB9mH">
                  <svg data-element="unknown" data-source-file="Carousel.js" data-sentry-element="unknown" data-sentry-source-file="Carousel.js" width="16" height="16" version="1.1" viewBox="0 0 16 16">
                    <g fill="none" fill-rule="evenodd" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"><g stroke="#142B6F" stroke-width="2"><g><g><path d="M14,14 L2,2 L14,14 Z M14,2 L2,14 L14,2 Z" transform="translate(-284.000000, -22.000000) translate(284.000000, 22.000000)"></path></g></g></g></g>
                  </svg>
                </div>
                
                  <p class="ingredients-card-title-template--25802407084372__ss_product_ingredients_6_fDB9mH">Black Pepper</p>
                
                
                
                
                
              </div>
            </div>
            
          
        
          
            <div class="ingredients-modal-slide-template--25802407084372__ss_product_ingredients_6_fDB9mH swiper-slide" data-id="card_KU3bUz">
              <div class="ingredients-modal-slide-content-template--25802407084372__ss_product_ingredients_6_fDB9mH">
                <div class="ingredients-modal-slide-image-template--25802407084372__ss_product_ingredients_6_fDB9mH">
                  
                </div>
                <div class="ingredients-modal-close-template--25802407084372__ss_product_ingredients_6_fDB9mH">
                  <svg data-element="unknown" data-source-file="Carousel.js" data-sentry-element="unknown" data-sentry-source-file="Carousel.js" width="16" height="16" version="1.1" viewBox="0 0 16 16">
                    <g fill="none" fill-rule="evenodd" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"><g stroke="#142B6F" stroke-width="2"><g><g><path d="M14,14 L2,2 L14,14 Z M14,2 L2,14 L14,2 Z" transform="translate(-284.000000, -22.000000) translate(284.000000, 22.000000)"></path></g></g></g></g>
                  </svg>
                </div>
                
                  <p class="ingredients-card-title-template--25802407084372__ss_product_ingredients_6_fDB9mH">Bee Propolis</p>
                
                
                
                
                
              </div>
            </div>
            
          
        
          
            <div class="ingredients-modal-slide-template--25802407084372__ss_product_ingredients_6_fDB9mH swiper-slide" data-id="card_QBcq7D">
              <div class="ingredients-modal-slide-content-template--25802407084372__ss_product_ingredients_6_fDB9mH">
                <div class="ingredients-modal-slide-image-template--25802407084372__ss_product_ingredients_6_fDB9mH">
                  
                </div>
                <div class="ingredients-modal-close-template--25802407084372__ss_product_ingredients_6_fDB9mH">
                  <svg data-element="unknown" data-source-file="Carousel.js" data-sentry-element="unknown" data-sentry-source-file="Carousel.js" width="16" height="16" version="1.1" viewBox="0 0 16 16">
                    <g fill="none" fill-rule="evenodd" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"><g stroke="#142B6F" stroke-width="2"><g><g><path d="M14,14 L2,2 L14,14 Z M14,2 L2,14 L14,2 Z" transform="translate(-284.000000, -22.000000) translate(284.000000, 22.000000)"></path></g></g></g></g>
                  </svg>
                </div>
                
                  <p class="ingredients-card-title-template--25802407084372__ss_product_ingredients_6_fDB9mH">Ginger</p>
                
                
                
                
                
              </div>
            </div>
            
          
        
          
            <div class="ingredients-modal-slide-template--25802407084372__ss_product_ingredients_6_fDB9mH swiper-slide" data-id="card_DbJgzG">
              <div class="ingredients-modal-slide-content-template--25802407084372__ss_product_ingredients_6_fDB9mH">
                <div class="ingredients-modal-slide-image-template--25802407084372__ss_product_ingredients_6_fDB9mH">
                  
                </div>
                <div class="ingredients-modal-close-template--25802407084372__ss_product_ingredients_6_fDB9mH">
                  <svg data-element="unknown" data-source-file="Carousel.js" data-sentry-element="unknown" data-sentry-source-file="Carousel.js" width="16" height="16" version="1.1" viewBox="0 0 16 16">
                    <g fill="none" fill-rule="evenodd" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"><g stroke="#142B6F" stroke-width="2"><g><g><path d="M14,14 L2,2 L14,14 Z M14,2 L2,14 L14,2 Z" transform="translate(-284.000000, -22.000000) translate(284.000000, 22.000000)"></path></g></g></g></g>
                  </svg>
                </div>
                
                  <p class="ingredients-card-title-template--25802407084372__ss_product_ingredients_6_fDB9mH">Coconut Oil</p>
                
                
                
                
                
              </div>
            </div>
            
          
        
          
            <div class="ingredients-modal-slide-template--25802407084372__ss_product_ingredients_6_fDB9mH swiper-slide" data-id="card_4VnAgU">
              <div class="ingredients-modal-slide-content-template--25802407084372__ss_product_ingredients_6_fDB9mH">
                <div class="ingredients-modal-slide-image-template--25802407084372__ss_product_ingredients_6_fDB9mH">
                  
                </div>
                <div class="ingredients-modal-close-template--25802407084372__ss_product_ingredients_6_fDB9mH">
                  <svg data-element="unknown" data-source-file="Carousel.js" data-sentry-element="unknown" data-sentry-source-file="Carousel.js" width="16" height="16" version="1.1" viewBox="0 0 16 16">
                    <g fill="none" fill-rule="evenodd" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"><g stroke="#142B6F" stroke-width="2"><g><g><path d="M14,14 L2,2 L14,14 Z M14,2 L2,14 L14,2 Z" transform="translate(-284.000000, -22.000000) translate(284.000000, 22.000000)"></path></g></g></g></g>
                  </svg>
                </div>
                
                  <p class="ingredients-card-title-template--25802407084372__ss_product_ingredients_6_fDB9mH">Vitamin C</p>
                
                
                
                
                
              </div>
            </div>
            
          
        
      </div>
    </div>
  </div>
  <div class="ingredients-modal-pagination-template--25802407084372__ss_product_ingredients_6_fDB9mH">
    <div class="ingredients-modal-btn-prev-template--25802407084372__ss_product_ingredients_6_fDB9mH">
      <svg width="18" height="12" version="1.1" viewBox="0 0 18 12">
        <title></title><desc></desc><g fill="none" fill-rule="evenodd" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"><g stroke="#142B6F" stroke-width="2.25"><g><g><g><path d="M-2.1938007e-13,4.0010929 L14.8845268,4.0010929 L-2.1938007e-13,4.0010929 Z M14.8845268,4 L10.862069,0.0655737705 L14.8845268,4 Z M14.8845268,4 L10.862069,7.93442623 L14.8845268,4 Z" transform="translate(-776.000000, -654.000000) translate(135.000000, 530.000000) translate(0.000000, 118.000000) translate(649.500000, 12.000000) scale(-1, 1) translate(-649.500000, -12.000000) translate(642.000000, 8.000000)"></path></g></g></g></g></g>
      </svg>
    </div>
    <span class="slide-count-template--25802407084372__ss_product_ingredients_6_fDB9mH">
      <strong class="slide-current-template--25802407084372__ss_product_ingredients_6_fDB9mH">1</strong> OF
      <strong class="slide-total-template--25802407084372__ss_product_ingredients_6_fDB9mH">6</strong>
    </span>
    <div class="ingredients-modal-btn-next-template--25802407084372__ss_product_ingredients_6_fDB9mH">
      <svg width="18" height="12" version="1.1" viewBox="0 0 18 12">
        <title></title><desc></desc><g fill="none" fill-rule="evenodd" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"><g stroke="#142B6F" stroke-width="2.25"><g><g><g><path d="M-2.1938007e-13,4.0010929 L14.8845268,4.0010929 L-2.1938007e-13,4.0010929 Z M14.8845268,4 L10.862069,0.0655737705 L14.8845268,4 Z M14.8845268,4 L10.862069,7.93442623 L14.8845268,4 Z" transform="translate(-820.000000, -654.000000) translate(135.000000, 530.000000) translate(0.000000, 118.000000) translate(687.000000, 8.000000)"></path></g></g></g></g></g>
      </svg>
    </div>
  </div>
</div>

<script src="{{ 'swiper-bundle.min_1.js' | asset_url }}"></script>

<script>
  function initProductIngredients6() {
    const slider = new Swiper(".ingredients-modal-slider-template--25802407084372__ss_product_ingredients_6_fDB9mH", {
      speed: 300,
      centeredSlides: true,    
      breakpoints: {
        320: { spaceBetween: 10, slidesPerView: 1.3 },
        768: { spaceBetween: 20, slidesPerView: 1.3 },
        1024: { spaceBetween: 30, slidesPerView: 2 }
      },
      navigation: {
        nextEl: `.ingredients-modal-btn-next-template--25802407084372__ss_product_ingredients_6_fDB9mH`,
        prevEl: `.ingredients-modal-btn-prev-template--25802407084372__ss_product_ingredients_6_fDB9mH`,
      },
      on: {
        init: function () {
          updateSlideCounter(this);
        },
        slideChange: function () {
          updateSlideCounter(this);
        }
      }
    });

    function updateSlideCounter(swiper) {
      const current = document.querySelector('.slide-current-template--25802407084372__ss_product_ingredients_6_fDB9mH');
      const total = document.querySelector('.slide-total-template--25802407084372__ss_product_ingredients_6_fDB9mH');
      if (current && total) {
        current.textContent = swiper.realIndex + 1;
        total.textContent = swiper.slides.length;
      }
    }

    let cardsLimits = document.querySelector('.ingredients-cards-template--25802407084372__ss_product_ingredients_6_fDB9mH');
    let seeAllWrapper = document.querySelector('.ingredients-see-all-wrapper-template--25802407084372__ss_product_ingredients_6_fDB9mH');

    let see = document.querySelectorAll('.ingredients-see-template--25802407084372__ss_product_ingredients_6_fDB9mH');
    let seeAll = document.querySelector('.ingredients-see-all-template--25802407084372__ss_product_ingredients_6_fDB9mH');
    let seeLess = document.querySelector('.ingredients-see-less-template--25802407084372__ss_product_ingredients_6_fDB9mH');

    see.forEach(item => {
      item.addEventListener('click', () => {
        seeAllWrapper.classList.toggle('active');
        seeAll.classList.toggle('hide');
        seeLess.classList.toggle('active');

        cardsLimits.classList.toggle('active');
        cardsFull.classList.toggle('active');
      });
    });

    const ingredientsWrapper = document.querySelectorAll('.ingredients-plus-icon-template--25802407084372__ss_product_ingredients_6_fDB9mH');
    const modal = document.querySelector(".ingredients-modal-template--25802407084372__ss_product_ingredients_6_fDB9mH");
    const close = document.querySelectorAll(".ingredients-modal-close-template--25802407084372__ss_product_ingredients_6_fDB9mH");

    ingredientsWrapper.forEach(item => {
      item.addEventListener('click', () => {
        if (modal) {
          modal.classList.add("active");           
          document.body.style.overflow = 'hidden';    
        }

        let clickedId = item.id;
        let slides = document.querySelectorAll(".ingredients-modal-slider-template--25802407084372__ss_product_ingredients_6_fDB9mH .swiper-slide");

        slides.forEach((slide, index) => {
          if (slide.getAttribute("data-id") === clickedId) {
            slider.slideTo(index);
          }
        });
      });

      close.forEach(item => {
        item.addEventListener('click', () => {
          if (modal) {
            modal.classList.remove("active");   
            document.body.style.overflow = '';           
          }
        });
      });

      document.addEventListener('click', (e) => {
        if (e.target == modal) {
          document.body.style.overflow = '';
          modal.classList.remove('active');
        }
      });
    });
  }

  document.addEventListener('DOMContentLoaded', initProductIngredients6);

  if (Shopify.designMode) {
    document.addEventListener('shopify:section:unload', initProductIngredients6);
    document.addEventListener('shopify:section:load', initProductIngredients6);
  }
</script>


</div><div id="shopify-section-template--25802407084372__image_with_text_PTmbhR" class="shopify-section section"><style data-shopify="">.section-template--25802407084372__image_with_text_PTmbhR-padding {
    padding-top: 27px;
    padding-bottom: 27px;
  }

  @media screen and (min-width: 750px) {
    .section-template--25802407084372__image_with_text_PTmbhR-padding {
      padding-top: 36px;
      padding-bottom: 36px;
    }
  }</style><div class="color-background-1 content-for-grouping animate-section animate--hidden always-display">
  
  <div class="image-with-text image-with-text--no-overlap image-with-text--mobile-normal page-width isolate collapse-corners same-colors collapse-padding section-template--25802407084372__image_with_text_PTmbhR-padding">
    <div class="image-with-text__grid grid grid--gapless grid--1-col grid--2-col-tablet animate-item">
      <div class="image-with-text__media-item image-with-text__media-item--medium image-with-text__media-item--middle grid__item">
        <div class="image-with-text__media image-with-text__media--adapt gradient color-background-1 global-media-settings media" style="padding-bottom: 100.0%;"><img src="{{ 'im.png' | asset_url }}" alt="" srcset="{{ 'im_1.png' | asset_url }} 165w, {{ 'im_4.png' | asset_url }} 360w, {{ 'im_2.png' | asset_url }} 535w, {{ 'im_3.png' | asset_url }} 750w, {{ 'im_5.png' | asset_url }} 1070w, {{ 'im.png' | asset_url }} 1500w" width="1500" height="1500" loading="lazy" sizes="(min-width: 1200px) 550px,
              (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)">
</div>
      </div>
      <div class="image-with-text__text-item grid__item">
        <div id="ImageWithText--template--25802407084372__image_with_text_PTmbhR" class="image-with-text__content image-with-text__content--middle image-with-text__content--desktop-left image-with-text__content--mobile-left image-with-text__content--adapt gradient color-background-1 content-container"><h2 class="image-with-text__heading h1">
                  What Sets Our Turmeric Apart?
                </h2>
              <div class="image-with-text__text rte body">
                  <p>Most turmeric supplements on the market sound the same—but there are <em>critical differences</em> that affect how well they work in your body. Here’s why ours stands out:</p>
                </div>


<div class="product__text-container product__text-container--left product__text-container--mobile-left product__text-container--vertical product__text-container--100%" style="--item-count:1;--mobile-text-size: 2.0rem;--desktop-text-size: 2.0rem;--icon-scale:1.2;--column-gap:1.5em;--row-gap:0.6em;--padding:0.42857142857142855em;--bg-color:#f3f3f3;--corner-radius:0.4em;--border-size:0px;--border-color:#b7b7b7;">
  
    <p class="product__text product__text-left product__text-mobile-left" style="--text-color:#121212;--icon-color:#121212;">
      
        <span class="material-icon material-symbols-outlined">
  check_circle
</span>
      
      <span><strong>Clinically Effective Dosage</strong></span>
    </p>
  
  
  
</div>

              


<div class="product__text-container product__text-container--left product__text-container--mobile-left product__text-container--vertical product__text-container--100%" style="--item-count:1;--mobile-text-size: 1.4rem;--desktop-text-size: 1.6rem;--icon-scale:1.2;--column-gap:1.5em;--row-gap:0.6em;--padding:0.42857142857142855em;--bg-color:#f3f3f3;--corner-radius:0.4em;--border-size:0px;--border-color:#b7b7b7;">
  
    <p class="product__text product__text-left product__text-mobile-left" style="--text-color:#121212;--icon-color:#121212;">
      
      <span>We don’t just sprinkle in turmeric for the label—we use a <strong>high-potency extract standardized to 95% curcuminoids</strong>, the active compounds responsible for its anti-inflammatory benefits. This matches the <strong>clinical dose used in human studies</strong> for joint health, pain reduction, and systemic inflammation.</span>
    </p>
  
  
  
</div>

              


<div class="product__text-container product__text-container--left product__text-container--mobile-left product__text-container--vertical product__text-container--100%" style="--item-count:1;--mobile-text-size: 2.0rem;--desktop-text-size: 2.0rem;--icon-scale:1.2;--column-gap:1.5em;--row-gap:0.6em;--padding:0.42857142857142855em;--bg-color:#f3f3f3;--corner-radius:0.4em;--border-size:0px;--border-color:#b7b7b7;">
  
    <p class="product__text product__text-left product__text-mobile-left" style="--text-color:#121212;--icon-color:#121212;">
      
        <span class="material-icon material-symbols-outlined">
  check_circle
</span>
      
      <span><strong>Enhanced Absorption with Black Pepper</strong></span>
    </p>
  
  
  
</div>

              


<div class="product__text-container product__text-container--left product__text-container--mobile-left product__text-container--vertical product__text-container--100%" style="--item-count:1;--mobile-text-size: 1.4rem;--desktop-text-size: 1.6rem;--icon-scale:1.2;--column-gap:1.5em;--row-gap:0.6em;--padding:0.42857142857142855em;--bg-color:#f3f3f3;--corner-radius:0.4em;--border-size:0px;--border-color:#b7b7b7;">
  
    <p class="product__text product__text-left product__text-mobile-left" style="--text-color:#121212;--icon-color:#121212;">
      
      <span>Curcumin (the active compound in turmeric) is notoriously hard for the body to absorb. That’s why we include a patented black pepper extract proven in clinical studies to <strong>boost absorption by up to 2000%</strong>.</span>
    </p>
  
  
  
</div>

              


<div class="product__text-container product__text-container--left product__text-container--mobile-left product__text-container--vertical product__text-container--100%" style="--item-count:1;--mobile-text-size: 2.0rem;--desktop-text-size: 2.0rem;--icon-scale:1.2;--column-gap:1.5em;--row-gap:0.6em;--padding:0.42857142857142855em;--bg-color:#f3f3f3;--corner-radius:0.4em;--border-size:0px;--border-color:#b7b7b7;">
  
    <p class="product__text product__text-left product__text-mobile-left" style="--text-color:#121212;--icon-color:#121212;">
      
        <span class="material-icon material-symbols-outlined">
  check_circle
</span>
      
      <span><strong>Sourced for Purity &amp; Potency</strong></span>
    </p>
  
  
  
</div>

              


<div class="product__text-container product__text-container--left product__text-container--mobile-left product__text-container--vertical product__text-container--100%" style="--item-count:1;--mobile-text-size: 1.4rem;--desktop-text-size: 1.6rem;--icon-scale:1.2;--column-gap:1.5em;--row-gap:0.6em;--padding:0.42857142857142855em;--bg-color:#f3f3f3;--corner-radius:0.4em;--border-size:0px;--border-color:#b7b7b7;">
  
    <p class="product__text product__text-left product__text-mobile-left" style="--text-color:#121212;--icon-color:#121212;">
      
      <span>Our turmeric is sourced from <strong>organically grown roots</strong> and extracted using a <strong>solvent-free, clean extraction method</strong> that preserves the full spectrum of beneficial compounds—without the fillers, additives, or artificial preservatives you’ll find in cheaper alternatives.</span>
    </p>
  
  
  
</div>

              


<div class="product__text-container product__text-container--left product__text-container--mobile-left product__text-container--vertical product__text-container--100%" style="--item-count:1;--mobile-text-size: 2.0rem;--desktop-text-size: 2.0rem;--icon-scale:1.2;--column-gap:1.5em;--row-gap:0.6em;--padding:0.42857142857142855em;--bg-color:#f3f3f3;--corner-radius:0.4em;--border-size:0px;--border-color:#b7b7b7;">
  
    <p class="product__text product__text-left product__text-mobile-left" style="--text-color:#121212;--icon-color:#121212;">
      
        <span class="material-icon material-symbols-outlined">
  check_circle
</span>
      
      <span><strong>Doctor-Formulated for Real-World Results</strong></span>
    </p>
  
  
  
</div>

              


<div class="product__text-container product__text-container--left product__text-container--mobile-left product__text-container--vertical product__text-container--100%" style="--item-count:1;--mobile-text-size: 1.4rem;--desktop-text-size: 1.6rem;--icon-scale:1.2;--column-gap:1.5em;--row-gap:0.6em;--padding:0.42857142857142855em;--bg-color:#f3f3f3;--corner-radius:0.4em;--border-size:0px;--border-color:#b7b7b7;">
  
    <p class="product__text product__text-left product__text-mobile-left" style="--text-color:#121212;--icon-color:#121212;">
      
      <span>This formula was developed by health experts with years of clinical experience in inflammation and joint health—combining <strong>scientific evidence and real-world use cases</strong> to deliver a supplement you can feel good about taking every day.</span>
    </p>
  
  
  
</div>

              </div>
      </div>
    </div>
  </div>
</div>


</div><div id="shopify-section-template--25802407084372__ss_testimonial_28_7XJPFm" class="shopify-section">

<link rel="stylesheet" href="css/swiper-bundle.min.css"><style data-shopify="">@font-face {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("fonts/josefinsans_n4.70f7efd699799949e6d9f99bc20843a2c86a2e0f.woff2") format("woff2"),
       url("fonts/josefinsans_n4.35d308a1bdf56e5556bc2ac79702c721e4e2e983.woff") format("woff");
}

  @font-face {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("fonts/josefinsans_n4.70f7efd699799949e6d9f99bc20843a2c86a2e0f.woff2") format("woff2"),
       url("fonts/josefinsans_n4.35d308a1bdf56e5556bc2ac79702c721e4e2e983.woff") format("woff");
}

  @font-face {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("fonts/josefinsans_n4.70f7efd699799949e6d9f99bc20843a2c86a2e0f.woff2") format("woff2"),
       url("fonts/josefinsans_n4.35d308a1bdf56e5556bc2ac79702c721e4e2e983.woff") format("woff");
}


  .section-template--25802407084372__ss_testimonial_28_7XJPFm {
    border-top: solid #121212 0px;
    border-bottom: solid #121212 0px;
    margin-top: 0px;
    margin-bottom: 33px;
    margin-left: 0rem;
    margin-right: 0rem;
    border-radius: 0px;
    overflow: hidden;
  }
  
  .section-template--25802407084372__ss_testimonial_28_7XJPFm-settings {
    margin: 0 auto;
    padding-top: 27px;
    padding-bottom: 75px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .testimonials-body-template--25802407084372__ss_testimonial_28_7XJPFm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .testimonials-review-template--25802407084372__ss_testimonial_28_7XJPFm {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .testimonials-review-content-template--25802407084372__ss_testimonial_28_7XJPFm {
    display: flex;
    flex-direction: column;
    row-gap: 4px;

  }

  .testimonials-stars-template--25802407084372__ss_testimonial_28_7XJPFm {
    display: flex;
    align-items: center;
    gap: 1px;
    max-width: fit-content;
  }

  .testimonials-stars-wrapper-template--25802407084372__ss_testimonial_28_7XJPFm {
    display: flex;
    align-items: center;
    
      justify-content: start;
    
    gap: 10px;
  }
  
  .testimonials-authors-template--25802407084372__ss_testimonial_28_7XJPFm {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
  }

  .testimonials-author-image-template--25802407084372__ss_testimonial_28_7XJPFm img,
  .testimonials-author-image-template--25802407084372__ss_testimonial_28_7XJPFm svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .testimonials-review-template--25802407084372__ss_testimonial_28_7XJPFm {
    justify-content: center;
  }

  .testimonials-slider-wrapper-template--25802407084372__ss_testimonial_28_7XJPFm {
    display: grid;
  }

  .testimonials-slider-template--25802407084372__ss_testimonial_28_7XJPFm {
    min-width: auto !important;
    align-items: stretch !important;
    margin-left: -1.5rem !important;
    margin-right: -1.5rem !important;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    margin-top: 28px !important;
  }

  .testimonials-slide-template--25802407084372__ss_testimonial_28_7XJPFm {
    height: auto !important;
    display: flex !important;
    flex-direction: column !important;
    box-sizing: border-box !important;
    border: 0px solid #121212 !important;
    border-radius: 16px !important;
    background-color: #ffffff !important;
    overflow: hidden !important;
  }

  .testimonials-media-template--25802407084372__ss_testimonial_28_7XJPFm {
    position: relative;
    overflow: hidden;
  }

  .testimonials-media-template--25802407084372__ss_testimonial_28_7XJPFm:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .testimonials-media-template--25802407084372__ss_testimonial_28_7XJPFm img,
  .testimonials-media-template--25802407084372__ss_testimonial_28_7XJPFm svg,  
  .testimonials-media-template--25802407084372__ss_testimonial_28_7XJPFm video,
  .testimonials-media-template--25802407084372__ss_testimonial_28_7XJPFm iframe{
    border: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .testimonials-media-template--25802407084372__ss_testimonial_28_7XJPFm iframe {
    pointer-events: none;
  }

  .testimonials-media-template--25802407084372__ss_testimonial_28_7XJPFm svg {
    background-color: #AFAFAF;
  }

  .testimonials-content-template--25802407084372__ss_testimonial_28_7XJPFm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 0;
    padding: 20px 20px;    
  }

  .testimonials-slide-text-template--25802407084372__ss_testimonial_28_7XJPFm {
    text-align: left;
  }

  .testimonials-slide-text-template--25802407084372__ss_testimonial_28_7XJPFm * {
    margin: 0px;
    font-size: 14px;
    line-height: 150%;
    color: #121212;
    text-transform: unset;
    word-break: break-word;
    font-weight: 400;
  }

  .testimonials-slide-stars-template--25802407084372__ss_testimonial_28_7XJPFm {
    display: flex;
    align-items: center;
    gap: 1px;
    max-width: fit-content;
  }

  .testimonials-slide-stars-wrapper-template--25802407084372__ss_testimonial_28_7XJPFm {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: start;
    gap: 10px;
    margin-top: 20px;
  }
  
  .testimonials-slide-stars-template--25802407084372__ss_testimonial_28_7XJPFm svg,
  .testimonials-slide-stars-template--25802407084372__ss_testimonial_28_7XJPFm img {
    display: block;
    width: 16px;
    height: 16px;
    object-fit: cover;
  }

  .testimonials-slide-stars-badge-template--25802407084372__ss_testimonial_28_7XJPFm {
    padding: 4px 6px;
    border-radius: 2px;
    background-color: #f3f3f3;
    margin: 0;    
    text-align: center;
    text-transform: unset;
    word-wrap: break-word;
    font-size: 11px;
    line-height: 100%;
    color: #121212;  
    font-weight: 700;
  }

  .testimonials-slide-author-template--25802407084372__ss_testimonial_28_7XJPFm {
    margin: 0;  
    margin-top: 12px;
    font-size: 13px;
    line-height: 130%;
    color: #121212;  
    text-transform: unset;
    word-wrap: break-word;
    text-align: left;
    font-weight: 700;
  }

  .testimonials-play-template--25802407084372__ss_testimonial_28_7XJPFm {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    background-color: #121212;
    border-radius: 100px;
    padding: 16.8px;
    transition: all 0.25s ease 0s;
    cursor: pointer;
  }

  .testimonials-play-template--25802407084372__ss_testimonial_28_7XJPFm.active {
    display: block;
  }

  .testimonials-play-template--25802407084372__ss_testimonial_28_7XJPFm svg {
    display: block;
    background: none;
    width: 24px;
    height: 24px;
    object-fit: cover;
  }

  .testimonials-play-template--25802407084372__ss_testimonial_28_7XJPFm svg {
    fill: #ffffff;
    transition: all 0.25s ease 0s;
  }

  .testimonials-buttons-template--25802407084372__ss_testimonial_28_7XJPFm {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
    margin-top: 24px;
    justify-content: center;
  }

  .testimonials-btn-prev-template--25802407084372__ss_testimonial_28_7XJPFm,
  .testimonials-btn-next-template--25802407084372__ss_testimonial_28_7XJPFm {
    display: flex;
    width: 40px;
    height: 40px;
    border: 0px;
    border: 0px solid #121212;
    border-radius: 100px;
    background: transparent;
    background: #121212;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    -webkit-appearance: none;
    /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,.15); */
  }

  .testimonials-btn-prev-template--25802407084372__ss_testimonial_28_7XJPFm .animate-icon,
  .testimonials-btn-next-template--25802407084372__ss_testimonial_28_7XJPFm .animate-icon {
    pointer-events: none;
    place-items: center;
    display: grid;
  }

  .testimonials-btn-prev-template--25802407084372__ss_testimonial_28_7XJPFm .animate-icon:before,
  .testimonials-btn-next-template--25802407084372__ss_testimonial_28_7XJPFm .animate-icon:before {
    content: "";
    grid-area: 1 / -1;
    transition: all .2s ease;
    width: 10px;
    height: 10px;
    transform: rotate(calc(1 * 45deg));
    box-sizing: border-box;
    border-style: solid;
    border: 0px;
    border-right: 2px solid currentColor;
    border-top: 2px solid currentColor;
    position: relative;
    left: -1px;
  }

  .testimonials-btn-prev-template--25802407084372__ss_testimonial_28_7XJPFm .animate-icon:before {
    left: unset;
    right: -1px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 2px solid currentColor;
    border-left: 2px solid currentColor;
  }

  .testimonials-btn-prev-template--25802407084372__ss_testimonial_28_7XJPFm .animate-icon:after,
  .testimonials-btn-next-template--25802407084372__ss_testimonial_28_7XJPFm .animate-icon:after {
    content: "";
    grid-area: 1 / -1;
    transition: all .2s ease;
    width: 9.7px;
    height: 1.6px;
    transform-origin: center;
    opacity: 0;
    background: currentColor;
    transform: scaleX(.5);
  }

  .testimonials-btn-prev-template--25802407084372__ss_testimonial_28_7XJPFm span,
  .testimonials-btn-next-template--25802407084372__ss_testimonial_28_7XJPFm span {
    color: #ffffff;
  }

  .testimonials-btn-prev-template--25802407084372__ss_testimonial_28_7XJPFm.swiper-button-disabled,
  .testimonials-btn-next-template--25802407084372__ss_testimonial_28_7XJPFm.swiper-button-disabled {
    opacity: 0.5;
  }

  @media(min-width: 1024px) {

    .section-template--25802407084372__ss_testimonial_28_7XJPFm {
      margin-top: 0px;
      margin-bottom: 44px;
      margin-left: 0rem;
      margin-right: 0rem;
      border-radius: 0px;
    }
    
    .section-template--25802407084372__ss_testimonial_28_7XJPFm-settings {
      padding: 0 5rem;
      padding-top: 36px;
      padding-bottom: 100px;
      padding-left: 5rem;
      padding-right: 5rem;
    }

    .testimonials-stars-wrapper-template--25802407084372__ss_testimonial_28_7XJPFm {
      
        justify-content: start;
      
    }    

    .testimonials-body-template--25802407084372__ss_testimonial_28_7XJPFm {
      align-items: center;
    }

    .testimonials-slider-template--25802407084372__ss_testimonial_28_7XJPFm {
      margin-top: 40px !important;
      overflow: hidden !important;
      margin-left: 0rem !important;
      margin-right: 0rem !important;
      padding-left: 0rem !important;
      padding-right: 0rem !important;
    }

    .testimonials-content-template--25802407084372__ss_testimonial_28_7XJPFm {
      padding: 20px 20px;    
    }

    .testimonials-slide-text-template--25802407084372__ss_testimonial_28_7XJPFm {
      text-align: left;
    }

    .testimonials-slide-text-template--25802407084372__ss_testimonial_28_7XJPFm * {
      font-size: 15px;
    }

    .testimonials-slide-stars-wrapper-template--25802407084372__ss_testimonial_28_7XJPFm {
      margin-top: 20px;
      justify-content: start;
    }
        
    .testimonials-slide-stars-template--25802407084372__ss_testimonial_28_7XJPFm svg,
    .testimonials-slide-stars-template--25802407084372__ss_testimonial_28_7XJPFm img {
      width: 18px;
      height: 18px;
    } 
    
    .testimonials-slide-stars-badge-template--25802407084372__ss_testimonial_28_7XJPFm {
      padding: 4px 6px;
      font-size: 12px; 
    }

    .testimonials-slide-author-template--25802407084372__ss_testimonial_28_7XJPFm {
      margin-top: 16px;
      font-size: 14px;
      text-align: left;
    }

    .testimonials-play-template--25802407084372__ss_testimonial_28_7XJPFm {
      padding: 14.0px;
    }

    .testimonials-play-template--25802407084372__ss_testimonial_28_7XJPFm svg {
      width: 20px;
      height: 20px;
    }
    
    .testimonials-media-template--25802407084372__ss_testimonial_28_7XJPFm:hover .testimonials-play-template--25802407084372__ss_testimonial_28_7XJPFm {
      background-color: #ffffff;
      transition: all 0.25s ease 0s;
    }

    .testimonials-media-template--25802407084372__ss_testimonial_28_7XJPFm:hover .testimonials-play-template--25802407084372__ss_testimonial_28_7XJPFm svg {
      fill: #121212;
      transition: all 0.25s ease 0s;
    }

    .testimonials-buttons-template--25802407084372__ss_testimonial_28_7XJPFm {
      gap: 20px;
      margin-top: 32px;
    }

    .testimonials-btn-prev-template--25802407084372__ss_testimonial_28_7XJPFm,
    .testimonials-btn-next-template--25802407084372__ss_testimonial_28_7XJPFm {
      width: 40px;
      height: 40px;
      transition: all 0.25s ease 0s;
    }

    .testimonials-btn-prev-template--25802407084372__ss_testimonial_28_7XJPFm .animate-icon:before,
    .testimonials-btn-next-template--25802407084372__ss_testimonial_28_7XJPFm .animate-icon:before {
      width: 10px;
      height: 10px;
    }

    .testimonials-btn-prev-template--25802407084372__ss_testimonial_28_7XJPFm .animate-icon:after,
    .testimonials-btn-next-template--25802407084372__ss_testimonial_28_7XJPFm .animate-icon:after {
      width: 9.7px;
    }
  }</style>
  <style>
    .section-template--25802407084372__ss_testimonial_28_7XJPFm-settings {
      max-width: 1200px;
    }
  </style>













  <style>
    .testimonials-media-template--25802407084372__ss_testimonial_28_7XJPFm {
      aspect-ratio: 12/12;
    }
  </style>



  <style>
    @media (min-width: 1024px) {
      .testimonials-media-template--25802407084372__ss_testimonial_28_7XJPFm {
        aspect-ratio: 12/12;
      }
    }
  </style>






  <style>
    @media(min-width: 1024px) {
      .testimonials-stars-template--25802407084372__ss_testimonial_28_7XJPFm {
        order: 1;
      }
    }
  </style>



  <style>
    .testimonials-btn-prev-template--25802407084372__ss_testimonial_28_7XJPFm:hover,
    .testimonials-btn-next-template--25802407084372__ss_testimonial_28_7XJPFm:hover {
      transition: all 0.3s ease 0s;
      border: 0px solid #121212;
      background: #ffffff;
    }
  
    .testimonials-btn-prev-template--25802407084372__ss_testimonial_28_7XJPFm:hover .animate-icon,
    .testimonials-btn-next-template--25802407084372__ss_testimonial_28_7XJPFm:hover .animate-icon {
      color: #121212;
    }
  </style>



  <style>
    .testimonials-buttons-template--25802407084372__ss_testimonial_28_7XJPFm {
      display: none;
    }
  </style>



  <style>
    @media(min-width: 1024px) {
      .testimonials-buttons-template--25802407084372__ss_testimonial_28_7XJPFm {
        display: flex;
      }
    }
  </style>




<style>
  .testimonials-slider-template--25802407084372__ss_testimonial_28_7XJPFm.preview .swiper-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
  }

  .testimonials-slider-template--25802407084372__ss_testimonial_28_7XJPFm.preview .testimonials-slide-template--25802407084372__ss_testimonial_28_7XJPFm {
    width: 100%;
  }

  .testimonials-slider-template--25802407084372__ss_testimonial_28_7XJPFm.preview .testimonials-slide-template--25802407084372__ss_testimonial_28_7XJPFm:not(:first-child) {
    margin-left: 16px;
  } 

  @media(min-width: 1024px) {
    .testimonials-slider-template--25802407084372__ss_testimonial_28_7XJPFm.preview .testimonials-slide-template--25802407084372__ss_testimonial_28_7XJPFm:not(:first-child) {
      margin-left: 20px;
    } 

    .testimonials-slider-template--25802407084372__ss_testimonial_28_7XJPFm.preview .testimonials-slide-template--25802407084372__ss_testimonial_28_7XJPFm {
      width: calc(100% / 4 - (20px));
    }
  }
</style>


  
      <style>
        @font-face {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("fonts/josefinsans_n4.70f7efd699799949e6d9f99bc20843a2c86a2e0f.woff2") format("woff2"),
       url("fonts/josefinsans_n4.35d308a1bdf56e5556bc2ac79702c721e4e2e983.woff") format("woff");
}


        .testimonials-review-review_PxGGHe {
          margin-top: 10px;
        }

        .testimonials-author-image-review_PxGGHe {
          border: 2px solid #ffffff;
          border-radius: 100px;
          overflow: hidden;
          width: 38px;
          height: 38px;
          background-color: #f6f5f1;
        }

        .testimonials-author-image-review_PxGGHe:not(:first-child) {
          margin-right: -19.0px;
        }

        .testimonials-author-image-review_PxGGHe:nth-child(2) {
          transform: scale(0.9);
        }

        .testimonials-author-image-review_PxGGHe:nth-child(3) {
          transform: scale(0.85);
        }

        .testimonials-author-image-review_PxGGHe:nth-child(4) {
          transform: scale(0.75);
        }

        .testimonials-review-text-review_PxGGHe,
        .testimonials-stars-count-review_PxGGHe {
          word-wrap: break-word;
          margin: 0;
          font-size: 13px;
          color: #121212;
          line-height: 130%;
          text-align: center;
          text-transform: unset;
          font-weight: 400;
        }

        .testimonials-stars-count-review_PxGGHe {
          margin-top: 0;
          color: #121212;
        }

        .testimonials-stars-review_PxGGHe svg,
        .testimonials-stars-review_PxGGHe img {
          display: block;
          width: 16px;
          height: 16px;
          object-fit: cover;
        }

        @media (min-width: 1024px) {
          .testimonials-review-review_PxGGHe {
            margin-top: 16px;
            text-align: center;
          }

          
          .testimonials-author-image-review_PxGGHe {
            width: 38px;
            height: 38px;
          }

          .testimonials-author-image-review_PxGGHe:not(:first-child) {
            margin-right: -19.0px;
          }

          .testimonials-review-text-review_PxGGHe,
          .testimonials-stars-count-review_PxGGHe {
            font-size: 16px;
            text-align: center;
          }

          .testimonials-stars-review_PxGGHe svg,
          .testimonials-stars-review_PxGGHe img {
            width: 18px;
            height: 18px;
          }
        }
      </style>

        

      
        <style>
          .testimonials-authors-template--25802407084372__ss_testimonial_28_7XJPFm {
            order: 1;
          }

          .testimonials-review-content-template--25802407084372__ss_testimonial_28_7XJPFm {
            order: 2;
          }
        </style>
      
      
      
        <style>
          @media(min-width: 1024px) {
            .testimonials-authors-template--25802407084372__ss_testimonial_28_7XJPFm {
              order: 1;
            }

            .testimonials-review-content-template--25802407084372__ss_testimonial_28_7XJPFm {
              order: 2;
            }
          }   
        </style>
      
  
    

    
      <style>
        @font-face {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("fonts/josefinsans_n4.70f7efd699799949e6d9f99bc20843a2c86a2e0f.woff2") format("woff2"),
       url("fonts/josefinsans_n4.35d308a1bdf56e5556bc2ac79702c721e4e2e983.woff") format("woff");
}


        .testimonials-heading-heading_nw8JDX {
          margin-top: 16px;
          text-align: center;
        }
      
        .testimonials-heading-heading_nw8JDX * {
          margin: 0;
          font-size: 32px;
          color: #121212;
          line-height: 130%;
          text-transform: unset;
          word-break: break-word;
          font-weight: 700;
        }

        .testimonials-heading-heading_nw8JDX * strong {
          text-decoration: underline #00b67d;
        }

        @media(min-width: 1024px) {
          
          .testimonials-heading-heading_nw8JDX {
            margin-top: 12px;
            text-align: center;
            max-width: 80%;
          }
        
          .testimonials-heading-heading_nw8JDX * {
            font-size: 48px;
          }
        }          
      </style>
        
      

    

  

  

  

  


<div class="section-template--25802407084372__ss_testimonial_28_7XJPFm testimonials-template--25802407084372__ss_testimonial_28_7XJPFm" style="background-color:#f6f5f1; background-image: ;">
    <div class="section-template--25802407084372__ss_testimonial_28_7XJPFm-settings">
      <div class="testimonials-body-template--25802407084372__ss_testimonial_28_7XJPFm">
        
                
            
              <div class="testimonials-review-template--25802407084372__ss_testimonial_28_7XJPFm testimonials-review-review_PxGGHe">
                <div class="testimonials-authors-template--25802407084372__ss_testimonial_28_7XJPFm">
                  
                  
                  
                  
                </div>
                <div class="testimonials-review-content-template--25802407084372__ss_testimonial_28_7XJPFm">
                  
                    <p class="testimonials-review-text-review_PxGGHe">50K+ Happy Customers</p>
                    
                  
                    <div class="testimonials-stars-wrapper-template--25802407084372__ss_testimonial_28_7XJPFm">                       
                      <div class="testimonials-stars-template--25802407084372__ss_testimonial_28_7XJPFm testimonials-stars-review_PxGGHe">
                        
                          
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                              
                              <rect width="32" height="32" fill="#00b67a"></rect>
                              <g clip-path="url(#clip0_25_4)">
                              <path d="M9.20283 27L16.001 21.807L22.7972 27L20.2018 18.596L27 13.403H18.5984L16.001 5L13.4037 13.403H5L11.7982 18.596L9.20283 27Z" fill="#ffffff"></path>
                              </g>
                              <defs>
                              <clipPath id="clip0_25_4">
                              <rect width="22" height="22" fill="#ffffff" transform="translate(5 5)"></rect>
                              </clipPath>
                              </defs>
                            </svg>
                          
                          
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                              
                              <rect width="32" height="32" fill="#00b67a"></rect>
                              <g clip-path="url(#clip0_25_4)">
                              <path d="M9.20283 27L16.001 21.807L22.7972 27L20.2018 18.596L27 13.403H18.5984L16.001 5L13.4037 13.403H5L11.7982 18.596L9.20283 27Z" fill="#ffffff"></path>
                              </g>
                              <defs>
                              <clipPath id="clip0_25_4">
                              <rect width="22" height="22" fill="#ffffff" transform="translate(5 5)"></rect>
                              </clipPath>
                              </defs>
                            </svg>
                          
                          
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                              
                              <rect width="32" height="32" fill="#00b67a"></rect>
                              <g clip-path="url(#clip0_25_4)">
                              <path d="M9.20283 27L16.001 21.807L22.7972 27L20.2018 18.596L27 13.403H18.5984L16.001 5L13.4037 13.403H5L11.7982 18.596L9.20283 27Z" fill="#ffffff"></path>
                              </g>
                              <defs>
                              <clipPath id="clip0_25_4">
                              <rect width="22" height="22" fill="#ffffff" transform="translate(5 5)"></rect>
                              </clipPath>
                              </defs>
                            </svg>
                          
                          
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                              
                              <rect width="32" height="32" fill="#00b67a"></rect>
                              <g clip-path="url(#clip0_25_4)">
                              <path d="M9.20283 27L16.001 21.807L22.7972 27L20.2018 18.596L27 13.403H18.5984L16.001 5L13.4037 13.403H5L11.7982 18.596L9.20283 27Z" fill="#ffffff"></path>
                              </g>
                              <defs>
                              <clipPath id="clip0_25_4">
                              <rect width="22" height="22" fill="#ffffff" transform="translate(5 5)"></rect>
                              </clipPath>
                              </defs>
                            </svg>
                          
                          
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                              
                              <rect width="32" height="32" fill="#00b67a"></rect>
                              <g clip-path="url(#clip0_25_4)">
                              <path d="M9.20283 27L16.001 21.807L22.7972 27L20.2018 18.596L27 13.403H18.5984L16.001 5L13.4037 13.403H5L11.7982 18.596L9.20283 27Z" fill="#ffffff"></path>
                              </g>
                              <defs>
                              <clipPath id="clip0_25_4">
                              <rect width="22" height="22" fill="#ffffff" transform="translate(5 5)"></rect>
                              </clipPath>
                              </defs>
                            </svg>
                          
                        
                      </div>
                      
                        <p class="testimonials-stars-count-template--25802407084372__ss_testimonial_28_7XJPFm testimonials-stars-count-review_PxGGHe">Excellent 4.9</p>
                      
                    </div>
                                       
                </div>                                        
              </div>  
            
                 
        
          
            
              <div class="testimonials-heading-heading_nw8JDX">
                <h2>What Real Customers Are Saying</h2>
              </div>
            
                 
        
                 
        
                 
        
                 
        
                 
        
        <div class="testimonials-slider-wrapper-template--25802407084372__ss_testimonial_28_7XJPFm">
          <div class="testimonials-slider-template--25802407084372__ss_testimonial_28_7XJPFm swiper preview" data-gap="20" data-gap-mobile="16" data-view="4" data-view-mobile="1.3">
            <div class="swiper-wrapper">
              
                
                  
                
                  
                
                  
                    <div class="testimonials-slide-template--25802407084372__ss_testimonial_28_7XJPFm swiper-slide">
                      <div class="testimonials-media-template--25802407084372__ss_testimonial_28_7XJPFm">
                                           
                          
                            <img src="{{ 'new-ugc1.jpg' | asset_url }}" alt="" loading="lazy">
                                             
                                             
                      </div>
                      <div class="testimonials-content-template--25802407084372__ss_testimonial_28_7XJPFm">
                        
                          <div class="testimonials-slide-text-template--25802407084372__ss_testimonial_28_7XJPFm"><p><em>“I’ve tried several turmeric supplements, and this is the only one where I actually felt a difference. My knees used to ache getting out of bed—now I barely notice it. Highly recommend!”</em></p></div>
                        
                        <div class="testimonials-bottom-template--25802407084372__ss_testimonial_28_7XJPFm">
                          <div class="testimonials-slide-review-template--25802407084372__ss_testimonial_28_7XJPFm">
                            
                              <div class="testimonials-slide-stars-wrapper-template--25802407084372__ss_testimonial_28_7XJPFm">                       
                                <div class="testimonials-slide-stars-template--25802407084372__ss_testimonial_28_7XJPFm testimonials-slide-stars-slide_UzYEMy">
                                  
                                    
                                      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        
                                        <rect width="32" height="32" fill="#00b67a"></rect>
                                        <g clip-path="url(#clip0_25_4)">
                                        <path d="M9.20283 27L16.001 21.807L22.7972 27L20.2018 18.596L27 13.403H18.5984L16.001 5L13.4037 13.403H5L11.7982 18.596L9.20283 27Z" fill="#ffffff"></path>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_25_4">
                                        <rect width="22" height="22" fill="#ffffff" transform="translate(5 5)"></rect>
                                        </clipPath>
                                        </defs>
                                      </svg>
                                    
                                    
                                      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        
                                        <rect width="32" height="32" fill="#00b67a"></rect>
                                        <g clip-path="url(#clip0_25_4)">
                                        <path d="M9.20283 27L16.001 21.807L22.7972 27L20.2018 18.596L27 13.403H18.5984L16.001 5L13.4037 13.403H5L11.7982 18.596L9.20283 27Z" fill="#ffffff"></path>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_25_4">
                                        <rect width="22" height="22" fill="#ffffff" transform="translate(5 5)"></rect>
                                        </clipPath>
                                        </defs>
                                      </svg>
                                    
                                    
                                      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        
                                        <rect width="32" height="32" fill="#00b67a"></rect>
                                        <g clip-path="url(#clip0_25_4)">
                                        <path d="M9.20283 27L16.001 21.807L22.7972 27L20.2018 18.596L27 13.403H18.5984L16.001 5L13.4037 13.403H5L11.7982 18.596L9.20283 27Z" fill="#ffffff"></path>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_25_4">
                                        <rect width="22" height="22" fill="#ffffff" transform="translate(5 5)"></rect>
                                        </clipPath>
                                        </defs>
                                      </svg>
                                    
                                    
                                      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        
                                        <rect width="32" height="32" fill="#00b67a"></rect>
                                        <g clip-path="url(#clip0_25_4)">
                                        <path d="M9.20283 27L16.001 21.807L22.7972 27L20.2018 18.596L27 13.403H18.5984L16.001 5L13.4037 13.403H5L11.7982 18.596L9.20283 27Z" fill="#ffffff"></path>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_25_4">
                                        <rect width="22" height="22" fill="#ffffff" transform="translate(5 5)"></rect>
                                        </clipPath>
                                        </defs>
                                      </svg>
                                    
                                    
                                      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        
                                        <rect width="32" height="32" fill="#00b67a"></rect>
                                        <g clip-path="url(#clip0_25_4)">
                                        <path d="M9.20283 27L16.001 21.807L22.7972 27L20.2018 18.596L27 13.403H18.5984L16.001 5L13.4037 13.403H5L11.7982 18.596L9.20283 27Z" fill="#ffffff"></path>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_25_4">
                                        <rect width="22" height="22" fill="#ffffff" transform="translate(5 5)"></rect>
                                        </clipPath>
                                        </defs>
                                      </svg>
                                    
                                  
                                </div>               
                                
                                  <p class="testimonials-slide-stars-badge-template--25802407084372__ss_testimonial_28_7XJPFm">Verified</p>
                                                        
                              </div>
                              
                          </div>
                          
                            <p class="testimonials-slide-author-template--25802407084372__ss_testimonial_28_7XJPFm">Melissa R., 52</p>
                           
                        </div>                                     
                      </div>
                    </div>
                  
                
                  
                    