<div class="product__info-wrapper grid__item product__column-sticky product__info-wrapper--top-padding">
      <product-info id="ProductInfo-template--25802407084372__main" data-section="template--25802407084372__main" data-url="/products/turmeric-curcumin-capsules-1000mg" class="product__info-container main-product__info-container">
              <div class="rating-stars" style="--rating:5;--star-color:#ffcc00;--bg-star-color:#ececec;--font-size:1.2rem;--alignment:flex-start;--margin-top: 0.0rem;--margin-bottom: 0.3rem;">
  <a href="#judgeme_product_reviews">
    <div class="rating-stars-and-text font-size--desktop-auto flex-center">
      <div class="rating-stars__container rating-stars__container--underlay">
        
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" fill="currentColor">
            <path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"></path>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" fill="currentColor">
            <path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"></path>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" fill="currentColor">
            <path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"></path>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" fill="currentColor">
            <path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"></path>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" fill="currentColor">
            <path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"></path>
          </svg>
        
        <div class="rating-stars__container rating-stars__container--overlay">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" fill="currentColor">
            <path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"></path>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" fill="currentColor">
            <path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"></path>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" fill="currentColor">
            <path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"></path>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" fill="currentColor">
            <path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"></path>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" fill="currentColor">
            <path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"></path>
          </svg>
        </div>
      </div>
      <span class="rating-stars__label">&nbsp;<strong>4.8</strong> | <strong>45,000+</strong> Happy Customers</span>
    </div>
  </a>
</div>
<div class="product__title" style="--margin-top: 0.0rem;--margin-bottom: 1.5rem;">
                <h1 class="h2">
                  Turmeric Curcumin Capsules (1,000mg)
                </h1>
                <a href="products/turmeric-curcumin-capsules-1000mg" class="product__title">
                  <h2 class="h1">
                    Turmeric Curcumin Capsules (1,000mg)
                  </h2>
                </a>
              </div>
            


<div class="product__text-container product__text-container--left product__text-container--horizontal product__text-container--100%" style="--item-count:1;--mobile-text-size: 1.5rem;--desktop-text-size: 1.5rem;--icon-scale:1.2;--column-gap:1.5em;--row-gap:0.6em;--padding:0.42857142857142855em;--bg-color:#f3f3f3;--corner-radius:0.4em;--border-size:0px;--border-color:#b7b7b7;--margin-top: 0.6rem;--margin-bottom: 0.6rem;">
  
    <p class="product__text product__text-left" style="--text-color:#121212;--icon-color:#121212;">
      
      <span><strong>Powerful Support for Joints, Inflammation &amp; Mobility</strong></span>
    </p>
  
  
  
</div>




<div class="product__text-container product__text-container--left product__text-container--horizontal product__text-container--100%" style="--item-count:1;--mobile-text-size: 1.4rem;--desktop-text-size: 1.4rem;--icon-scale:1.2;--column-gap:1.5em;--row-gap:0.6em;--padding:0.42857142857142855em;--bg-color:#f3f3f3;--corner-radius:0.4em;--border-size:0px;--border-color:#b7b7b7;--margin-top: 0.6rem;--margin-bottom: 0.6rem;">
  
    <p class="product__text product__text-left" style="--text-color:#121212;--icon-color:#121212;">
      
        <span class="material-icon material-symbols-outlined filled">
  check_circle
</span>
      
      <span>Reduces joint pain &amp; stiffness in 2-4 weeks</span>
    </p>
  
  
  
</div>




<div class="product__text-container product__text-container--left product__text-container--horizontal product__text-container--100%" style="--item-count:1;--mobile-text-size: 1.4rem;--desktop-text-size: 1.4rem;--icon-scale:1.2;--column-gap:1.5em;--row-gap:0.6em;--padding:0.42857142857142855em;--bg-color:#f3f3f3;--corner-radius:0.4em;--border-size:0px;--border-color:#b7b7b7;--margin-top: 0.6rem;--margin-bottom: 0.6rem;">
  
    <p class="product__text product__text-left" style="--text-color:#121212;--icon-color:#121212;">
      
        <span class="material-icon material-symbols-outlined filled">
  check_circle
</span>
      
      <span>Targets inflammation at the root</span>
    </p>
  
  
  
</div>




<div class="product__text-container product__text-container--left product__text-container--horizontal product__text-container--100%" style="--item-count:1;--mobile-text-size: 1.4rem;--desktop-text-size: 1.4rem;--icon-scale:1.2;--column-gap:1.5em;--row-gap:0.6em;--padding:0.42857142857142855em;--bg-color:#f3f3f3;--corner-radius:0.4em;--border-size:0px;--border-color:#b7b7b7;--margin-top: 0.6rem;--margin-bottom: 0.6rem;">
  
    <p class="product__text product__text-left" style="--text-color:#121212;--icon-color:#121212;">
      
        <span class="material-icon material-symbols-outlined filled">
  check_circle
</span>
      
      <span>95% curcuminoids for real results</span>
    </p>
  
  
  
</div>




<div class="product__text-container product__text-container--left product__text-container--horizontal product__text-container--100%" style="--item-count:1;--mobile-text-size: 1.4rem;--desktop-text-size: 1.4rem;--icon-scale:1.2;--column-gap:1.5em;--row-gap:0.6em;--padding:0.42857142857142855em;--bg-color:#f3f3f3;--corner-radius:0.4em;--border-size:0px;--border-color:#b7b7b7;--margin-top: 0.6rem;--margin-bottom: 0.6rem;">
  
    <p class="product__text product__text-left" style="--text-color:#121212;--icon-color:#121212;">
      
        <span class="material-icon material-symbols-outlined filled">
  check_circle
</span>
      
      <span>20x absorption with black pepper extract</span>
    </p>
  
  
  
</div>




<div class="product__text-container product__text-container--left product__text-container--horizontal product__text-container--100%" style="--item-count:1;--mobile-text-size: 1.4rem;--desktop-text-size: 1.4rem;--icon-scale:1.2;--column-gap:1.5em;--row-gap:0.6em;--padding:0.42857142857142855em;--bg-color:#f3f3f3;--corner-radius:0.4em;--border-size:0px;--border-color:#b7b7b7;--margin-top: 0.6rem;--margin-bottom: 0.6rem;">
  
    <p class="product__text product__text-left" style="--text-color:#121212;--icon-color:#121212;">
      
        <span class="material-icon material-symbols-outlined filled">
  check_circle
</span>
      
      <span>Clinically dosed — no weak powder</span>
    </p>
  
  
  
</div>




<div class="product__text-container product__text-container--left product__text-container--horizontal product__text-container--100%" style="--item-count:1;--mobile-text-size: 1.4rem;--desktop-text-size: 1.4rem;--icon-scale:1.2;--column-gap:1.5em;--row-gap:0.6em;--padding:0.42857142857142855em;--bg-color:#f3f3f3;--corner-radius:0.4em;--border-size:0px;--border-color:#b7b7b7;--margin-top: 0.6rem;--margin-bottom: 0.6rem;">
  
    <p class="product__text product__text-left" style="--text-color:#121212;--icon-color:#121212;">
      
        <span class="material-icon material-symbols-outlined filled">
  check_circle
</span>
      
      <span>Clean, vegan and third-party tested</span>
    </p>
  
  
  
</div>




<div class="product__text-container product__text-container--left product__text-container--horizontal product__text-container--100% product__text-container--background" style="--item-count:1;--mobile-text-size: 1.4rem;--desktop-text-size: 1.6rem;--icon-scale:1.2;--column-gap:1.5em;--row-gap:0.6em;--padding:0.42857142857142855em;--bg-color:#ffc2c2;--corner-radius:0.4em;--border-size:0px;--border-color:#b7b7b7;--margin-top: 1.5rem;--margin-bottom: 1.5rem;">
  
    <p class="product__text product__text-left" style="--text-color:#dd1d1d;--icon-color:#121212;">
      
      <span>Beware of Amazon fakes! Bioroot Labs is exclusively sold here on our website</span>
    </p>
  
  
  
</div>


<noscript class="product-form__noscript-wrapper-template--25802407084372__main" style="--margin-top: 1.5rem;--margin-bottom: 1.5rem;">
  <div class="product-form__input hidden">
    <label class="form__label" for="Variants-template--25802407084372__main">Product variants</label>
    <div class="select">
      <select name="id" id="Variants-template--25802407084372__main" class="select__select" form="product-form-template--25802407084372__main"><option selected="selected" value="52337105764692">Default Title - £23.00</option></select>
      <svg aria-hidden="true" focusable="false" class="icon icon-caret" viewBox="0 0 10 6">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
</path></svg>

    </div>
  </div>
</noscript>




  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .custom-shipping-container {
      display: flex;
      padding: 6px 16px;
      justify-content: space-between;
      align-items: center;
      background-color: #f6f6f6;
      border-radius: 20px;
      margin-top: 10px;
    }

    .custom-shipping-item {
      display: flex;
      align-items: center;
      gap: 6px;
    }

    .text-block-shipping {
      font-size: 12px;
      color: #000;
    }

    .shipping-date {
      font-weight: bold;
    }

    .shipping-worldwide {
      font-size: 12px;
      color: #000;
    }

    .shipping-worldwide .bold {
      font-weight: bold;
    }

    .green-circle {
      animation: fade 1s ease-in-out infinite;
    }

    @keyframes fade {
      0%, 100% { opacity: 1; }
      50% { opacity: 0.5; }
    }

    .flags-container {
      display: flex;
      gap: 6px;
      align-items: center;
    }
    
    .custom-icon {
      width: 16px;
      height: 12px;
    }
  </style>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      function getNextWeekday(date) {
        var day = date.getDay();
        var daysToAdd = (day === 5) ? 3 : (day === 6) ? 2 : 1;
        return new Date(date.setDate(date.getDate() + daysToAdd));
      }

      var today = new Date();
      var shipDate = getNextWeekday(today);
      
      // Format date to have short month (e.g., "Thu, Feb 22")
      var options = { weekday: 'short', month: 'short', day: 'numeric' };
      var formattedDate = shipDate.toLocaleDateString('en-US', options);
      document.getElementById('shipping-date').textContent = formattedDate;

      // Fetch country data using GeoJS API
      fetch('https://get.geojs.io/v1/ip/geo.json')
        .then(response => response.json())
        .then(data => {
          console.log("Geolocation API Response:", data); // Debugging log

          if (!data || !data.country_code) {
            throw new Error("Invalid data from API");
          }
          
          var countryCode = data.country_code.toUpperCase(); // Get country code (e.g., "GB", "US")
          var flagUrl = `https://flagcdn.com/w40/${countryCode.toLowerCase()}.png`;

          // Set flag and country code
          document.getElementById('country-flag').src = flagUrl;
          document.getElementById('country-flag').alt = countryCode + " Flag";
          document.getElementById('country-flag').style.display = "inline";
          document.getElementById('country-text').innerHTML = `Fast <span class="bold">${countryCode}</span> Shipping`;
        })
        .catch(error => {
          console.error('Error fetching the IP information:', error);
          document.getElementById('country-flag').style.display = "none"; 
          document.getElementById('country-text').innerHTML = "Fast Worldwide Shipping";
        });
    });
  </script>


  <div class="custom-shipping-container">
    <div class="custom-shipping-item">
      <svg class="green-circle" xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
        <circle cx="6" cy="6.5" r="6" fill="#137333"></circle>
      </svg>
      <div class="text-block-shipping">Ships by <span id="shipping-date" class="shipping-date"></span></div>
    </div>
    <div class="custom-shipping-item flags-container">
      <img id="country-flag" class="custom-icon" src="" alt="Country Flag" style="display: none;">
      <div id="country-text" class="shipping-worldwide">Loading...</div>
    </div>
  </div>
<div id="shopify-block-AbmR4ZVhWZXJvS2NJQ__2786716548061469553" class="shopify-block shopify-app-block">

<script>
</script>

 </div><div id="shopify-block-AK2cvU1YxM2RudVVoa__17368511000352060744" class="shopify-block shopify-app-block"><script type="text/javascript">
    window.gfp_customer = {
      id: "",
      email: "",
      first_name: "",
      last_name: ""
    }
</script>

 <script type="text/javascript" async="true" src="{{ 'loader_2.js' | asset_url }}"></script>




</div>



<div style="--margin-top: 1.2rem;--margin-bottom: 0.0rem;"><product-form class="product-form main-product-form" data-section="template--25802407084372__main" data-options="Title" id="ProductForm-template--25802407084372__main">
      <div class="product-form__error-message-wrapper" role="alert" hidden="">
        <svg aria-hidden="true" focusable="false" class="icon icon-error" viewBox="0 0 13 13">
          <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"></circle>
          <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"></circle>
          <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"></path>
          <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
        </path></svg>
        <span class="product-form__error-message"></span>
      </div><form method="post" action="/cart/add" id="product-form-template--25802407084372__main" accept-charset="UTF-8" class="form" enctype="multipart/form-data" novalidate="novalidate" data-type="add-to-cart-form"><input type="hidden" name="form_type" value="product"><input type="hidden" name="utf8" value="✓"><div class="hidden product-form__variants" id="product-form-template--25802407084372__main__variants" data-values=""></div>
        <input type="hidden" name="id" value="52337105764692" disabled="" class="product-variant-id"><input class="selling_plan_id" type="hidden" name="selling_plan" value="690129633620"><div class="product-form__buttons product-form__buttons--uppercase"><form action="/cart/add" method="post" class="shopify-cart-form" data-button-index="1">
  <input type="hidden" name="id" value="{{ settings.product_id_1 }}" data-product-id="1">
  <button type="submit" class="atc-button product-form__submit button button--full-width button--margin-x main-product-atc" style="" id="ProductSubmitButton-template--25802407084372__main">
    
            <span class="main-atc__error" style="display:none;"></span>
            <span class="main-atc__label"><span id="main-atc-price-template--25802407084372__main">
                  
                </span>
                <span class="main-atc__label__text">Add to cart</span></span>
            <div class="loading-overlay__spinner hidden">
              <svg aria-hidden="true" focusable="false" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
          
  </button>
</form></div><input type="hidden" name="product-id" value="12158920327508"><input type="hidden" name="section-id" value="template--25802407084372__main"></form></product-form><link href="css/component-pickup-availability.css" rel="stylesheet" type="text/css" media="all">
<pickup-availability class="product__pickup-availabilities no-js-hidden quick-add-hidden" data-root-url="/" data-variant-id="52337105764692" data-has-only-default-variant="true">
      <template>
        <pickup-availability-preview class="pickup-availability-preview">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" aria-hidden="true" focusable="false" class="icon icon-unavailable" viewBox="0 0 20 20">
  <path fill="#DE3618" stroke="#fff" d="M13.94 3.94L10 7.878l-3.94-3.94A1.499 1.499 0 103.94 6.06L7.88 10l-3.94 3.94a1.499 1.499 0 102.12 2.12L10 12.12l3.94 3.94a1.497 1.497 0 002.12 0 1.499 1.499 0 000-2.12L12.122 10l3.94-3.94a1.499 1.499 0 10-2.121-2.12z"></path>
</svg>

          <div class="pickup-availability-info">
            <p class="caption-large">Couldn't load pickup availability</p>
            <button class="pickup-availability-button link link--text underlined-link">
              Refresh
            </button>
          </div>
        </pickup-availability-preview>
      </template>
    </pickup-availability>

    <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script></div>




<div class="product__text-container product__text-container--left product__text-container--horizontal product__text-container--100% product__text-container--background" style="--item-count:1;--mobile-text-size: 1.4rem;--desktop-text-size: 1.6rem;--icon-scale:2.0;--column-gap:1.5em;--row-gap:0.6em;--padding:0.42857142857142855em;--bg-color:#f3f3f3;--corner-radius:0.4em;--border-size:0px;--border-color:#b7b7b7;--margin-top: 1.5rem;--margin-bottom: 1.5rem;">
  
    <p class="product__text product__text-left" style="--text-color:#121212;--icon-color:#121212;">
      
        <img src="{{ 'verified_24dp_085946_FILL0_wght400_GRAD0_opsz24.svg' | asset_url }}" alt="" width="auto" height="auto" loading="lazy">
      
      <span><strong>Feel the difference in 60 days or your money back</strong></span>
    </p>
  
  
  
</div>

<div class="product__accordion accordion accordion--small accordion--top-border quick-add-hidden" style="--margin-top: 2.4rem;--margin-bottom: 0.0rem;">
                <details class="accordion__details">
                  <summary class="accordion__summary">
                    <div class="summary__title">
                      
                        <span class="material-icon material-symbols-outlined">
  
</span>
                      
                      <h2 class="h4 accordion__title">
                        60-Day Guarantee
                      </h2>
                    </div>
                    
                      <svg aria-hidden="true" focusable="false" class="icon icon-caret" viewBox="0 0 10 6">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
</path></svg>

                    
                  </summary>
                </details>
                <div class="accordion__content-wrapper">
                  <div class="accordion__content rte" id="ProductAccordion-collapsible_tab_cVnXqH-template--25802407084372__main">
                    <p>We offer a <strong>60-day money-back guarantee.</strong></p><p>If for any reason you're not completely satisfied with your purchase, we'll issue a <strong>full refund, no questions asked. </strong>Simply reach out to our support team for assistance.</p>
                    
                  </div>
                </div>
              </div><div class="product__accordion accordion accordion--small accordion--top-border quick-add-hidden" style="--margin-top: 2.4rem;--margin-bottom: 0.0rem;">
                <details class="accordion__details">
                  <summary class="accordion__summary">
                    <div class="summary__title">
                      
                        <span class="material-icon material-symbols-outlined">
  
</span>
                      
                      <h2 class="h4 accordion__title">
                        The Science Behind It
                      </h2>
                    </div>
                    
                      <svg aria-hidden="true" focusable="false" class="icon icon-caret" viewBox="0 0 10 6">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
</path></svg>

                    
                  </summary>
                </details>
                <div class="accordion__content-wrapper">
                  <div class="accordion__content rte" id="ProductAccordion-collapsible_tab_QkMmwr-template--25802407084372__main">
                    <p>Turmeric contains a powerful compound called <strong>curcumin</strong>, which has been extensively studied for its anti-inflammatory and antioxidant properties. But not all turmeric supplements are created equal — curcumin is notoriously hard for the body to absorb on its own.<br></p><p>That’s why we combine <strong>curcumin extract</strong> with <strong>black pepper extract</strong> — a clinically backed pairing shown to increase absorption by up to 2000%. Our formula delivers <strong>optimal doses</strong> of curcuminoids to ensure every capsule is potent, consistent, and effective.</p>
                    
                  </div>
                </div>
              </div><div class="product__accordion accordion accordion--small accordion--top-border quick-add-hidden" style="--margin-top: 2.4rem;--margin-bottom: 0.0rem;">
                <details class="accordion__details">
                  <summary class="accordion__summary">
                    <div class="summary__title">
                      
                        <span class="material-icon material-symbols-outlined">
  
</span>
                      
                      <h2 class="h4 accordion__title">
                        Shipping &amp; Returns
                      </h2>
                    </div>
                    
                      <svg aria-hidden="true" focusable="false" class="icon icon-caret" viewBox="0 0 10 6">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
</path></svg>

                    
                  </summary>
                </details>
                <div class="accordion__content-wrapper">
                  <div class="accordion__content rte" id="ProductAccordion-collapsible_tab_jJ4y3E-template--25802407084372__main">
                    <p>We offer tracked shipping on all orders.</p><p>All orders are processed by our<strong> careful fulfilment team</strong> within 24 business hours.</p><p>We are currently experiencing high volume of orders so delivery times, depending on your location, range from 5-13 business days.</p><p><strong>We've made returning products super easy.</strong> Simply contact us info@biorootlabs.com and we'll handle everything</p>
                    
                  </div>
                </div>
              </div><div class="product__accordion accordion accordion--small accordion--top-border quick-add-hidden" style="--margin-top: 2.4rem;--margin-bottom: 0.0rem;">
                <details class="accordion__details">
                  <summary class="accordion__summary">
                    <div class="summary__title">
                      
                        <span class="material-icon material-symbols-outlined">
  
</span>
                      
                      <h2 class="h4 accordion__title">
                        Is It Safe?
                      </h2>
                    </div>
                    
                      <svg aria-hidden="true" focusable="false" class="icon icon-caret" viewBox="0 0 10 6">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
</path></svg>

                    
                  </summary>
                </details>
                <div class="accordion__content-wrapper">
                  <div class="accordion__content rte" id="ProductAccordion-collapsible_tab_PMAc9j-template--25802407084372__main">
                    <p>Yes — our turmeric supplement is <strong>100% natural, non-GMO, vegan</strong>, and made without any artificial fillers or preservatives. All ingredients are <strong>third-party tested for purity and potency</strong> in a GMP-certified facility.</p><p></p><p>Turmeric and curcumin are generally well-tolerated. However, if you’re pregnant, nursing, or taking medication (especially blood thinners), we recommend consulting your healthcare provider before use — just to be safe.</p>
                    
                  </div>
                </div>
              </div><div class="product__accordion accordion accordion--small accordion--top-border quick-add-hidden" style="--margin-top: 2.4rem;--margin-bottom: 0.0rem;">
                <details class="accordion__details">
                  <summary class="accordion__summary">
                    <div class="summary__title">
                      
                        <span class="material-icon material-symbols-outlined">
  
</span>
                      
                      <h2 class="h4 accordion__title">
                        Ingredients
                      </h2>
                    </div>
                    
                      <svg aria-hidden="true" focusable="false" class="icon icon-caret" viewBox="0 0 10 6">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
</path></svg>

                    
                  </summary>
                </details>
                <div class="accordion__content-wrapper">
                  <div class="accordion__content rte" id="ProductAccordion-collapsible_tab_4kEw9t-template--25802407084372__main">
                    <p>Each daily serving (3 capsules) contains:</p><p><br> – 1000mg Standardized to 95% curcuminoids for powerful inflammation support<br><br> – 100mg Vitamin C Supports immune health and antioxidant protection<br><br> – 62.5mg Ginger Traditionally used to support digestion and ease discomfort<br><br> – 50mg Bee Propolis a natural antioxidant known for immune-boosting properties<br><br> – 50 mg MCT Oil helps support absorption and provides healthy fats<br><br> – 15mg Black Pepper extract enhances bioavailability of curcumin by up to 2000%<br></p><p><strong>Other Ingredients:</strong></p><p>Vegetable cellulose (capsule)</p><p><strong>Free from:</strong> Gluten, soy, dairy, fish &amp; shellfish</p><p><strong>Contains:</strong> Tree nuts (coconut)</p><p><strong>No fillers. No synthetic additives. Only the active ingredients your body needs.</strong></p><p></p>
                    
                  </div>
                </div>
              </div><div class="product__accordion accordion accordion--small accordion--top-border quick-add-hidden" style="--margin-top: 2.4rem;--margin-bottom: 0.0rem;">
                <details class="accordion__details">
                  <summary class="accordion__summary">
                    <div class="summary__title">
                      
                        <span class="material-icon material-symbols-outlined">
  
</span>
                      
                      <h2 class="h4 accordion__title">
                        Frequently Asked Questions
                      </h2>
                    </div>
                    
                      <svg aria-hidden="true" focusable="false" class="icon icon-caret" viewBox="0 0 10 6">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
</path></svg>

                    
                  </summary>
                </details>
                <div class="accordion__content-wrapper">
                  <div class="accordion__content rte" id="ProductAccordion-collapsible_tab_NY4kAd-template--25802407084372__main">
                    <p><strong>How long until I see results? </strong>Most users report noticeable improvements within 2 to 4 weeks of daily use—especially in joint stiffness and overall mobility. Some feel relief sooner, but consistent use is essential.</p><p></p><p><strong>What’s the correct dosage and how should I take it? </strong>Follow the label—typically 3 capsules daily. For best results, take with food (ideally something with healthy fat) to improve absorption, since curcumin is fat-soluble.</p><p></p><p><strong>How is this better than regular turmeric powder? </strong>Most turmeric powders contain just 2–6% curcumin, making them too weak to be effective. Our supplement uses a 95% standardized extract and adds black pepper extract for superior results.</p><p></p><p><strong>Are there any side effects? </strong>Turmeric is safe for most people. A few may experience mild stomach upset—this can usually be avoided by taking it with food. High doses may cause issues, so always follow directions.<br><br><strong>Is it safe to take with medications? </strong>If you’re on blood thinners, diabetes medication, or have health concerns, speak with your doctor before using turmeric. It may enhance or interact with certain medications.</p><p><strong>What makes this turmeric supplement different? </strong>Unlike many brands that use weak powder, we use 95% curcumin extract, include black pepper extract for absorption, and verify quality through rigorous third-party testing. No fillers, no fluff—just real results.</p><p></p><p></p>
                    
                  </div>
                </div>
              </div>
              <sticky-atc id="sticky-atc-template--25802407084372__main" class="sticky-atc color-accent-1 sticky-atc--small-mobile-select" data-section="template--25802407084372__main" data-after-scroll="true">
                <div class="sticky-atc-container page-width sticky-atc--mobile-btn-full"><div class="sticky-atc__left">
                    <div class="sticky-atc__left__content">
                      
                        <h4 class="sticky-atc__title">
                          Turmeric Curcumin Capsules (1,000mg)
                        </h4>
                      
                      
                        <div class="rating-stars-and-text font-size--desktop-auto flex-center mobile-hidden" style="--bg-star-color:#ffcc00;--font-size:1.3rem;--alignment:flex-start;">
                          <div class="rating-stars__container rating-stars__container--underlay">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" fill="currentColor">
                              <path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"></path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" fill="currentColor">
                              <path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"></path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" fill="currentColor">
                              <path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"></path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" fill="currentColor">
                              <path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"></path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" fill="currentColor">
                              <path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"></path>
                            </svg>
                          </div>
                          <span class="rating-stars__label">&nbsp;1,168+ Reviews</span>
                        </div>
                      
<div class="sticky-atc__price desktop-hidden" id="sticky-atc-separate-price-template--25802407084372__main">
<div class="
    price  price--on-sale  price--show-badge">
  <div class="price__container"><div class="price__regular">
      <span class="visually-hidden visually-hidden--inline">Regular price</span>
      <span class="price-item price-item--regular">
        £23.00
      </span>
    </div>
    <div class="price__sale ">
      <span class="visually-hidden visually-hidden--inline compare-price-label">Regular price</span>
      <span class="price-item price-item--sale price-item--last">
        £23.00
      </span>
        <span class="visually-hidden visually-hidden--inline regular-price-label">Sale price</span>
        <span class="price__compare-price">
          <s class="price-item price-item--regular">
            £38.00
          </s>
        </span></div>
    <small class="unit-price caption hidden">
      <span class="visually-hidden">Unit price</span>
      <span class="price-item price-item--last">
        <span></span>
        <span aria-hidden="true">/</span>
        <span class="visually-hidden">&nbsp;per&nbsp;</span>
        <span>
        </span>
      </span>
    </small>
  </div>
      <span class="badge price__badge-sale color-accent-2">
        
        
        <svg aria-hidden="true" focusable="false" class="icon icon-discount color-foreground-text" viewBox="0 0 12 12">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M7 0h3a2 2 0 012 2v3a1 1 0 01-.3.7l-6 6a1 1 0 01-1.4 0l-4-4a1 1 0 010-1.4l6-6A1 1 0 017 0zm2 2a1 1 0 102 0 1 1 0 00-2 0z" fill="currentColor">
</path></svg>
<span class="nowrap">39% OFF</span>
      </span>
    
    <span class="badge price__badge-sold-out color-inverse">
      Sold out
    </span></div>
</div></div></div>
                  <div class="sticky-atc__button"><form action="/cart/add" method="post" class="shopify-cart-form" data-button-index="2">
  <input type="hidden" name="id" value="{{ settings.product_id_2 }}" data-product-id="2">
  <button type="submit" class="button main-product-atc button--has-spinner" style="" id="cart-button-2">
    
                        <span class="sticky-atc__error" style="display:none;"></span>
                        <span class="sticky-atc__label">
                            <span class="sticky-atc__label__text">Add to cart</span></span>
                        <div class="loading-overlay__spinner">
                          <svg aria-hidden="true" focusable="false" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                          </svg>
                        </div>
                      
  </button>
</form>
                    
                  </div>
                </div>
              </sticky-atc><div id="ss-reviews"></div>

<div class="product-upsell-block" style="--margin-top: 1.5rem; --margin-bottom: 1.5rem;">
                  <style>
                    .product-upsell-block {
                      margin-top: var(--margin-top, 1.5rem);
                      margin-bottom: var(--margin-bottom, 1.5rem);
                    }
                    .product-upsell-container {
                      display: flex;
                      flex-direction: row;
                      align-items: center;
                      text-align: center;
                      padding: 8px;
                      background: rgb(10 89 70 / 10%);;
                      border-radius: 6px;
                      max-width: 100%;
                      margin: 0 auto;
                    }
                    .product-upsell-image {
                      width: 75px;
                      height: 75px;
                      border-radius: 12px;
                      overflow: hidden;
                      background-color: #fff;
                      margin-bottom: 1.5rem;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                    }
                    .product-upsell-img {
                      width: 75px;
                      height: 75px;
                      object-fit: contain;
                    }
                    .product-upsell-content {
                      width: 100%;
                      text-align: left;
                      display: flex;
                      flex-direction: column;
                      align-items: flex-start;
                      padding-left: 6px;
                      gap: 5px;
                    }
                    .product-upsell-heading {
                      font-size: 14px;
                      font-weight: 600;
                      color: #000;
                      margin: 0 0 10px 0;
                      text-align: left;
                    }
                    .product-upsell-stars {
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      gap: 0px; 
                    }
                    .product-upsell-stars svg {
                      width: 20px;
                      height: 20px;
                      fill: #0A5946;
                    }
                    .product-upsell-title {
                      font-size: 14px;
                      font-weight: 600;
                      color: #000;
                      font-family: "Poppins", sans-serif;
                      line-height: 1.3;
                      margin: 0px;
                    }
                    .product-upsell-prices {
                      display: flex;
                      align-items: center;
                      justify-content: flex-start;
                      gap: 5px;
                      margin-bottom: 1rem;
                      flex-wrap: wrap;
                      flex-direction: row:
                    }
                    .product-upsell-compare-price {
                      font-size: 14px;
                      font-weight: 600;
                      color: #000;
                      text-decoration: line-through;
                      opacity: 0.5;
                    }
                    .product-upsell-price {
                      font-size: 14px;
                      font-weight: 600;
                      color: #0A5946;
                    }
                    .product-upsell-save {
                      display: flex;
                      padding: 5px 10px;
                      justify-content: center;
                      align-items: center;
                      gap: 10px;
                      border-radius: 5px;
                      background: #FFF;
                      color: #000;
                      font-size: 10px;
                      font-style: normal;
                      font-weight: 400;
                      line-height: normal;
                    }
                    .product-upsell-button {
                      background: #0A5946;
                      color: #fff;
                      border: none;
                      border-radius: 50px;
                      padding: 12px 24px;
                      font-size: 14px;
                      font-weight: 600;
                      cursor: pointer;
                      transition: background 0.3s ease;
                      font-family: "Poppins", sans-serif;
                      white-space: nowrap;
                      position: relative;
                      width: 100%;
                    }
                    .product-upsell-button:hover {
                      background: #0A5946;
                    }
                    .product-upsell-button:disabled {
                      opacity: 0.6;
                      cursor: not-allowed;
                    }
                    .product-upsell-button.is-loading span {
                      visibility: hidden;
                    }
                    .product-upsell-button .loading-spinner {
                      position: absolute;
                      top: 50%;
                      left: 50%;
                      transform: translate(-50%, -50%);
                      display: none;
                    }
                    .product-upsell-button.is-loading .loading-spinner {
                      display: block;
                    }
                    .loading-spinner {
                      width: 18px;
                      height: 18px;
                      border: 2px solid rgba(255, 255, 255, 0.3);
                      border-top-color: #fff;
                      border-radius: 50%;
                      animation: spin 0.8s linear infinite;
                    }
                    @keyframes spin {
                      to { transform: rotate(360deg); }
                    }
                    @media (max-width: 768px) {
                      .product-upsell-container {
                        max-width: 100%;
                        padding: 8px;
                      }
                      .product-upsell-image {
                        width: 150px;
                        height: 150px;
                      }
                      .product-upsell-title {
                        font-size: 14px;
                      }
                      .product-upsell-price {
                        font-size: 14px;
                      }
                    }
                  </style><p class="product-upsell-heading">Goes well with</p><div class="product-upsell-container"><img class="product-upsell-img" src="{{ '1_57556bf0-29c8-41e7-81f9-b10adc7d247f_1.jpg' | asset_url }}"><div class="product-upsell-content"><div class="product-upsell-stars"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                              <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                            </svg><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                              <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                            </svg><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                              <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                            </svg><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                              <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                            </svg><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                              <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                            </svg></div><h3 class="product-upsell-title">Pill Organiser</h3>
                      
                      <div class="product-upsell-prices"><span class="product-upsell-price">
                          £8.00
                        </span></div>
                    </div>
                    
                    <div class="product-upsell-button-wrapper">
                      <button type="button" class="product-upsell-button" data-upsell-variant="52989388325204" data-upsell-available="true">
                        <span>Add +</span>
                        <div class="loading-spinner"></div>
                      </button>
                    </div>
                  </div>
                </div>

                <script>
                document.addEventListener("DOMContentLoaded", () => {
                  const upsellBtn = document.querySelector('[data-upsell-variant="52989388325204"]');
                  if (!upsellBtn) return;

                  const variantId = upsellBtn.dataset.upsellVariant;
                  const isAvailable = upsellBtn.dataset.upsellAvailable === "true";
                  
                  if (!isAvailable) {
                    upsellBtn.disabled = true;
                    upsellBtn.querySelector('span').textContent = "Sold Out";
                    return;
                  }

                  if (!variantId) return;

                  upsellBtn.addEventListener("click", (e) => {
                    e.preventDefault();

                    // Add loading state
                    upsellBtn.classList.add("is-loading");
                    upsellBtn.disabled = true;

                    fetch("/cart/add.js", {
                      method: "POST",
                      headers: { "Content-Type": "application/json" },
                      body: JSON.stringify({
                        items: [{ id: variantId, quantity: 1 }],
                      }),
                    })
                      .then((res) => res.json())
                      .then(() => {
                        // Update cart sections
                        return fetch("/?sections=cart-drawer,cart-icon-bubble")
                          .then((res) => res.json())
                          .then((sections) => {
                            // Update cart bubble
                            const bubble = document.querySelector("#cart-icon-bubble");
                            if (bubble && sections["cart-icon-bubble"]) {
                              bubble.innerHTML = sections["cart-icon-bubble"];
                            }

                            // Update and open cart drawer
                            const drawer = document.querySelector("cart-drawer");
                            if (drawer && sections["cart-drawer"]) {
                              const temp = document.createElement("div");
                              temp.innerHTML = sections["cart-drawer"];
                              const newDrawer = temp.querySelector("cart-drawer");
                              if (newDrawer) {
                                drawer.replaceWith(newDrawer);
                                // Open drawer after replacing
                                if (newDrawer.open) {
                                  newDrawer.open();
                                }
                              }
                            } else if (!drawer) {
                              // Fallback if no drawer exists
                              window.location.href = "/cart";
                            }
                          });
                      })
                      .catch((err) => {
                        console.error("[Upsell Add to Cart Error]", err);
                        alert("There was an error adding the product to your cart. Please try again.");
                      })
                      .finally(() => {
                        upsellBtn.classList.remove("is-loading");
                        upsellBtn.disabled = false;
                      });
                  });
                });
                </script><a href="products/turmeric-curcumin-capsules-1000mg" class="link product__view-details animate-arrow">
          View full details
          <svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
</path></svg>

        </a>
      </product-info>
    </div></div>

  

<product-modal id="ProductModal-template--25802407084372__main" class="product-media-modal media-modal">
  <div class="product-media-modal__dialog" role="dialog" aria-label="Media gallery" aria-modal="true" tabindex="-1">
    <button id="ModalClose-template--25802407084372__main" type="button" class="product-media-modal__toggle" aria-label="Close">
      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-close" fill="none" viewBox="0 0 18 17">
  <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
</path></svg>

    </button>

    <div class="product-media-modal__content color-background-1 gradient" role="document" aria-label="Media gallery" tabindex="0">
<img class="global-media-settings global-media-settings--no-shadow" srcset="{{ 'Bioroot_PDP_Images_2000px_22.jpg' | asset_url }} 550w, {{ 'Bioroot_PDP_Images_2000px_10.jpg' | asset_url }} 1100w, {{ 'Bioroot_PDP_Images_2000px_2.jpg' | asset_url }} 1445w, {{ 'Bioroot_PDP_Images_2000px_20.jpg' | asset_url }} 1680w, {{ 'Bioroot_PDP_Images_2000px_19.jpg' | asset_url }} 2000w" sizes="(min-width: 750px) calc(100vw - 22rem), 1100px" src="{{ 'Bioroot_PDP_Images_2000px_2.jpg' | asset_url }}" alt="Turmeric Curcumin Capsules (1,000mg)" loading="lazy" width="1100" height="1100" data-media-id="62553109168468">
<img class="global-media-settings global-media-settings--no-shadow" srcset="{{ 'Bioroot_WEBP_V2_18.webp' | asset_url }} 550w, {{ 'Bioroot_WEBP_V2_7.webp' | asset_url }} 1100w, {{ 'Bioroot_WEBP_V2_2.webp' | asset_url }} 1445w, {{ 'Bioroot_WEBP_V2_21.webp' | asset_url }} 1680w, {{ 'Bioroot_WEBP_V2_22.webp' | asset_url }} 2048w, {{ 'Bioroot_WEBP_V2_20.webp' | asset_url }} 2160w" sizes="(min-width: 750px) calc(100vw - 22rem), 1100px" src="{{ 'Bioroot_WEBP_V2_2.webp' | asset_url }}" alt="Turmeric Curcumin Capsules (1,000mg)" loading="lazy" width="1100" height="1100" data-media-id="59762166464852">
<img class="global-media-settings global-media-settings--no-shadow" srcset="{{ 'Bioroot_PDP_003_20.webp' | asset_url }} 550w, {{ 'Bioroot_PDP_003_10.webp' | asset_url }} 1100w, {{ 'Bioroot_PDP_003_2.webp' | asset_url }} 1445w, {{ 'Bioroot_PDP_003_23.webp' | asset_url }} 1680w, {{ 'Bioroot_PDP_003_19.webp' | asset_url }} 2048w, {{ 'Bioroot_PDP_003_18.webp' | asset_url }} 2160w" sizes="(min-width: 750px) calc(100vw - 22rem), 1100px" src="{{ 'Bioroot_PDP_003_2.webp' | asset_url }}" alt="Turmeric Curcumin Capsules (1,000mg)" loading="lazy" width="1100" height="1100" data-media-id="59762166399316">
<img class="global-media-settings global-media-settings--no-shadow" srcset="{{ 'Bioroot_PDP_004_V3_23.webp' | asset_url }} 550w, {{ 'Bioroot_PDP_004_V3_9.webp' | asset_url }} 1100w, {{ 'Bioroot_PDP_004_V3_2.webp' | asset_url }} 1445w, {{ 'Bioroot_PDP_004_V3_18.webp' | asset_url }} 1680w, {{ 'Bioroot_PDP_004_V3_16.webp' | asset_url }} 2048w, {{ 'Bioroot_PDP_004_V3_17.webp' | asset_url }} 2160w" sizes="(min-width: 750px) calc(100vw - 22rem), 1100px" src="{{ 'Bioroot_PDP_004_V3_2.webp' | asset_url }}" alt="Turmeric Curcumin Capsules (1,000mg)" loading="lazy" width="1100" height="1100" data-media-id="59762166432084">
<img class="global-media-settings global-media-settings--no-shadow" srcset="{{ 'Bioroot_WEBP_006_22.webp' | asset_url }} 550w, {{ 'Bioroot_WEBP_006_10.webp' | asset_url }} 1100w, {{ 'Bioroot_WEBP_006_2.webp' | asset_url }} 1445w, {{ 'Bioroot_WEBP_006_19.webp' | asset_url }} 1680w, {{ 'Bioroot_WEBP_006_20.webp' | asset_url }} 2048w, {{ 'Bioroot_WEBP_006_18.webp' | asset_url }} 2160w" sizes="(min-width: 750px) calc(100vw - 22rem), 1100px" src="{{ 'Bioroot_WEBP_006_2.webp' | asset_url }}" alt="Turmeric Curcumin Capsules (1,000mg)" loading="lazy" width="1100" height="1100" data-media-id="59762166333780">
<img class="global-media-settings global-media-settings--no-shadow" srcset="{{ 'Bioroot_WEBP_007_20.webp' | asset_url }} 550w, {{ 'Bioroot_WEBP_007_11.webp' | asset_url }} 1100w, {{ 'Bioroot_WEBP_007_2.webp' | asset_url }} 1445w, {{ 'Bioroot_WEBP_007_16.webp' | asset_url }} 1680w, {{ 'Bioroot_WEBP_007_21.webp' | asset_url }} 2048w, {{ 'Bioroot_WEBP_007_17.webp' | asset_url }} 2160w" sizes="(min-width: 750px) calc(100vw - 22rem), 1100px" src="{{ 'Bioroot_WEBP_007_2.webp' | asset_url }}" alt="Turmeric Curcumin Capsules (1,000mg)" loading="lazy" width="1100" height="1100" data-media-id="59762166366548">
<img class="global-media-settings global-media-settings--no-shadow" srcset="{{ '4_13.jpg' | asset_url }} 550w, {{ '4_8.jpg' | asset_url }} 1100w, {{ '4_2.jpg' | asset_url }} 1445w, {{ '4_15.jpg' | asset_url }} 1680w, {{ '4_14.jpg' | asset_url }} 2000w" sizes="(min-width: 750px) calc(100vw - 22rem), 1100px" src="{{ '4_2.jpg' | asset_url }}" alt="Turmeric Curcumin Capsules (1,000mg)" loading="lazy" width="1100" height="1100" data-media-id="57767230767444">
<img class="global-media-settings global-media-settings--no-shadow" srcset="{{ 'Bioroot_WEBP_008_21.webp' | asset_url }} 550w, {{ 'Bioroot_WEBP_008_7.webp' | asset_url }} 1100w, {{ 'Bioroot_WEBP_008_2.webp' | asset_url }} 1445w, {{ 'Bioroot_WEBP_008_13.webp' | asset_url }} 1680w, {{ 'Bioroot_WEBP_008_15.webp' | asset_url }} 2048w, {{ 'Bioroot_WEBP_008_14.webp' | asset_url }} 2160w" sizes="(min-width: 750px) calc(100vw - 22rem), 1100px" src="{{ 'Bioroot_WEBP_008_2.webp' | asset_url }}" alt="Turmeric Curcumin Capsules (1,000mg)" loading="lazy" width="1100" height="1100" data-media-id="59762166301012">
<img class="global-media-settings global-media-settings--no-shadow" srcset="{{ 'Bioroot_WEBP_005_13.webp' | asset_url }} 550w, {{ 'Bioroot_WEBP_005_10.webp' | asset_url }} 1100w, {{ 'Bioroot_WEBP_005_2.webp' | asset_url }} 1445w, {{ 'Bioroot_WEBP_005_16.webp' | asset_url }} 1680w, {{ 'Bioroot_WEBP_005_15.webp' | asset_url }} 2048w, {{ 'Bioroot_WEBP_005_17.webp' | asset_url }} 2160w" sizes="(min-width: 750px) calc(100vw - 22rem), 1100px" src="{{ 'Bioroot_WEBP_005_2.webp' | asset_url }}" alt="Turmeric Curcumin Capsules (1,000mg)" loading="lazy" width="1100" height="1100" data-media-id="59762208014676"></div>
  </div>
</product-modal>


  
<script src="{{ 'product-modal.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'media-gallery.js' | asset_url }}" defer="defer"></script><script>
    document.addEventListener('DOMContentLoaded', function () {
      function isIE() {
        const ua = window.navigator.userAgent;
        const msie = ua.indexOf('MSIE ');
        const trident = ua.indexOf('Trident/');

        return msie > 0 || trident > 0;
      }

      if (!isIE()) return;
      const hiddenInput = document.querySelector('#product-form-template--25802407084372__main input[name="id"]');
      const noScriptInputWrapper = document.createElement('div');
      const variantSwitcher =
        document.querySelector('variant-radios[data-section="template--25802407084372__main"]') ||
        document.querySelector('variant-selects[data-section="template--25802407084372__main"]');
      noScriptInputWrapper.innerHTML = document.querySelector(
        '.product-form__noscript-wrapper-template--25802407084372__main'
      ).textContent;
      variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

      document.querySelector('#Variants-template--25802407084372__main').addEventListener('change', function (event) {
        hiddenInput.value = event.currentTarget.value;
      });
    });
  </script><script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Product",

      "name": "Turmeric Curcumin Capsules (1,000mg)",
      "url": "https:\/\/biorootlabs.com\/products\/turmeric-curcumin-capsules-1000mg",
      "image": [
          "https:\/\/biorootlabs.com\/cdn\/shop\/files\/Bioroot_PDP_Images_2000px.jpg?v=1765589427\u0026width=1920"
        ],
      "description": "High-Potency Turmeric Curcumin for Natural WellnessExperience the powerful anti-inflammatory benefits of our premium Turmeric Curcumin Capsules. Each serving delivers 1,000mg of pure turmeric curcumin to support your body's natural healing processes and promote overall wellness.Key Benefits:\n\nJoint Health \u0026amp; Mobility: Reduces inflammation and supports comfortable movement\n\nNatural Anti-Inflammatory: Helps manage everyday aches and discomfort\n\nImmune System Support: Powerful antioxidants boost your body's defenses\n\nHeart \u0026amp; Brain Health: Supports cardiovascular function and cognitive clarity\n\nEnhanced Absorption: Formulated for maximum bioavailability\nWhy Choose Bioroot Labs?Our turmeric curcumin capsules are crafted with premium ingredients and manufactured to the highest quality standards. Each batch is third-party tested for purity and potency, ensuring you get the full benefits of this ancient wellness remedy in every capsule.Suggested Use: Take daily with meals for optimal absorption and consistent results. Perfect for active individuals, those managing joint discomfort, or anyone seeking natural inflammation support.Join thousands of satisfied customers who trust Bioroot Labs for their daily wellness routine.",
      
      "brand": {
        "@type": "Brand",
        "name": "Bioroot Labs"
      },
      "offers": [{
            "@type" : "Offer","availability" : "http://schema.org/InStock",
            "price" : 23.0,
            "priceCurrency" : "GBP",
            "url" : "https:\/\/biorootlabs.com\/products\/turmeric-curcumin-capsules-1000mg?variant=52337105764692"
          }
]
    }
  </script>
</section>


<script>
function injectBundleValues() {
    const targetElements = document.querySelectorAll('.quantity-break__content');

    if (targetElements.length > 0) {
        // Get bundle values from Shopify section settings
        const bundle1Values = "".split(',');
        const bundle2Values = "".split(',');

        // Function to create and append the extra info div
        function appendBundleValues(targetElement, values) {
            const extraInfoDiv = document.createElement("div");
            extraInfoDiv.className = "quantity-break-extra-info";

            const ulElement = document.createElement("ul");

            values.forEach(value => {
                const liElement = document.createElement("li");
                liElement.textContent = value.trim();
                ulElement.appendChild(liElement);
            });

            extraInfoDiv.appendChild(ulElement);
            targetElement.appendChild(extraInfoDiv);
        }

        // Inject bundle_1_values into the first quantity-break__content
        if (targetElements[0]) {
            appendBundleValues(targetElements[0], bundle1Values);
        }

        // Inject bundle_2_values into the second quantity-break__content (if it exists)
        if (targetElements[1]) {
            appendBundleValues(targetElements[1], bundle2Values);
        }

        // Stop checking once values are injected
        clearInterval(checkExist);
    }
}

// Run the function every 500ms until elements are found
const checkExist = setInterval(injectBundleValues, 500);




</script>
  <style>
    .quantity-break__content{
      flex-wrap: wrap;
    }
    .quantity-break-extra-info{
      width:100%;
    }
.quantity-break-extra-info{display:none;width:100%;}
.quantity-breaks-container input:checked+label .quantity-break-extra-info{display:block;}
.quantity-break-extra-info ul{padding:0;}
.quantity-break-extra-info ul li{font-size:16px;letter-spacing:0;ative;list-style:none;}
.quantity-break-extra-info li:before{content:"+";color:rgb(var(--accent-color));padding-right:10px;font-size:16px;}
  .quantity-break-extra-info ul{
  margin-bottom:0;
  }
@media (max-width: 768px){
.quantity-break-extra-info ul li{font-size:14px;}
}

  .quantity-break:before {
    top: unset !important;
    transform: translate(-50%) !important;
}
  </style>



<!--  Selling Plans Function  -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const subscribeInput = document.querySelector('.subscribe-input');
    const onetimeInput = document.querySelector('.onetime-input');
    const sellingPlanId = document.querySelector('.selling_plan_id');
    const sellingPlanBlock = document.querySelector('.selling-plan-block');
    const oneTimeBlock = document.querySelector('.one-time-block');
    const allBundlePrices = document.querySelectorAll(".new-quantity-break__price");
function updateBundlePrices() {
    allBundlePrices.forEach(bundlePrice => {
        const savePrice = bundlePrice.getAttribute("data-save");
        if (savePrice) {
            bundlePrice.innerHTML = savePrice;
        }
    });
}

    if (subscribeInput.checked) {
       updateBundlePrices();
    }

    subscribeInput.addEventListener('change', function () {
        if (this.checked) {
            sellingPlanBlock.style.display = 'none';
            oneTimeBlock.style.display = 'none';
            sellingPlanId.value = this.value;
         updateBundlePrices();
        }
    });

    onetimeInput.addEventListener('change', function () {
        if (this.checked) {
            sellingPlanBlock.style.display = 'none';
            oneTimeBlock.style.display = 'block';
            sellingPlanId.value = ''; 
         allBundlePrices.forEach(bundlePrice => {
          // console.log("Save Price",bundlePrice);
          const actualPrice = bundlePrice.getAttribute("data-text");
           bundlePrice.innerHTML = actualPrice;
        });  
        }
    });
});
</script></section><section id="shopify-section-template--25802407084372__17348254894d2684d9" class="shopify-section section"><div class="page-width"></div>


</section><div id="shopify-section-template--25802407084372__ss_product_reviews_aUVAWm" class="shopify-section">

<link rel="stylesheet" href="css/swiper-bundle.min.css"><style data-shopify="">@font-face {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("fonts/josefinsans_n4.70f7efd699799949e6d9f99bc20843a2c86a2e0f.woff2") format("woff2"),
       url("fonts/josefinsans_n4.35d308a1bdf56e5556bc2ac79702c721e4e2e983.woff") format("woff");
}

  @font-face {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("fonts/josefinsans_n4.70f7efd699799949e6d9f99bc20843a2c86a2e0f.woff2") format("woff2"),
       url("fonts/josefinsans_n4.35d308a1bdf56e5556bc2ac79702c721e4e2e983.woff") format("woff");
}

  
  .section-template--25802407084372__ss_product_reviews_aUVAWm-settings {
    border: solid #000000 0px;
    margin-top: 8px !important;
    margin-bottom: 8px !important;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0rem;
    padding-right: 0rem;
    border-radius: 8px;
  }

  .reviews-items-template--25802407084372__ss_product_reviews_aUVAWm {
    position: relative;
    background-color: ;
  }

  .reviews-slider-template--25802407084372__ss_product_reviews_aUVAWm * {
    box-sizing: border-box;
  }

  .reviews-slider-template--25802407084372__ss_product_reviews_aUVAWm .swiper-wrapper {
    align-items: stretch;
  }

  .reviews-slider-template--25802407084372__ss_product_reviews_aUVAWm .swiper-slide {
    height: auto;
  }

  .reviews-item-template--25802407084372__ss_product_reviews_aUVAWm {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 6px 6px;
    border: 0px solid #000000;
    background-color: #f3f3f3;
    border-radius: 8px;
  }

  .reviews-content-template--25802407084372__ss_product_reviews_aUVAWm {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .reviews-image-template--25802407084372__ss_product_reviews_aUVAWm {
    flex: 0 0 60px;
    border: 0px solid #000000;
    border-radius: 8px;
  }

  .reviews-image-template--25802407084372__ss_product_reviews_aUVAWm img,
  .reviews-image-template--25802407084372__ss_product_reviews_aUVAWm svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }

  .reviews-image-template--25802407084372__ss_product_reviews_aUVAWm svg {
    background-color: #DDDDDD;
  }

  .reviews-top-template--25802407084372__ss_product_reviews_aUVAWm {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .testimonials-stars-template--25802407084372__ss_product_reviews_aUVAWm {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .testimonials-stars-template--25802407084372__ss_product_reviews_aUVAWm svg path {
    fill: #000000;
  }

  .testimonials-stars-template--25802407084372__ss_product_reviews_aUVAWm svg,
  .testimonials-stars-template--25802407084372__ss_product_reviews_aUVAWm img {
    display: block;
    width: 14px;
    height: 14px;
    object-fit: cover;
  }

  .reviews-author-template--25802407084372__ss_product_reviews_aUVAWm {
    margin: 0px;
    font-size: 14px;
    color: #000000;
    line-height: 130%;
    text-transform: unset;
    font-weight: 700;
  }

  .reviews-text-template--25802407084372__ss_product_reviews_aUVAWm {
    margin: 0px;
    margin-top: 3px;
    font-size: 12px;
    color: #000000;
    line-height: 130%;
    text-transform: unset;
  }

  .reviews-btn-prev-template--25802407084372__ss_product_reviews_aUVAWm,
  .reviews-btn-next-template--25802407084372__ss_product_reviews_aUVAWm {
    display: flex;
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    border: 0px solid #f3f3f3;
    border-radius: 50%;
    background: #f3f3f3;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    -webkit-appearance: none;
    box-shadow: 0px -2px 12px rgba(0, 0, 0, .08);
  }

  .reviews-btn-prev-template--25802407084372__ss_product_reviews_aUVAWm {
    left: -12.0px !important;
  }

  .reviews-btn-next-template--25802407084372__ss_product_reviews_aUVAWm {
    right: -12.0px !important;
  }

  .reviews-btn-prev-template--25802407084372__ss_product_reviews_aUVAWm svg,
  .reviews-btn-next-template--25802407084372__ss_product_reviews_aUVAWm svg {
    height: 16px;
    width: 16px;
  }

  .reviews-btn-prev-template--25802407084372__ss_product_reviews_aUVAWm svg {
    transform: rotate(180deg);
  }

  .reviews-btn-prev-template--25802407084372__ss_product_reviews_aUVAWm svg path,
  .reviews-btn-next-template--25802407084372__ss_product_reviews_aUVAWm svg path {
    fill: #000000;
    transition: all 0.3s ease 0s;
  }

  .reviews-btn-prev-template--25802407084372__ss_product_reviews_aUVAWm:hover ,
  .reviews-btn-next-template--25802407084372__ss_product_reviews_aUVAWm:hover {
    transition: all 0.3s ease 0s;
    border: 0px solid #dddddd;
    background: #dddddd;
  }

  .reviews-btn-prev-template--25802407084372__ss_product_reviews_aUVAWm:hover svg path,
  .reviews-btn-next-template--25802407084372__ss_product_reviews_aUVAWm:hover svg path {
    fill: #000000;
    transition: all 0.3s ease 0s;
  }

  .reviews-btn-prev-template--25802407084372__ss_product_reviews_aUVAWm.swiper-button-disabled,
  .reviews-btn-next-template--25802407084372__ss_product_reviews_aUVAWm.swiper-button-disabled {
    opacity: 0;
  }
  
  @media(min-width: 1024px) {
    
    .section-template--25802407084372__ss_product_reviews_aUVAWm-settings {
      margin-top: 10px !important;
      margin-bottom: 10px !important;
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 0rem;
      padding-right: 0rem;
    }

    .reviews-item-template--25802407084372__ss_product_reviews_aUVAWm {
      padding: 8px 8px;
    }

    .reviews-author-template--25802407084372__ss_product_reviews_aUVAWm {
      font-size: 14px;
    }

    .reviews-text-template--25802407084372__ss_product_reviews_aUVAWm {
      margin-top: 4px;
      font-size: 12px;
    }

    .reviews-btn-prev-template--25802407084372__ss_product_reviews_aUVAWm,
    .reviews-btn-next-template--25802407084372__ss_product_reviews_aUVAWm {
      width: 24px;
      height: 24px;
    }

    .reviews-btn-prev-template--25802407084372__ss_product_reviews_aUVAWm {
      left: -12.0px !important;
    }
  
    .reviews-btn-next-template--25802407084372__ss_product_reviews_aUVAWm {
      right: -12.0px !important;
    }

    .reviews-btn-prev-template--25802407084372__ss_product_reviews_aUVAWm svg,
    .reviews-btn-next-template--25802407084372__ss_product_reviews_aUVAWm svg {
      height: 16px;
      width: 16px;
    }
  }</style>




  <style>
    .reviews-image-template--25802407084372__ss_product_reviews_aUVAWm {
     aspect-ratio: 12/12; 
    }
  </style>



  <style>
    .reviews-btn-prev-template--25802407084372__ss_product_reviews_aUVAWm,
    .reviews-btn-next-template--25802407084372__ss_product_reviews_aUVAWm {
      display: flex;
    }
  </style>



  <style>
    @media(min-width: 1024px) {
      .reviews-btn-prev-template--25802407084372__ss_product_reviews_aUVAWm,
      .reviews-btn-next-template--25802407084372__ss_product_reviews_aUVAWm {
        display: flex;
      }
    }
  </style>


<script>
  (function () {
    function moreLoadProductForm() {
      var productForm = document.querySelector('#ss-reviews');
      if (!productForm){
        var productForm = document.querySelector('.button--add-to-cart, .product .product-form, .product-single__add-to-cart, .shopify-payment-button, .shopify-payment-button__button, .ProductForm__BuyButtons, .add-to-cart');
        if (!productForm) return;
        }
        const templateContent = document.querySelector(
          '#ss-reviews-template--25802407084372__ss_product_reviews_aUVAWm'
        ).content;

        productForm.insertAdjacentElement(
          'afterend',
          templateContent.firstElementChild
        );
    }
    function moreUnloadProductForm() {
      const productForm = document.querySelector('.button--add-to-cart, .product .product-form, .product-single__add-to-cart, .shopify-payment-button, .shopify-payment-button__button, .ProductForm__BuyButtons');

      if (!productForm) return;

      const contentTemplateBuyWith = document.querySelector(
        '#reviews-body-template--25802407084372__ss_product_reviews_aUVAWm'
      );

      if (contentTemplateBuyWith) contentTemplateBuyWith.remove();

    }
    window.addEventListener('DOMContentLoaded', moreLoadProductForm);

    // load and unload product form when in Shopify editor:
    if (window.Shopify && Shopify.designMode) {
      window.addEventListener('shopify:section:load', moreLoadProductForm);
      window.addEventListener('shopify:section:unload', moreUnloadProductForm);
    }
  })();
</script>

<template class="section-template--25802407084372__ss_product_reviews_aUVAWm reviews-template--25802407084372__ss_product_reviews_aUVAWm" id="ss-reviews-template--25802407084372__ss_product_reviews_aUVAWm">
    <div class="section-template--25802407084372__ss_product_reviews_aUVAWm-settings" id="reviews-body-template--25802407084372__ss_product_reviews_aUVAWm" style="background-color:#f3f3f3; background-image: ;">
      <div class="reviews-items-template--25802407084372__ss_product_reviews_aUVAWm">
        <div class="reviews-slider-template--25802407084372__ss_product_reviews_aUVAWm swiper">
          <div class="swiper-wrapper">
            
            
            
            
              <div class="swiper-slide">
                <div class="reviews-item-template--25802407084372__ss_product_reviews_aUVAWm">
                  
                  <div class="reviews-image-template--25802407084372__ss_product_reviews_aUVAWm">
                    
                      <img src="{{ 'woman-smiles-for-camera-in-this-decorated-room.jpg' | asset_url }}" alt="" loading="lazy">
                    
                  </div>
                  
                  <div class="reviews-content-template--25802407084372__ss_product_reviews_aUVAWm">
                    <div class="reviews-top-template--25802407084372__ss_product_reviews_aUVAWm">
                      
                      <p class="reviews-author-template--25802407084372__ss_product_reviews_aUVAWm">Lauren Atkinson</p>
                      
                      
                        <div class="testimonials-stars-template--25802407084372__ss_product_reviews_aUVAWm">
                            
                              
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                                  <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#1F448C"></path>
                                </svg>
                              
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                                  <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#1F448C"></path>
                                </svg>
                              
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                                  <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#1F448C"></path>
                                </svg>
                              
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                                  <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#1F448C"></path>
                                </svg>
                              
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                                  <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#1F448C"></path>
                                </svg>
                              
                            
                        </div>
                      
                    </div>
                    
                      <p class="reviews-text-template--25802407084372__ss_product_reviews_aUVAWm">By far the best Turmeric supplement I've ever used, nothing even comes close. Great brand, clean ingredients and highly effective!</p>
                    
                  </div>
                </div>
              </div>
            
            
          </div>
        </div>
        <div class="reviews-btn-prev-template--25802407084372__ss_product_reviews_aUVAWm">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
            <path d="m13.172 12-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414 4.95-4.95Z"></path>
          </svg>
        </div>
        <div class="reviews-btn-next-template--25802407084372__ss_product_reviews_aUVAWm">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
            <path d="m13.172 12-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414 4.95-4.95Z"></path>
          </svg>
        </div>
      </div>
    </div>
</template>

<script src="{{ 'swiper-bundle.min.js' | asset_url }}"></script>

<script>
  function initProductReviews() {
    setTimeout(() => {
      const slider = new Swiper('.reviews-slider-template--25802407084372__ss_product_reviews_aUVAWm', {
        speed: 200,
        slidesPerView: 'auto',
        navigation: {
        nextEl: '.reviews-btn-next-template--25802407084372__ss_product_reviews_aUVAWm',
        prevEl: '.reviews-btn-prev-template--25802407084372__ss_product_reviews_aUVAWm'
      },
      })
    },200)
  }

  document.addEventListener('DOMContentLoaded', initProductReviews);
  
  if (Shopify.designMode) {
     document.addEventListener('shopify:section:unload', initProductReviews);
     document.addEventListener('shopify:section:load', initProductReviews);
  }
  
</script>

</div>