<div class="testimonials-slide-template--25802407084372__ss_testimonial_28_7XJPFm swiper-slide">
                      <div class="testimonials-media-template--25802407084372__ss_testimonial_28_7XJPFm">
                                           
                          
                            <img src="{{ 'new-ugc3.jpg' | asset_url }}" alt="" loading="lazy">
                                             
                                             
                      </div>
                      <div class="testimonials-content-template--25802407084372__ss_testimonial_28_7XJPFm">
                        
                          <div class="testimonials-slide-text-template--25802407084372__ss_testimonial_28_7XJPFm"><p><em>“After 2 weeks, I noticed less stiffness and more energy. I even stopped taking ibuprofen daily. This has been a game changer for me.”</em></p></div>
                        
                        <div class="testimonials-bottom-template--25802407084372__ss_testimonial_28_7XJPFm">
                          <div class="testimonials-slide-review-template--25802407084372__ss_testimonial_28_7XJPFm">
                            
                              <div class="testimonials-slide-stars-wrapper-template--25802407084372__ss_testimonial_28_7XJPFm">                       
                                <div class="testimonials-slide-stars-template--25802407084372__ss_testimonial_28_7XJPFm testimonials-slide-stars-slide_pWqbNQ">
                                  
                                    
                                      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        
                                        <rect width="32" height="32" fill="#00b67a"></rect>
                                        <g clip-path="url(#clip0_25_4)">
                                        <path d="M9.20283 27L16.001 21.807L22.7972 27L20.2018 18.596L27 13.403H18.5984L16.001 5L13.4037 13.403H5L11.7982 18.596L9.20283 27Z" fill="#ffffff"></path>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_25_4">
                                        <rect width="22" height="22" fill="#ffffff" transform="translate(5 5)"></rect>
                                        </clipPath>
                                        </defs>
                                      </svg>
                                    
                                    
                                      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        
                                        <rect width="32" height="32" fill="#00b67a"></rect>
                                        <g clip-path="url(#clip0_25_4)">
                                        <path d="M9.20283 27L16.001 21.807L22.7972 27L20.2018 18.596L27 13.403H18.5984L16.001 5L13.4037 13.403H5L11.7982 18.596L9.20283 27Z" fill="#ffffff"></path>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_25_4">
                                        <rect width="22" height="22" fill="#ffffff" transform="translate(5 5)"></rect>
                                        </clipPath>
                                        </defs>
                                      </svg>
                                    
                                    
                                      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        
                                        <rect width="32" height="32" fill="#00b67a"></rect>
                                        <g clip-path="url(#clip0_25_4)">
                                        <path d="M9.20283 27L16.001 21.807L22.7972 27L20.2018 18.596L27 13.403H18.5984L16.001 5L13.4037 13.403H5L11.7982 18.596L9.20283 27Z" fill="#ffffff"></path>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_25_4">
                                        <rect width="22" height="22" fill="#ffffff" transform="translate(5 5)"></rect>
                                        </clipPath>
                                        </defs>
                                      </svg>
                                    
                                    
                                      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        
                                        <rect width="32" height="32" fill="#00b67a"></rect>
                                        <g clip-path="url(#clip0_25_4)">
                                        <path d="M9.20283 27L16.001 21.807L22.7972 27L20.2018 18.596L27 13.403H18.5984L16.001 5L13.4037 13.403H5L11.7982 18.596L9.20283 27Z" fill="#ffffff"></path>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_25_4">
                                        <rect width="22" height="22" fill="#ffffff" transform="translate(5 5)"></rect>
                                        </clipPath>
                                        </defs>
                                      </svg>
                                    
                                    
                                      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        
                                        <rect width="32" height="32" fill="#00b67a"></rect>
                                        <g clip-path="url(#clip0_25_4)">
                                        <path d="M9.20283 27L16.001 21.807L22.7972 27L20.2018 18.596L27 13.403H18.5984L16.001 5L13.4037 13.403H5L11.7982 18.596L9.20283 27Z" fill="#ffffff"></path>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_25_4">
                                        <rect width="22" height="22" fill="#ffffff" transform="translate(5 5)"></rect>
                                        </clipPath>
                                        </defs>
                                      </svg>
                                    
                                  
                                </div>               
                                
                                  <p class="testimonials-slide-stars-badge-template--25802407084372__ss_testimonial_28_7XJPFm">Verified</p>
                                                        
                              </div>
                              
                          </div>
                          
                            <p class="testimonials-slide-author-template--25802407084372__ss_testimonial_28_7XJPFm">Tanya G., 61</p>
                           
                        </div>                                     
                      </div>
                    </div>
                  
                
                  
                    <div class="testimonials-slide-template--25802407084372__ss_testimonial_28_7XJPFm swiper-slide">
                      <div class="testimonials-media-template--25802407084372__ss_testimonial_28_7XJPFm">
                                           
                          
                            <img src="{{ 'new-ugc4.jpg' | asset_url }}" alt="" loading="lazy">
                                             
                                             
                      </div>
                      <div class="testimonials-content-template--25802407084372__ss_testimonial_28_7XJPFm">
                        
                          <div class="testimonials-slide-text-template--25802407084372__ss_testimonial_28_7XJPFm"><p>I’ve been dealing with stiff joints and general inflammation for years, especially in the mornings. I started taking <strong>Bioroot Labs</strong> about a month ago, and I can honestly say I feel a real difference. My knees feel less tight, and even my hands usually achy by midday feel more mobile</p></div>
                        
                        <div class="testimonials-bottom-template--25802407084372__ss_testimonial_28_7XJPFm">
                          <div class="testimonials-slide-review-template--25802407084372__ss_testimonial_28_7XJPFm">
                            
                              <div class="testimonials-slide-stars-wrapper-template--25802407084372__ss_testimonial_28_7XJPFm">                       
                                <div class="testimonials-slide-stars-template--25802407084372__ss_testimonial_28_7XJPFm testimonials-slide-stars-slide_AHTkQJ">
                                  
                                    
                                      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        
                                        <rect width="32" height="32" fill="#00b67a"></rect>
                                        <g clip-path="url(#clip0_25_4)">
                                        <path d="M9.20283 27L16.001 21.807L22.7972 27L20.2018 18.596L27 13.403H18.5984L16.001 5L13.4037 13.403H5L11.7982 18.596L9.20283 27Z" fill="#ffffff"></path>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_25_4">
                                        <rect width="22" height="22" fill="#ffffff" transform="translate(5 5)"></rect>
                                        </clipPath>
                                        </defs>
                                      </svg>
                                    
                                    
                                      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        
                                        <rect width="32" height="32" fill="#00b67a"></rect>
                                        <g clip-path="url(#clip0_25_4)">
                                        <path d="M9.20283 27L16.001 21.807L22.7972 27L20.2018 18.596L27 13.403H18.5984L16.001 5L13.4037 13.403H5L11.7982 18.596L9.20283 27Z" fill="#ffffff"></path>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_25_4">
                                        <rect width="22" height="22" fill="#ffffff" transform="translate(5 5)"></rect>
                                        </clipPath>
                                        </defs>
                                      </svg>
                                    
                                    
                                      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        
                                        <rect width="32" height="32" fill="#00b67a"></rect>
                                        <g clip-path="url(#clip0_25_4)">
                                        <path d="M9.20283 27L16.001 21.807L22.7972 27L20.2018 18.596L27 13.403H18.5984L16.001 5L13.4037 13.403H5L11.7982 18.596L9.20283 27Z" fill="#ffffff"></path>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_25_4">
                                        <rect width="22" height="22" fill="#ffffff" transform="translate(5 5)"></rect>
                                        </clipPath>
                                        </defs>
                                      </svg>
                                    
                                    
                                      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        
                                        <rect width="32" height="32" fill="#00b67a"></rect>
                                        <g clip-path="url(#clip0_25_4)">
                                        <path d="M9.20283 27L16.001 21.807L22.7972 27L20.2018 18.596L27 13.403H18.5984L16.001 5L13.4037 13.403H5L11.7982 18.596L9.20283 27Z" fill="#ffffff"></path>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_25_4">
                                        <rect width="22" height="22" fill="#ffffff" transform="translate(5 5)"></rect>
                                        </clipPath>
                                        </defs>
                                      </svg>
                                    
                                    
                                      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        
                                        <rect width="32" height="32" fill="#00b67a"></rect>
                                        <g clip-path="url(#clip0_25_4)">
                                        <path d="M9.20283 27L16.001 21.807L22.7972 27L20.2018 18.596L27 13.403H18.5984L16.001 5L13.4037 13.403H5L11.7982 18.596L9.20283 27Z" fill="#ffffff"></path>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_25_4">
                                        <rect width="22" height="22" fill="#ffffff" transform="translate(5 5)"></rect>
                                        </clipPath>
                                        </defs>
                                      </svg>
                                    
                                  
                                </div>               
                                
                                  <p class="testimonials-slide-stars-badge-template--25802407084372__ss_testimonial_28_7XJPFm">Verified</p>
                                                        
                              </div>
                              
                          </div>
                          
                            <p class="testimonials-slide-author-template--25802407084372__ss_testimonial_28_7XJPFm">Norman W., 72</p>
                           
                        </div>                                     
                      </div>
                    </div>
                  
                
              
              
            </div>         
          </div>
        </div>
      
        <div class="testimonials-buttons-template--25802407084372__ss_testimonial_28_7XJPFm">
          <button class="testimonials-btn-prev-template--25802407084372__ss_testimonial_28_7XJPFm">
            <span class="animate-icon"></span>
          </button>
          <button class="testimonials-btn-next-template--25802407084372__ss_testimonial_28_7XJPFm">
            <span class="animate-icon"></span>
          </button>   
        </div>
        
          
        
          
        
          
        
          
        
          
        
          
        
      </div>   
    </div>
</div>

<script src="{{ 'lazyload.min.js' | asset_url }}"></script>

<script>
  function loadSwiper(callback) {
    if (window.Swiper) {
      callback();
    } else {
      const script = document.createElement('script');
      script.src = "https://cdn.jsdelivr.net/npm/swiper@6.8.4/swiper-bundle.min.js";
      script.onload = callback;
      document.head.appendChild(script);
    }
  }

  function initTestimonials28(sectionId) {
    let lazyLoadInstance = new LazyLoad();

    window.addEventListener(
      "LazyLoad::Initialized",
      function (event) {
        window.lazyLoadInstance = event.detail.instance;
      },
      false
    );

    document.querySelector(`.testimonials-slider-${sectionId}`).classList.remove('preview');
    const slider = new Swiper(`.testimonials-slider-${sectionId}`, {
      speed: 300,
      loop: true,
      navigation: {
        nextEl: `.testimonials-btn-next-${sectionId}`,
        prevEl: `.testimonials-btn-prev-${sectionId}`,
      },
      breakpoints: {
        320: {
          spaceBetween: parseInt(document.querySelector(`.testimonials-slider-${sectionId}`).dataset.gapMobile || 0),
          slidesPerView: parseFloat(document.querySelector(`.testimonials-slider-${sectionId}`).dataset.viewMobile || 1),
        },
        768: {
          spaceBetween: parseInt(document.querySelector(`.testimonials-slider-${sectionId}`).dataset.gap || 0),
          slidesPerView: parseFloat(document.querySelector(`.testimonials-slider-${sectionId}`).dataset.view || 3),
        },
        1024: {
          spaceBetween: parseInt(document.querySelector(`.testimonials-slider-${sectionId}`).dataset.gap || 0),
          slidesPerView: parseFloat(document.querySelector(`.testimonials-slider-${sectionId}`).dataset.view || 3),
        }
      }
    });

    const videos = document.querySelectorAll(`.testimonials-media-${sectionId}`);

    videos.forEach(item => {
      const video = item.querySelector('video');
      const iframe = item.querySelector('iframe');   
      const videoButton = item.querySelector(`.testimonials-play-${sectionId}`);
      
      item.addEventListener('click', () => {       
        videos.forEach(otherItem => {
          const otherVideo = otherItem.querySelector('video');
          const otherIframe = otherItem.querySelector('iframe');
          const otherButton = otherItem.querySelector(`.testimonials-play-${sectionId}`);
          
          if (otherItem !== item) {
            if (otherVideo) {
              otherVideo.pause();
              otherVideo.controls = false;
            }
            if (otherIframe) {
              otherIframe.src = otherIframe.getAttribute('data-src2');
            }
            if (otherButton) {
              otherButton.classList.add('active');
            }
          }
        });

        setTimeout(() => {            
          if(videoButton.classList.contains('active')) {
            if(video) {
              video.play();
              video.controls = true; 
            }
            if(iframe) {
              iframe.src = iframe.getAttribute('data-src1');
            }   
          } else {
            if(video) {
              video.pause();
              video.controls = false; 
            }
            if(iframe) {
              iframe.src = iframe.getAttribute('data-src2');
            }           
          }  
          videoButton.classList.toggle('active'); 
        }, 400)
      });
    });

  }

  function initializeAllTestimonials28Sections() {
    const sections = document.querySelectorAll('[id^="shopify-section-"]');
    sections.forEach(section => {
      if (section.querySelector('.testimonials-template--25802407084372__ss_testimonial_28_7XJPFm')) {
        const sectionId = section.id.replace('shopify-section-', '');
        loadSwiper(() => initTestimonials28(sectionId));
      }
    });
  }

  if (document.readyState === 'loading') {
    document.addEventListener('DOMContentLoaded', initializeAllTestimonials28Sections);
  } else {
    initializeAllTestimonials28Sections();
  }

  if (Shopify.designMode) {
    document.addEventListener('shopify:section:load', (event) => {
      const sectionId = event.detail.sectionId;
      if (event.target.querySelector('.testimonials-template--25802407084372__ss_testimonial_28_7XJPFm')) {
        loadSwiper(() => initTestimonials28(sectionId));
      }
    });
  }
</script>



</div><div id="shopify-section-template--25802407084372__icons_with_content_fqLqid" class="shopify-section section"><style data-shopify="">.section-template--25802407084372__icons_with_content_fqLqid-padding {
    padding-top: 27px;
    padding-bottom: 27px;
  }

  @media screen and (min-width: 750px) {
    .section-template--25802407084372__icons_with_content_fqLqid-padding {
      padding-top: 36px;
      padding-bottom: 36px;
    }
  }</style><div class="color-background-1 content-for-grouping animate-section animate--hidden always-display">
  
  <div class="icons-with-content page-width section-template--25802407084372__icons_with_content_fqLqid-padding">
    <div class="icon-with-content__grid section-group__container__child-grid icon-with-content__grid--desktop-reverse icon-with-content__mobile-grid--reverse">
      <div class="icon-with-content__icons icon-with-content__icons--desktop-1-column icon-with-content__icons--mobile-1-column animate-item animate-item--child index-0"><div class="icons-with-text__icon-item icons-with-text__icon-item--next-to-text icons-with-text__icon-item--left">
                
                  <div class="icons-with-text__icon__icon icons-with-text__icon__icon--l color-accent-1"><img src="{{ 'pill_24dp_085946_FILL0_wght400_GRAD0_opsz24.svg' | asset_url }}" role="presentation" height="auto" width="auto" loading="lazy"></div>
                
                <div class="icons-with-text__icon__text">
                  <h3 class="icons-with-text__icon__title h3">
                    
                    <span>
                      Take 3 Capsules Daily
                    </span>
                  </h3></div>
              </div>
          
        <div class="icons-with-text__icon-item icons-with-text__icon-item--next-to-text icons-with-text__icon-item--left">
                
                  <div class="icons-with-text__icon__icon icons-with-text__icon__icon--l color-accent-1"><img src="{{ 'restaurant_24dp_085946_FILL0_wght400_GRAD0_opsz24.svg' | asset_url }}" role="presentation" height="auto" width="auto" loading="lazy"></div>
                
                <div class="icons-with-text__icon__text">
                  <h3 class="icons-with-text__icon__title h3">
                    
                    <span>
                      Take With Food
                    </span>
                  </h3></div>
              </div>
          
        <div class="icons-with-text__icon-item icons-with-text__icon-item--next-to-text icons-with-text__icon-item--left">
                
                  <div class="icons-with-text__icon__icon icons-with-text__icon__icon--l color-accent-1"><img src="{{ 'schedule_24dp_085946_FILL0_wght400_GRAD0_opsz24.svg' | asset_url }}" role="presentation" height="auto" width="auto" loading="lazy"></div>
                
                <div class="icons-with-text__icon__text">
                  <h3 class="icons-with-text__icon__title h3">
                    
                    <span>
                      Morning Or Evening
                    </span>
                  </h3></div>
              </div>
          
        <div class="icons-with-text__icon-item icons-with-text__icon-item--next-to-text icons-with-text__icon-item--left">
                
                  <div class="icons-with-text__icon__icon icons-with-text__icon__icon--l color-accent-1"><img src="{{ 'cached_24dp_085946_FILL0_wght400_GRAD0_opsz24.svg' | asset_url }}" role="presentation" height="auto" width="auto" loading="lazy"></div>
                
                <div class="icons-with-text__icon__text">
                  <h3 class="icons-with-text__icon__title h3">
                    
                    <span>
                      Use Consistently for 4–8 Weeks
                    </span>
                  </h3></div>
              </div>
          
        
        
        
      </div>
      <div class="icon-with-content__content left animate-item animate-item--child index-0"><h2 class="icon-with-content__heading h1">
                How To USe
              </h2><div class="icon-with-content__text rte body">
                <p>Taking our turmeric supplement is simple, hassle-free, and designed to integrate seamlessly into your daily wellness routine.</p>
              </div></div>
    </div>
  </div>
</div>


</div><div id="shopify-section-template--25802407084372__results_B6BT7h" class="shopify-section"><style data-shopify="">.section-template--25802407084372__results_B6BT7h-padding {
    padding-top: 27px;
    padding-bottom: 27px;
  }

  @media screen and (min-width: 750px) {
    .section-template--25802407084372__results_B6BT7h-padding {
      padding-top: 36px;
      padding-bottom: 36px;
    }
  }</style><div class="color-background-1 content-for-grouping animate-section animate--hidden always-display">
  
  <div class="page-width section-template--25802407084372__results_B6BT7h-padding">
    <div class="content-and-results section-group__container__child-grid content-and-results--results-first">
      
      <div class="content-container content-rte center animate-item animate-item--child index-0 desktop-index-1">
          <h2 class="h1">
            Why Turmeric Isn't Optional Anymore
          </h2></div>
      <div class="results-container">
        <div class="results animate-item animate-item--child index-1 desktop-index-0"><div class="results__rows-container"><div class="results__row">
                <div class="results__percentage" style="--percentage: 73%">
                  <p>73%</p>
                </div>
                <div class="results__text">
                  <p>of adults report experiencing muscle or joint pain at least once a week</p><p></p>
                </div>
              </div><div class="results__row">
                <div class="results__percentage" style="--percentage: 90%">
                  <p>90%</p>
                </div>
                <div class="results__text">
                  <p>of turmeric supplements contain weak doses or poor-quality powder</p><p></p>
                </div>
              </div><div class="results__row">
                <div class="results__percentage" style="--percentage: 82%">
                  <p>82%</p>
                </div>
                <div class="results__text">
                  <p>82% of users report feeling less joint stiffness within 30 days</p><p></p>
                </div>
              </div><div class="results__row">
                <div class="results__percentage" style="--percentage: 80%">
                  <p>80%</p>
                </div>
                <div class="results__text">
                  <p>reduction in inflammation markers shown in clinical trials using curcumin</p><p></p>
                </div>
              </div></div></div>
      </div>
    </div>
  </div>
</div>


</div><div id="shopify-section-template--25802407084372__ss_comparison_table_4_AdDYbg" class="shopify-section">
<style data-shopify="">@font-face {
  font-family: Assistant;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("fonts/assistant_n4.9120912a469cad1cc292572851508ca49d12e768.woff2") format("woff2"),
       url("fonts/assistant_n4.6e9875ce64e0fefcd3f4446b7ec9036b3ddd2985.woff") format("woff");
}

  @font-face {
  font-family: Assistant;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("fonts/assistant_n4.9120912a469cad1cc292572851508ca49d12e768.woff2") format("woff2"),
       url("fonts/assistant_n4.6e9875ce64e0fefcd3f4446b7ec9036b3ddd2985.woff") format("woff");
}

  @font-face {
  font-family: Assistant;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("fonts/assistant_n4.9120912a469cad1cc292572851508ca49d12e768.woff2") format("woff2"),
       url("fonts/assistant_n4.6e9875ce64e0fefcd3f4446b7ec9036b3ddd2985.woff") format("woff");
}

  @font-face {
  font-family: Assistant;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("fonts/assistant_n4.9120912a469cad1cc292572851508ca49d12e768.woff2") format("woff2"),
       url("fonts/assistant_n4.6e9875ce64e0fefcd3f4446b7ec9036b3ddd2985.woff") format("woff");
}

  @font-face {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("fonts/josefinsans_n4.70f7efd699799949e6d9f99bc20843a2c86a2e0f.woff2") format("woff2"),
       url("fonts/josefinsans_n4.35d308a1bdf56e5556bc2ac79702c721e4e2e983.woff") format("woff");
}

  @font-face {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("fonts/josefinsans_n4.70f7efd699799949e6d9f99bc20843a2c86a2e0f.woff2") format("woff2"),
       url("fonts/josefinsans_n4.35d308a1bdf56e5556bc2ac79702c721e4e2e983.woff") format("woff");
}

  
  .section-template--25802407084372__ss_comparison_table_4_AdDYbg {
    border-top: solid #000000 0px;
    border-bottom: solid #000000 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .section-template--25802407084372__ss_comparison_table_4_AdDYbg-settings {
    margin: 0 auto;
    padding-top: 54px;
    padding-bottom: 54px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .comparison-heading-template--25802407084372__ss_comparison_table_4_AdDYbg {
    text-align: center;
  }

  .comparison-heading-template--25802407084372__ss_comparison_table_4_AdDYbg * {
    margin: 0;
    font-size: 32px;
    color: #2f1718;
    line-height: 130%;
    text-transform: unset;
    display: block;
    width: 100%;
  }
  
  .comparison-body-template--25802407084372__ss_comparison_table_4_AdDYbg {
    margin-top: 33px;
    width: 100%;
  }

  .comparison-grid-template--25802407084372__ss_comparison_table_4_AdDYbg {
    display: grid;
    grid-template-columns: 66% 17% 17%  ;
  }

  .comparison-item-template--25802407084372__ss_comparison_table_4_AdDYbg {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .comparison-item-template--25802407084372__ss_comparison_table_4_AdDYbg:first-child {
    flex-direction: row;
    gap: 20px;
  }

  .comparison-grid-header-template--25802407084372__ss_comparison_table_4_AdDYbg .comparison-item-template--25802407084372__ss_comparison_table_4_AdDYbg {
    padding: 10px 4px;
  }

  .comparison-grid-header-template--25802407084372__ss_comparison_table_4_AdDYbg .comparison-item-template--25802407084372__ss_comparison_table_4_AdDYbg.active {
    background-color: #085946;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border: 2px solid #085946;
    border-bottom: 0px;
  }

  .comparison-grid-header-template--25802407084372__ss_comparison_table_4_AdDYbg .comparison-item-template--25802407084372__ss_comparison_table_4_AdDYbg h3 {
    margin: 0;
    font-size: 10px;
    color: #2f1718;
    line-height: 100%;
    text-transform: unset;
    text-align: center;
    display: block;
    width: 100%;
    font-weight: 700;
  }

  .comparison-grid-header-template--25802407084372__ss_comparison_table_4_AdDYbg .comparison-item-template--25802407084372__ss_comparison_table_4_AdDYbg.active h3 {
    color: #ffffff;
  }

  .comparison-grid-header-template--25802407084372__ss_comparison_table_4_AdDYbg .comparison-item-template--25802407084372__ss_comparison_table_4_AdDYbg img {
    display: block;
    width: 40px;
    height: 100%;
    object-fit: contain;
  }

  .comparison-grid-rows-template--25802407084372__ss_comparison_table_4_AdDYbg .comparison-item-template--25802407084372__ss_comparison_table_4_AdDYbg {
     padding: 10px 10px;
  }

  .comparison-grid-rows-template--25802407084372__ss_comparison_table_4_AdDYbg:not(:last-child) .comparison-item-template--25802407084372__ss_comparison_table_4_AdDYbg:not(.active) {
    border-bottom: 1px solid #d3cabc;
  }

  .comparison-grid-rows-template--25802407084372__ss_comparison_table_4_AdDYbg .comparison-item-template--25802407084372__ss_comparison_table_4_AdDYbg.active {
    background-color: #ffffff;
  }

  .comparison-grid-rows-template--25802407084372__ss_comparison_table_4_AdDYbg .comparison-item-template--25802407084372__ss_comparison_table_4_AdDYbg.active {
    border-left: 2px solid #085946;
    border-right: 2px solid #085946;
  }

  .comparison-grid-rows-template--25802407084372__ss_comparison_table_4_AdDYbg:last-child .comparison-item-template--25802407084372__ss_comparison_table_4_AdDYbg.active {
    border-bottom: 2px solid #085946;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  .comparison-item-heading-image-template--25802407084372__ss_comparison_table_4_AdDYbg {
    width: 40px;
    height: 40px;
  }

  .comparison-item-heading-image-template--25802407084372__ss_comparison_table_4_AdDYbg img {
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  .comparison-grid-rows-template--25802407084372__ss_comparison_table_4_AdDYbg .comparison-item-template--25802407084372__ss_comparison_table_4_AdDYbg:first-child h3 {
    margin: 0;
    font-size: 16px;
    color: #2f1718;
    line-height: 130%;
    text-transform: unset;
    text-align: left;
    display: block;
    width: 100%;
    font-weight: 700;
  }

  .comparison-item-text-template--25802407084372__ss_comparison_table_4_AdDYbg {
    margin: 0;
    font-size: 16px;
    color: #2f1718;
    line-height: 130%;
    text-transform: unset;
    text-align: center;
    display: block;
    width: 100%;
    font-weight: 700;
  }

  .comparison-item-template--25802407084372__ss_comparison_table_4_AdDYbg.active .comparison-item-text-template--25802407084372__ss_comparison_table_4_AdDYbg {
    color: #085946;
  }

  .comparison-item-image-template--25802407084372__ss_comparison_table_4_AdDYbg {
    width: 40px;
    height: 40px;
  }

  .comparison-item-image-template--25802407084372__ss_comparison_table_4_AdDYbg img {
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  .comparison-buttons-template--25802407084372__ss_comparison_table_4_AdDYbg {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    margin-top: 33px;
  }

  .comparison-button-template--25802407084372__ss_comparison_table_4_AdDYbg {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    color: #a8252e;
    line-height: 100%;
    text-align: center;
    text-transform: unset;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 6px;
    border: 2px solid #a8252e;
    background-color: ;
    transition: all 0.25s ease 0s;
  }

  .comparison-button-template--25802407084372__ss_comparison_table_4_AdDYbg:hover {
    color: #ffffff;
    border: 2px solid #a8252e;
    background-color: #a8252e;
    transition: all 0.25s ease 0s;
  }

  .comparison-second-button-template--25802407084372__ss_comparison_table_4_AdDYbg {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    line-height: 100%;
    text-align: center;
    text-transform: unset;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 6px;
    border: 2px solid #a8252e;
    background-color: #a8252e;
    transition: all 0.25s ease 0s;
  }

  .comparison-second-button-template--25802407084372__ss_comparison_table_4_AdDYbg:hover {
    color: #ffffff;
    border: 2px solid #791119;
    background-color: #791119;
    transition: all 0.25s ease 0s;
  }

  @media(min-width: 576px) {
    .comparison-second-button-template--25802407084372__ss_comparison_table_4_AdDYbg,
    .comparison-button-template--25802407084372__ss_comparison_table_4_AdDYbg {
      max-width: fit-content;
    }
  }
  
  @media(min-width: 1024px) {

    .section-template--25802407084372__ss_comparison_table_4_AdDYbg {
      margin-top: 0px;
      margin-bottom: 0px;
    }
    
    .section-template--25802407084372__ss_comparison_table_4_AdDYbg-settings {
      padding: 0 5rem;
      padding-top: 72px;
      padding-bottom: 72px;
      padding-left: 5rem;
      padding-right: 5rem;
    }

    .comparison-heading-template--25802407084372__ss_comparison_table_4_AdDYbg {
      text-align: center;
    }

    .comparison-heading-template--25802407084372__ss_comparison_table_4_AdDYbg * {
      font-size: 56px;
    }

    .comparison-body-template--25802407084372__ss_comparison_table_4_AdDYbg {
      margin-top: 44px;
      max-width: 80rem;
    }

    .comparison-grid-template--25802407084372__ss_comparison_table_4_AdDYbg {
      grid-template-columns: 1fr 15% 15%  ;
    }

    .comparison-grid-header-template--25802407084372__ss_comparison_table_4_AdDYbg .comparison-item-template--25802407084372__ss_comparison_table_4_AdDYbg img {
      width: 66px;
    }

    .comparison-grid-header-template--25802407084372__ss_comparison_table_4_AdDYbg .comparison-item-template--25802407084372__ss_comparison_table_4_AdDYbg {
      padding: 10px 12px;
    }

    .comparison-grid-header-template--25802407084372__ss_comparison_table_4_AdDYbg .comparison-item-template--25802407084372__ss_comparison_table_4_AdDYbg h3 {
      font-size: 16px;
    }

    .comparison-grid-rows-template--25802407084372__ss_comparison_table_4_AdDYbg .comparison-item-template--25802407084372__ss_comparison_table_4_AdDYbg {
      padding: 16px 16px;
    }
    
    .comparison-item-heading-image-template--25802407084372__ss_comparison_table_4_AdDYbg {
      width: 66px;
      height: 66px;
    }

    .comparison-grid-rows-template--25802407084372__ss_comparison_table_4_AdDYbg .comparison-item-template--25802407084372__ss_comparison_table_4_AdDYbg:first-child h3 {
      font-size: 22px;
    }

    .comparison-item-text-template--25802407084372__ss_comparison_table_4_AdDYbg {
      font-size: 20px;
    }

    .comparison-item-image-template--25802407084372__ss_comparison_table_4_AdDYbg {
      width: 52px;
      height: 52px;
    }

    .comparison-buttons-template--25802407084372__ss_comparison_table_4_AdDYbg {
      margin-top: 44px;
      flex-direction: row;
    }

    .comparison-button-template--25802407084372__ss_comparison_table_4_AdDYbg {
      padding: 20px 40px;
      font-size: 22px;
    }

    .comparison-second-button-template--25802407084372__ss_comparison_table_4_AdDYbg {
      padding: 20px 40px;
      font-size: 22px;
    }
  }</style>
  <style>
    .section-template--25802407084372__ss_comparison_table_4_AdDYbg-settings {
      max-width: 120rem;
    }
  </style>

















  <style>
   .comparison-body-template--25802407084372__ss_comparison_table_4_AdDYbg {
      margin-left: auto;
      margin-right: auto;
    } 
  </style>


<div class="section-template--25802407084372__ss_comparison_table_4_AdDYbg comparison-template--25802407084372__ss_comparison_table_4_AdDYbg" style="background-color:#f6f5f1; background-image: ;">
    <div class="section-template--25802407084372__ss_comparison_table_4_AdDYbg-settings">
      
        <div class="comparison-heading-template--25802407084372__ss_comparison_table_4_AdDYbg"><h2>Why Choose BioRoot?</h2></div>
      
      <div class="comparison-body-template--25802407084372__ss_comparison_table_4_AdDYbg">
        <div class="comparison-grid-template--25802407084372__ss_comparison_table_4_AdDYbg comparison-grid-header-template--25802407084372__ss_comparison_table_4_AdDYbg">
          <div class="comparison-item-template--25802407084372__ss_comparison_table_4_AdDYbg"></div>
          
            <div class="comparison-item-template--25802407084372__ss_comparison_table_4_AdDYbg active">
              
                  <h3>BioRoot</h3>
                
            </div>
          
          
            <div class="comparison-item-template--25802407084372__ss_comparison_table_4_AdDYbg ">
              
                  <h3>OTHERS</h3>
                
            </div>
          
          
          
        </div>
        
          <div class="comparison-grid-template--25802407084372__ss_comparison_table_4_AdDYbg comparison-grid-rows-template--25802407084372__ss_comparison_table_4_AdDYbg">
            <div class="comparison-item-template--25802407084372__ss_comparison_table_4_AdDYbg">
              
                <h3>Curcumin Strength</h3>
            </div>
            
              <div class="comparison-item-template--25802407084372__ss_comparison_table_4_AdDYbg active">
                
                
                  <p class="comparison-item-text-template--25802407084372__ss_comparison_table_4_AdDYbg">95%</p>
                
              </div>
            
            
              <div class="comparison-item-template--25802407084372__ss_comparison_table_4_AdDYbg ">
                
                
                  <p class="comparison-item-text-template--25802407084372__ss_comparison_table_4_AdDYbg">2%</p>
                
              </div>
            
            
            
          </div>
        
          <div class="comparison-grid-template--25802407084372__ss_comparison_table_4_AdDYbg comparison-grid-rows-template--25802407084372__ss_comparison_table_4_AdDYbg">
            <div class="comparison-item-template--25802407084372__ss_comparison_table_4_AdDYbg">
              
                <h3>Absorption Boost</h3>
            </div>
            
              <div class="comparison-item-template--25802407084372__ss_comparison_table_4_AdDYbg active">
                
                
                  <p class="comparison-item-text-template--25802407084372__ss_comparison_table_4_AdDYbg">Yes</p>
                
              </div>
            
            
              <div class="comparison-item-template--25802407084372__ss_comparison_table_4_AdDYbg ">
                
                
                  <p class="comparison-item-text-template--25802407084372__ss_comparison_table_4_AdDYbg">No</p>
                
              </div>
            
            
            
          </div>
        
          <div class="comparison-grid-template--25802407084372__ss_comparison_table_4_AdDYbg comparison-grid-rows-template--25802407084372__ss_comparison_table_4_AdDYbg">
            <div class="comparison-item-template--25802407084372__ss_comparison_table_4_AdDYbg">
              
                <h3>3rd Part Lab Tested</h3>
            </div>
            
              <div class="comparison-item-template--25802407084372__ss_comparison_table_4_AdDYbg active">
                
                
                  <p class="comparison-item-text-template--25802407084372__ss_comparison_table_4_AdDYbg">Yes</p>
                
              </div>
            
            
              <div class="comparison-item-template--25802407084372__ss_comparison_table_4_AdDYbg ">
                
                
                  <p class="comparison-item-text-template--25802407084372__ss_comparison_table_4_AdDYbg">No</p>
                
              </div>
            
            
            
          </div>
        
          <div class="comparison-grid-template--25802407084372__ss_comparison_table_4_AdDYbg comparison-grid-rows-template--25802407084372__ss_comparison_table_4_AdDYbg">
            <div class="comparison-item-template--25802407084372__ss_comparison_table_4_AdDYbg">
              
                <h3>Clinically Dosed Extract</h3>
            </div>
            
              <div class="comparison-item-template--25802407084372__ss_comparison_table_4_AdDYbg active">
                
                
                  <p class="comparison-item-text-template--25802407084372__ss_comparison_table_4_AdDYbg">Yes</p>
                
              </div>
            
            
              <div class="comparison-item-template--25802407084372__ss_comparison_table_4_AdDYbg ">
                
                
                  <p class="comparison-item-text-template--25802407084372__ss_comparison_table_4_AdDYbg">No</p>
                
              </div>
            
            
            
          </div>
        
          <div class="comparison-grid-template--25802407084372__ss_comparison_table_4_AdDYbg comparison-grid-rows-template--25802407084372__ss_comparison_table_4_AdDYbg">
            <div class="comparison-item-template--25802407084372__ss_comparison_table_4_AdDYbg">
              
                <h3>Filler Free Formula</h3>
            </div>
            
              <div class="comparison-item-template--25802407084372__ss_comparison_table_4_AdDYbg active">
                
                
                  <p class="comparison-item-text-template--25802407084372__ss_comparison_table_4_AdDYbg">Yes</p>
                
              </div>
            
            
              <div class="comparison-item-template--25802407084372__ss_comparison_table_4_AdDYbg ">
                
                
                  <p class="comparison-item-text-template--25802407084372__ss_comparison_table_4_AdDYbg">No</p>
                
              </div>
            
            
            
          </div>
        

      </div>
      
    </div>
</div>

</div><section id="shopify-section-template--25802407084372__icon_bar_rYP8yr" class="shopify-section section"><style data-shopify="">.section-template--25802407084372__icon_bar_rYP8yr-padding {
    padding-top: 27px;
    padding-bottom: 27px;
  }

  @media screen and (min-width: 750px) {
    .section-template--25802407084372__icon_bar_rYP8yr-padding {
      padding-top: 36px;
      padding-bottom: 36px;
    }
  }</style><div class="icon-bar multicolumn animate-section animate--hidden color-background-1 gradient no-heading content-for-grouping always-display" data-mobile-columns="1">
  
<div class="page-width mobile-full-page section-template--25802407084372__icon_bar_rYP8yr-padding isolate" style="--columns-desktop: 1;--columns-mobile: 1;--gap-desktop:40px;--gap-mobile:px;">
    
    <div class="animate-item animate-item--child index-0">
    </div>
    
      <splide-component data-type="slide" data-autoplay="false" data-autoplay-speed="5" data-arrows-color="inverse" data-dots-color="inverse" data-slides-desktop="1" data-per-move-desktop="1" data-gap-desktop="40" data-side-padding-desktop="0" data-padding-calc-desktop="true" data-slides-mobile="1" data-gap-mobile="15" data-side-padding-mobile="15" data-destroy-desktop="true">
    
      <div class="splide splide--desktop-dots-under splide--mobile-dots-under splide--desktop-arrows-sides splide--desktop-arrows-outside splide--mobile-arrows-under splide--transparent-arrows splide--destroy-desktop">
        <div class="splide__track">
          <ul class="splide__list"><li class="splide__slide">
                <div class="splide__slide__container" style="--index:0;">
                  <div class="icon-bar-card icon-bar-card--vertical multicolumn-card center content-container color-background-1 multicolumn--same-bgs animate-item animate-item--child">
                    <div class="icon-bar-card__icon icon-bar-card__icon--medium text-color-accent-1"><span class="material-icon material-symbols-outlined">
  check_circle
</span>
</div>
                    
                      <div class="multicolumn-card__info"><h3>60 Day Money Back Guarantee</h3><div class="rte"><p>Don't feel the difference within 60 days? we'll refund you. No questions asked</p><p></p></div></div>
                    
                  </div>
                </div>
              </li></ul>
        </div>
        <div class="splide__dots-and-arrows">
          <ul class="splide__pagination"></ul>
          <div class="splide__arrows"></div>
        </div>
      </div>
    
      </splide-component>
    
  </div>
</div>


</section><div id="shopify-section-template--25802407084372__ss_faq_9_CALfxj" class="shopify-section">
<style data-shopify="">@font-face {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("fonts/josefinsans_n4.70f7efd699799949e6d9f99bc20843a2c86a2e0f.woff2") format("woff2"),
       url("fonts/josefinsans_n4.35d308a1bdf56e5556bc2ac79702c721e4e2e983.woff") format("woff");
}

  @font-face {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("fonts/josefinsans_n4.70f7efd699799949e6d9f99bc20843a2c86a2e0f.woff2") format("woff2"),
       url("fonts/josefinsans_n4.35d308a1bdf56e5556bc2ac79702c721e4e2e983.woff") format("woff");
}

  
  .section-template--25802407084372__ss_faq_9_CALfxj {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    border-radius: 40px;
    border: 0px solid #000000;
    overflow: hidden;
  }
  
  .section-template--25802407084372__ss_faq_9_CALfxj-settings {
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .faq-body-template--25802407084372__ss_faq_9_CALfxj {
    display: grid;
    gap: 20px;
  }

  .faq-item-template--25802407084372__ss_faq_9_CALfxj {
    padding: 20px 20px;
    border-radius: 10px;
    border: 0px solid #000000;
    background-color: #ffffff;
    position: relative;
  }

  .faq-item-template--25802407084372__ss_faq_9_CALfxj:not(:first-child) {
    margin-top: 8px;
  }

  .faq-toggle-template--25802407084372__ss_faq_9_CALfxj {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    gap: 12px;
  }

  .faq-arrow-template--25802407084372__ss_faq_9_CALfxj {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 24px;
    height: 24px;
    transition: all 0.3s ease 0s;
    transform: rotate(var(--rotate));
    border-radius: 50%;
    border: 0px solid #6c584c;
  }

  .faq-arrow-template--25802407084372__ss_faq_9_CALfxj svg {
    width: 12px;
    height: 12px;
  }

  .faq-arrow-template--25802407084372__ss_faq_9_CALfxj svg path {
    fill: #757575;
  }

  .faq-question-template--25802407084372__ss_faq_9_CALfxj {
    margin: 0px;
    font-size: 14px;
    color: #005c53;
    line-height: 130%;
    text-transform: unset;
    font-weight: 700;
  }

  .faq-answer-template--25802407084372__ss_faq_9_CALfxj {
    transition: all 0.2s ease-in-out;
    overflow: hidden;
  }

  .faq-answer-template--25802407084372__ss_faq_9_CALfxj * {
    margin: 0px;
    font-size: 12px;
    color: #757575;
    line-height: 170%;
    text-transform: unset;
  }

  .faq-answer-template--25802407084372__ss_faq_9_CALfxj p {
    min-height: 10px;
  }

  .faq-answer-template--25802407084372__ss_faq_9_CALfxj p:not(:first-child ) {
    margin-top: 10px;
  } 

  .faq-height-cal-template--25802407084372__ss_faq_9_CALfxj {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    padding-top: 16px;
  }

  .faq-height-cal-template--25802407084372__ss_faq_9_CALfxj * {
    margin: 0px;
    font-size: 12px;
    color: #757575;
    line-height: 170%;
    text-transform: unset;
  }

  .faq-height-cal-template--25802407084372__ss_faq_9_CALfxj p {
    min-height: 10px;
  }

  .faq-height-cal-template--25802407084372__ss_faq_9_CALfxj p:not(:first-child ) {
    margin-top: 10px;
  } 
  
  @media(min-width: 1024px) {

    .section-template--25802407084372__ss_faq_9_CALfxj {
      margin-top: 16px;
      margin-bottom: 16px;
      margin-left: 4rem;
      margin-right: 4rem;
    }
    
    .section-template--25802407084372__ss_faq_9_CALfxj-settings {
      padding: 0 5rem;
      padding-top: 60px;
      padding-bottom: 60px;
      padding-left: 6rem;
      padding-right: 6rem;
    }

    .faq-body-template--25802407084372__ss_faq_9_CALfxj {
      gap: 30px;
    }

    .faq-item-template--25802407084372__ss_faq_9_CALfxj {
      padding: 20px 20px;
    }
    
    .faq-item-template--25802407084372__ss_faq_9_CALfxj:not(:first-child) {
      margin-top: 10px;
    }

    .faq-question-template--25802407084372__ss_faq_9_CALfxj {
      font-size: 18px;
    }

    .faq-answer-template--25802407084372__ss_faq_9_CALfxj * {
      font-size: 16px;
    }

    .faq-arrow-template--25802407084372__ss_faq_9_CALfxj {
      flex: 0 0 24px;
      height: 24px;
    }
  
    .faq-arrow-template--25802407084372__ss_faq_9_CALfxj svg {
      width: 12px;
      height: 12px;
    }

    .faq-height-cal-template--25802407084372__ss_faq_9_CALfxj {
      width: calc(100% - 40px);
    }

    .faq-height-cal-template--25802407084372__ss_faq_9_CALfxj * {
      font-size: 16px;
    }
  }</style>






  <style>
    .faq-items-template--25802407084372__ss_faq_9_CALfxj {
      order: 2;
    }

    .faq-content-template--25802407084372__ss_faq_9_CALfxj {
      order: 1;
    }
  </style>



  <style>
    @media(min-width: 1024px) {

      .faq-items-template--25802407084372__ss_faq_9_CALfxj {
        order: 2;
      }
  
      .faq-content-template--25802407084372__ss_faq_9_CALfxj {
        order: 1;
      }
    }
  </style>



  <style>
    .faq-item-template--25802407084372__ss_faq_9_CALfxj {
      box-shadow: rgba(18, 18, 23, 0.08) 0px 6px 4px -1px;
    }
  </style>



  
    <style>
      @font-face {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("fonts/josefinsans_n4.70f7efd699799949e6d9f99bc20843a2c86a2e0f.woff2") format("woff2"),
       url("fonts/josefinsans_n4.35d308a1bdf56e5556bc2ac79702c721e4e2e983.woff") format("woff");
}

      
      .faq-heading-heading_FzmGRp {
        text-align: center;
        margin-top: 0px;
      }

      .faq-heading-heading_FzmGRp * {
        margin: 0;
        font-size: 30px;
        color: #005c53;
        line-height: 130%;
        text-transform: unset;
      }

      @media(min-width: 1024px) {
        
        .faq-heading-heading_FzmGRp {
          text-align: left;
          margin-top: 0px;
        }
  
        .faq-heading-heading_FzmGRp * {
          font-size: 48px;
        }
      }
    </style>

    

  
  

  
  

  
  

  
  

  
  

  
  

  
  

  
  

  
  


<div class="section-template--25802407084372__ss_faq_9_CALfxj faq-template--25802407084372__ss_faq_9_CALfxj" style="background-color:#f6f5f1; background-image: ;">
    <div class="section-template--25802407084372__ss_faq_9_CALfxj-settings">
      <div class="faq-body-template--25802407084372__ss_faq_9_CALfxj">
        <div class="faq-content-template--25802407084372__ss_faq_9_CALfxj">
          
            
              <div class="faq-heading-heading_FzmGRp">
                <h2>Have Questions?<br>We Have Answers.</h2>
              </div>
            
            

            
          
            
            

            
          
            
            

            
          
            
            

            
          
            
            

            
          
            
            

            
          
            
            

            
          
            
            

            
          
            
            

            
          
        </div>
        <div class="faq-items-template--25802407084372__ss_faq_9_CALfxj">
          
            
          
            
              <div class="faq-item-template--25802407084372__ss_faq_9_CALfxj">
                <div class="faq-toggle-template--25802407084372__ss_faq_9_CALfxj">
                  <p class="faq-question-template--25802407084372__ss_faq_9_CALfxj">What makes this turmeric supplement different?</p>
                  <div class="faq-arrow-template--25802407084372__ss_faq_9_CALfxj">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.0" viewBox="0 0 143.000000 83.000000" preserveAspectRatio="xMidYMid meet">
                      <g transform="translate(0.000000,83.000000) scale(0.100000,-0.100000)" fill="" stroke="none">
                      <path d="M57 772 l-57 -57 360 -360 360 -360 357 357 358 358 -63 62 -62 63 -298 -298 -297 -297 -295 295 c-162 162 -297 295 -300 295 -3 0 -31 -26 -63 -58z"></path>
                      </g>
                    </svg>
                  </div>
                </div>
                <div class="faq-answer-template--25802407084372__ss_faq_9_CALfxj" style="display: none; height: 0px; padding-top: 0px; padding-bottom: 0px;">
                    <p>Unlike many brands that use weak powder, we use <strong>95% curcumin extract</strong>, include <strong>black pepper extract for absorption</strong>, and verify quality through <strong>rigorous third-party testing</strong>. No fillers, no fluff—just real results.</p>
                  </div>
                <div class="faq-height-cal-template--25802407084372__ss_faq_9_CALfxj">
                  <p>Unlike many brands that use weak powder, we use <strong>95% curcumin extract</strong>, include <strong>black pepper extract for absorption</strong>, and verify quality through <strong>rigorous third-party testing</strong>. No fillers, no fluff—just real results.</p>
                </div>
              </div>
            
          
            
              <div class="faq-item-template--25802407084372__ss_faq_9_CALfxj">
                <div class="faq-toggle-template--25802407084372__ss_faq_9_CALfxj">
                  <p class="faq-question-template--25802407084372__ss_faq_9_CALfxj">Does turmeric curcumin really help with joint pain and inflammation?</p>
                  <div class="faq-arrow-template--25802407084372__ss_faq_9_CALfxj">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.0" viewBox="0 0 143.000000 83.000000" preserveAspectRatio="xMidYMid meet">
                      <g transform="translate(0.000000,83.000000) scale(0.100000,-0.100000)" fill="" stroke="none">
                      <path d="M57 772 l-57 -57 360 -360 360 -360 357 357 358 358 -63 62 -62 63 -298 -298 -297 -297 -295 295 c-162 162 -297 295 -300 295 -3 0 -31 -26 -63 -58z"></path>
                      </g>
                    </svg>
                  </div>
                </div>
                <div class="faq-answer-template--25802407084372__ss_faq_9_CALfxj" style="display: none; height: 0px; padding-top: 0px; padding-bottom: 0px;">
                    <p>Yes. Curcumin, the active compound in turmeric, has been shown in clinical studies to significantly reduce inflammation and joint pain. Many people experience relief similar to NSAIDs—without the harsh side effects.</p>
                  </div>
                <div class="faq-height-cal-template--25802407084372__ss_faq_9_CALfxj">
                  <p>Yes. Curcumin, the active compound in turmeric, has been shown in clinical studies to significantly reduce inflammation and joint pain. Many people experience relief similar to NSAIDs—without the harsh side effects.</p>
                </div>
              </div>
            
          
            
              <div class="faq-item-template--25802407084372__ss_faq_9_CALfxj">
                <div class="faq-toggle-template--25802407084372__ss_faq_9_CALfxj">
                  <p class="faq-question-template--25802407084372__ss_faq_9_CALfxj">Why does this include black pepper extract?</p>
                  <div class="faq-arrow-template--25802407084372__ss_faq_9_CALfxj">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.0" viewBox="0 0 143.000000 83.000000" preserveAspectRatio="xMidYMid meet">
                      <g transform="translate(0.000000,83.000000) scale(0.100000,-0.100000)" fill="" stroke="none">
                      <path d="M57 772 l-57 -57 360 -360 360 -360 357 357 358 358 -63 62 -62 63 -298 -298 -297 -297 -295 295 c-162 162 -297 295 -300 295 -3 0 -31 -26 -63 -58z"></path>
                      </g>
                    </svg>
                  </div>
                </div>
                <div class="faq-answer-template--25802407084372__ss_faq_9_CALfxj" style="display: none; height: 0px; padding-top: 0px; padding-bottom: 0px;">
                    <p>Curcumin is poorly absorbed on its own. <strong>Black Pepper Extract boosts absorption by up to 2000%</strong>, helping your body make full use of each dose.</p>
                  </div>
                <div class="faq-height-cal-template--25802407084372__ss_faq_9_CALfxj">
                  <p>Curcumin is poorly absorbed on its own. <strong>Black Pepper Extract boosts absorption by up to 2000%</strong>, helping your body make full use of each dose.</p>
                </div>
              </div>
            
          
            
              <div class="faq-item-template--25802407084372__ss_faq_9_CALfxj">
                <div class="faq-toggle-template--25802407084372__ss_faq_9_CALfxj">
                  <p class="faq-question-template--25802407084372__ss_faq_9_CALfxj">How long until I see results?</p>
                  <div class="faq-arrow-template--25802407084372__ss_faq_9_CALfxj">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.0" viewBox="0 0 143.000000 83.000000" preserveAspectRatio="xMidYMid meet">
                      <g transform="translate(0.000000,83.000000) scale(0.100000,-0.100000)" fill="" stroke="none">
                      <path d="M57 772 l-57 -57 360 -360 360 -360 357 357 358 358 -63 62 -62 63 -298 -298 -297 -297 -295 295 c-162 162 -297 295 -300 295 -3 0 -31 -26 -63 -58z"></path>
                      </g>
                    </svg>
                  </div>
                </div>
                <div class="faq-answer-template--25802407084372__ss_faq_9_CALfxj" style="display: none; height: 0px; padding-top: 0px; padding-bottom: 0px;">
                    <p>Most users report noticeable improvements within <strong>2 to 4 weeks</strong> of daily use—especially in joint stiffness and overall mobility. Some feel relief sooner, but consistent use is essential.</p>
                  </div>
                <div class="faq-height-cal-template--25802407084372__ss_faq_9_CALfxj">
                  <p>Most users report noticeable improvements within <strong>2 to 4 weeks</strong> of daily use—especially in joint stiffness and overall mobility. Some feel relief sooner, but consistent use is essential.</p>
                </div>
              </div>
            
          
            
              <div class="faq-item-template--25802407084372__ss_faq_9_CALfxj">
                <div class="faq-toggle-template--25802407084372__ss_faq_9_CALfxj">
                  <p class="faq-question-template--25802407084372__ss_faq_9_CALfxj">What’s the correct dosage and how should I take it?</p>
                  <div class="faq-arrow-template--25802407084372__ss_faq_9_CALfxj">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.0" viewBox="0 0 143.000000 83.000000" preserveAspectRatio="xMidYMid meet">
                      <g transform="translate(0.000000,83.000000) scale(0.100000,-0.100000)" fill="" stroke="none">
                      <path d="M57 772 l-57 -57 360 -360 360 -360 357 357 358 358 -63 62 -62 63 -298 -298 -297 -297 -295 295 c-162 162 -297 295 -300 295 -3 0 -31 -26 -63 -58z"></path>
                      </g>
                    </svg>
                  </div>
                </div>
                <div class="faq-answer-template--25802407084372__ss_faq_9_CALfxj" style="display: none; height: 0px; padding-top: 0px; padding-bottom: 0px;">
                    <p>Follow the label—typically 3<strong> capsules daily</strong>. For best results, take with food (ideally something with healthy fat) to improve absorption, since curcumin is fat-soluble.</p>
                  </div>
                <div class="faq-height-cal-template--25802407084372__ss_faq_9_CALfxj">
                  <p>Follow the label—typically 3<strong> capsules daily</strong>. For best results, take with food (ideally something with healthy fat) to improve absorption, since curcumin is fat-soluble.</p>
                </div>
              </div>
            
          
            
              <div class="faq-item-template--25802407084372__ss_faq_9_CALfxj">
                <div class="faq-toggle-template--25802407084372__ss_faq_9_CALfxj">
                  <p class="faq-question-template--25802407084372__ss_faq_9_CALfxj">Are there any side effects?</p>
                  <div class="faq-arrow-template--25802407084372__ss_faq_9_CALfxj">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.0" viewBox="0 0 143.000000 83.000000" preserveAspectRatio="xMidYMid meet">
                      <g transform="translate(0.000000,83.000000) scale(0.100000,-0.100000)" fill="" stroke="none">
                      <path d="M57 772 l-57 -57 360 -360 360 -360 357 357 358 358 -63 62 -62 63 -298 -298 -297 -297 -295 295 c-162 162 -297 295 -300 295 -3 0 -31 -26 -63 -58z"></path>
                      </g>
                    </svg>
                  </div>
                </div>
                <div class="faq-answer-template--25802407084372__ss_faq_9_CALfxj" style="display: none; height: 0px; padding-top: 0px; padding-bottom: 0px;">
                    <p>Turmeric is safe for most people. A few may experience mild stomach upset—this can usually be avoided by taking it with food. High doses may cause issues, so always follow directions.</p>
                  </div>
                <div class="faq-height-cal-template--25802407084372__ss_faq_9_CALfxj">
                  <p>Turmeric is safe for most people. A few may experience mild stomach upset—this can usually be avoided by taking it with food. High doses may cause issues, so always follow directions.</p>
                </div>
              </div>
            
          
            
              <div class="faq-item-template--25802407084372__ss_faq_9_CALfxj">
                <div class="faq-toggle-template--25802407084372__ss_faq_9_CALfxj">
                  <p class="faq-question-template--25802407084372__ss_faq_9_CALfxj">Is it safe to take with medications?</p>
                  <div class="faq-arrow-template--25802407084372__ss_faq_9_CALfxj">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.0" viewBox="0 0 143.000000 83.000000" preserveAspectRatio="xMidYMid meet">
                      <g transform="translate(0.000000,83.000000) scale(0.100000,-0.100000)" fill="" stroke="none">
                      <path d="M57 772 l-57 -57 360 -360 360 -360 357 357 358 358 -63 62 -62 63 -298 -298 -297 -297 -295 295 c-162 162 -297 295 -300 295 -3 0 -31 -26 -63 -58z"></path>
                      </g>
                    </svg>
                  </div>
                </div>
                <div class="faq-answer-template--25802407084372__ss_faq_9_CALfxj" style="display: none; height: 0px; padding-top: 0px; padding-bottom: 0px;">
                    <p>If you’re on <strong>blood thinners, diabetes medication</strong>, or have health concerns, speak with your doctor before using turmeric. It may enhance or interact with certain medications.</p>
                  </div>
                <div class="faq-height-cal-template--25802407084372__ss_faq_9_CALfxj">
                  <p>If you’re on <strong>blood thinners, diabetes medication</strong>, or have health concerns, speak with your doctor before using turmeric. It may enhance or interact with certain medications.</p>
                </div>
              </div>
            
          
            
              <div class="faq-item-template--25802407084372__ss_faq_9_CALfxj">
                <div class="faq-toggle-template--25802407084372__ss_faq_9_CALfxj">
                  <p class="faq-question-template--25802407084372__ss_faq_9_CALfxj">How is this better than regular turmeric powder?</p>
                  <div class="faq-arrow-template--25802407084372__ss_faq_9_CALfxj">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.0" viewBox="0 0 143.000000 83.000000" preserveAspectRatio="xMidYMid meet">
                      <g transform="translate(0.000000,83.000000) scale(0.100000,-0.100000)" fill="" stroke="none">
                      <path d="M57 772 l-57 -57 360 -360 360 -360 357 357 358 358 -63 62 -62 63 -298 -298 -297 -297 -295 295 c-162 162 -297 295 -300 295 -3 0 -31 -26 -63 -58z"></path>
                      </g>
                    </svg>
                  </div>
                </div>
                <div class="faq-answer-template--25802407084372__ss_faq_9_CALfxj" style="display: none; height: 0px; padding-top: 0px; padding-bottom: 0px;">
                    <p>Most turmeric powders contain just <strong>2–6% curcumin</strong>, making them too weak to be effective. Our supplement uses a <strong>95% standardized extract</strong> and adds black pepper extract for superior results.</p>
                  </div>
                <div class="faq-height-cal-template--25802407084372__ss_faq_9_CALfxj">
                  <p>Most turmeric powders contain just <strong>2–6% curcumin</strong>, making them too weak to be effective. Our supplement uses a <strong>95% standardized extract</strong> and adds black pepper extract for superior results.</p>
                </div>
              </div>
            
          
        </div>
      </div>
    </div>
</div>

<script>
  function initFAQ9() {
    
    const answerPaddingTop = 16;
    const answerPaddingBottom = 0;

    const faqs = document.querySelectorAll(
      '.faq-item-template--25802407084372__ss_faq_9_CALfxj'
    );
    const buttons = document.querySelectorAll(
      '.faq-toggle-template--25802407084372__ss_faq_9_CALfxj'
    );
    const answers = document.querySelectorAll(
      '.faq-answer-template--25802407084372__ss_faq_9_CALfxj'
    );
    const answersHeightCalElements = document.querySelectorAll(
      '.faq-height-cal-template--25802407084372__ss_faq_9_CALfxj'
    );
    const icons = document.querySelectorAll(
      '.faq-arrow-template--25802407084372__ss_faq_9_CALfxj'
    );

    let activeIndex = -1;

    function openAnswer(index) {
      console.log( answersHeightCalElements[index]);
      const height = answersHeightCalElements[index].offsetHeight;

      answers[index].style.display = 'block';
      setTimeout(() => {
        answers[index].style.paddingTop = `${answerPaddingTop}px`;
        answers[index].style.paddingBottom = `${answerPaddingBottom}px`;
        answers[index].style.height = `${height }px`;
        icons[index].style.setProperty('--rotate', '180deg');
      });
    }
    function closeAnswer(index) {
      answers[index].style.paddingTop = 0;
      answers[index].style.paddingBottom = 0;
      answers[index].style.height = 0;
      icons[index].style.setProperty('--rotate', '0deg');

      setTimeout(() => {
        answers[index].style.display = 'none';
      }, 300);
    }
    function toggleAnswer(index) {
      if (answers[index].style.display === 'none') {
        openAnswer(index);
        activeIndex = index;
      } else {
        closeAnswer(index);
        activeIndex = -1;
      }
    }
    function closeAllAnswerBut(index) {
      answers.forEach((answer, i) => {
        if (i !== index) {
          closeAnswer(i);
        }
      });
    }

    // When clicked, toggle the answer, animate the answer's height:
    buttons.forEach((button, index) => {
      button.addEventListener('click', () => {
        toggleAnswer(index);
        // closeAllAnswerBut(index);
      });
    });

    // When the window is resized, debounce the answer's height:
    let resizeTimer;
    window.addEventListener('resize', () => {
      clearTimeout(resizeTimer);
      resizeTimer = setTimeout(() => {
        if (activeIndex !== -1) {
          const height = answersHeightCalElements[activeIndex].offsetHeight;
          answers[activeIndex].style.height = `${height}px`;
        }
      }, 250);
    });
  }

  document.addEventListener('DOMContentLoaded', initFAQ9);
  
  if (Shopify.designMode) {
     document.addEventListener('shopify:section:unload', initFAQ9);
     document.addEventListener('shopify:section:load', initFAQ9);
  }
</script>

</div><section id="shopify-section-template--25802407084372__175628175725d4fe73" class="shopify-section section"><div class="page-width"><div id="shopify-block-ANFRqbjBOSnZKSU9Sb__judge_me_reviews_review_widget_dRMR8B" class="shopify-block shopify-app-block">


<div style="clear:both"></div>
<div id="judgeme_product_reviews" class="jdgm-widget jdgm-review-widget" data-product-title="Turmeric Curcumin Capsules (1,000mg)" data-id="12158920327508" data-product-id="12158920327508" data-widget="review" data-shop-reviews="false" data-shop-reviews-count="72" data-empty-state="empty_widget" data-entry-point="review_widget.js" data-entry-key="review-widget/main.js" data-block-id="ANFRqbjBOSnZKSU9Sb__judge_me_reviews_review_widget_dRMR8B" style="max-width: 1200px; margin: 0 auto;">

  
    
      <div class="jdgm-legacy-widget-content" style="display: none;">
        <div class="jdgm-rev-widg" data-updated-at="2026-02-07T17:35:52Z" data-average-rating="4.87" data-number-of-reviews="609" data-number-of-questions="0" data-image-url="https://cdn.shopify.com/s/files/1/0942/4705/9796/files/Bioroot_PDP_Images_2000px.jpg?v=1765589427"> <style class="jdgm-temp-hiding-style">.jdgm-rev-widg{ display: none }</style> <div class="jdgm-rev-widg__header"> <h2 class="jdgm-rev-widg__title">Customer Reviews</h2>  <div class="jdgm-rev-widg__summary"> <div class="jdgm-rev-widg__summary-stars" aria-label="Average rating is 4.87 stars" role="img"> <span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span> </div> <div class="jdgm-rev-widg__summary-text">Based on 609 reviews</div> </div> <a style="display: none" href="#" class="jdgm-write-rev-link" role="button">Write a review</a> <div class="jdgm-histogram jdgm-temp-hidden">  <div class="jdgm-histogram__row" data-rating="5" data-frequency="550" data-percentage="90">  <div class="jdgm-histogram__star" role="button" aria-label="90% (550) reviews with 5 star rating" tabindex="0"><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span></div> <div class="jdgm-histogram__bar"> <div class="jdgm-histogram__bar-content" style="width: 90%;"> </div> </div> <div class="jdgm-histogram__percentage">90%</div> <div class="jdgm-histogram__frequency">(550)</div> </div>  <div class="jdgm-histogram__row" data-rating="4" data-frequency="45" data-percentage="7">  <div class="jdgm-histogram__star" role="button" aria-label="7% (45) reviews with 4 star rating" tabindex="0"><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--off"></span></div> <div class="jdgm-histogram__bar"> <div class="jdgm-histogram__bar-content" style="width: 7%;"> </div> </div> <div class="jdgm-histogram__percentage">7%</div> <div class="jdgm-histogram__frequency">(45)</div> </div>  <div class="jdgm-histogram__row" data-rating="3" data-frequency="9" data-percentage="1">  <div class="jdgm-histogram__star" role="button" aria-label="1% (9) reviews with 3 star rating" tabindex="0"><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--off"></span><span class="jdgm-star jdgm--off"></span></div> <div class="jdgm-histogram__bar"> <div class="jdgm-histogram__bar-content" style="width: 1%;"> </div> </div> <div class="jdgm-histogram__percentage">1%</div> <div class="jdgm-histogram__frequency">(9)</div> </div>  <div class="jdgm-histogram__row" data-rating="2" data-frequency="2" data-percentage="0">  <div class="jdgm-histogram__star" role="button" aria-label="0% (2) reviews with 2 star rating" tabindex="0"><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--off"></span><span class="jdgm-star jdgm--off"></span><span class="jdgm-star jdgm--off"></span></div> <div class="jdgm-histogram__bar"> <div class="jdgm-histogram__bar-content" style="width: 0%;"> </div> </div> <div class="jdgm-histogram__percentage">0%</div> <div class="jdgm-histogram__frequency">(2)</div> </div>  <div class="jdgm-histogram__row" data-rating="1" data-frequency="3" data-percentage="0">  <div class="jdgm-histogram__star" role="button" aria-label="0% (3) reviews with 1 star rating" tabindex="0"><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--off"></span><span class="jdgm-star jdgm--off"></span><span class="jdgm-star jdgm--off"></span><span class="jdgm-star jdgm--off"></span></div> <div class="jdgm-histogram__bar"> <div class="jdgm-histogram__bar-content" style="width: 0%;"> </div> </div> <div class="jdgm-histogram__percentage">0%</div> <div class="jdgm-histogram__frequency">(3)</div> </div>  <div class="jdgm-histogram__row jdgm-histogram__clear-filter" data-rating="null" tabindex="0"></div> </div>  <div class="jdgm-medals-wrapper jdgm-hidden" data-updated-at="2026-02-07T17:35:52Z"> <style type="text/css"></style> <div class="jdgm-medals" data-link="https://app.judge.me/reviews/medals"> <div class="jdgm-medals__container"> <div class="jdgm-medal-wrapper" title="Platinum Authentic Shop. At least 99% of published reviews are verified reviews"> <a class="jdgm-medal jdgm--loading" data-value="99.0" data-type="auth" data-tier="platinum"> <div class="jdgm-medal__image" data-url="auth/platinum.svg" data-alt="Judge.me Platinum Authentic Shop medal"></div> <div class="jdgm-medal__value ">99.0</div> </a> </div> </div> </div> </div>   <div class="jdgm-rev-widg__sort-wrapper"></div> </div> <div class="jdgm-rev-widg__body">  <div class="jdgm-rev-widg__reviews"><div class="jdgm-rev jdgm-divider-top" data-verified-buyer="true" data-review-id="9495eaa6-b459-4a4c-aeb1-93b447ff4f1d" data-review-language="" data-product-title="Turmeric Curcumin Capsules (1,000mg)" data-product-url="/products/turmeric-curcumin-capsules-1000mg" data-thumb-up-count="0" data-thumb-down-count="0"> <div class="jdgm-rev__header">  <div class="jdgm-rev__icon"> D </div>  <span class="jdgm-rev__rating" data-score="5" tabindex="0" aria-label="5 star review" role="img"> <span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span> </span> <span class="jdgm-rev__timestamp jdgm-spinner" data-content="2026-02-05 02:31:57 UTC"></span>  <div class="jdgm-rev__br"></div> <span class="jdgm-rev__buyer-badge-wrapper"> <span class="jdgm-rev__buyer-badge"></span> </span> <span class="jdgm-rev__author-wrapper"> <span class="jdgm-rev__author">Deborah L Donnell</span> <span class="jdgm-rev__location">  </span>  </span> </div> <div class="jdgm-rev__content">  <div class="jdgm-rev__custom-form">  </div> <b class="jdgm-rev__title"></b> <div class="jdgm-rev__body"><p>I feel good anti inflammatory results in my moderate Osteoarthritis and increased cognitive acuity with this supplement.</p></div> <div class="jdgm-rev__pics">  <a class="jdgm-rev__pic-link jdgm--loading" target="_blank" rel="nofollow" href="https://judgeme.imgix.net/bioroot-labs/1770258831__1770258763820-img_0308__original.jpeg?auto=format" data-mfp-src="https://judgeme.imgix.net/bioroot-labs/1770258831__1770258763820-img_0308__original.jpeg?auto=format&amp;w=1024" aria-label="Link to user picture 1"> <img class="jdgm-rev__pic-img" alt="User picture" data-src="https://judgeme.imgix.net/bioroot-labs/1770258831__1770258763820-img_0308__original.jpeg?auto=format&amp;w=160"> </a>  </div> <div class="jdgm-rev__vids">   </div> <div class="jdgm-rev__transparency-badge-wrapper">  <div class="jdgm-rev__transparency-badge" data-badge-type="review_collected_via_store_invitation"></div>  </div> </div> <div class="jdgm-rev__actions"> <div class="jdgm-rev__social"></div> <div class="jdgm-rev__votes"></div> </div> <div class="jdgm-rev__reply">  </div> </div><div class="jdgm-rev jdgm-divider-top" data-verified-buyer="true" data-review-id="c8052949-4b5b-49c9-b743-cafac1fefdcb" data-review-language="" data-product-title="Turmeric Curcumin Capsules (1,000mg)" data-product-url="/products/turmeric-curcumin-capsules-1000mg" data-thumb-up-count="0" data-thumb-down-count="0"> <div class="jdgm-rev__header">  <div class="jdgm-rev__icon"> A </div>  <span class="jdgm-rev__rating" data-score="5" tabindex="0" aria-label="5 star review" role="img"> <span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span> </span> <span class="jdgm-rev__timestamp jdgm-spinner" data-content="2026-02-04 21:22:25 UTC"></span>  <div class="jdgm-rev__br"></div> <span class="jdgm-rev__buyer-badge-wrapper"> <span class="jdgm-rev__buyer-badge"></span> </span> <span class="jdgm-rev__author-wrapper"> <span class="jdgm-rev__author">Althea</span> <span class="jdgm-rev__location">  </span>  </span> </div> <div class="jdgm-rev__content">  <div class="jdgm-rev__custom-form">  </div> <b class="jdgm-rev__title"></b> <div class="jdgm-rev__body"><p>Finished my first whole month of taking this Tumeric preparation after taking Tumeric other Tumeric tablets from a pharmacy. I feel as though my joints are less cranky and I am getting a better effect ( reduced inflammation) with these capsules. I have not taken ibuprofen for over a month. Still have aches at times but I’m 70 and enjoy an active lifestyle.</p></div> <div class="jdgm-rev__pics">  </div> <div class="jdgm-rev__vids">   </div> <div class="jdgm-rev__transparency-badge-wrapper">  <div class="jdgm-rev__transparency-badge" data-badge-type="review_collected_via_store_invitation"></div>  </div> </div> <div class="jdgm-rev__actions"> <div class="jdgm-rev__social"></div> <div class="jdgm-rev__votes"></div> </div> <div class="jdgm-rev__reply">  </div> </div><div class="jdgm-rev jdgm-divider-top" data-verified-buyer="true" data-review-id="fcfe3527-824a-45c1-9a34-29a6c4141df5" data-review-language="" data-product-title="Turmeric Curcumin Capsules (1,000mg)" data-product-url="/products/turmeric-curcumin-capsules-1000mg" data-thumb-up-count="0" data-thumb-down-count="0"> <div class="jdgm-rev__header">  <div class="jdgm-rev__icon"> A </div>  <span class="jdgm-rev__rating" data-score="5" tabindex="0" aria-label="5 star review" role="img"> <span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span> </span> <span class="jdgm-rev__timestamp jdgm-spinner" data-content="2026-02-04 20:03:40 UTC"></span>  <div class="jdgm-rev__br"></div> <span class="jdgm-rev__buyer-badge-wrapper"> <span class="jdgm-rev__buyer-badge"></span> </span> <span class="jdgm-rev__author-wrapper"> <span class="jdgm-rev__author">Anonymous</span> <span class="jdgm-rev__location">  </span>  </span> </div> <div class="jdgm-rev__content">  <div class="jdgm-rev__custom-form">  </div> <b class="jdgm-rev__title"></b> <div class="jdgm-rev__body"><p>I got them for my sister taken them over week she happy pain little bit less before she started them will be ordering more for her thank you</p></div> <div class="jdgm-rev__pics">  </div> <div class="jdgm-rev__vids">   </div> <div class="jdgm-rev__transparency-badge-wrapper">  <div class="jdgm-rev__transparency-badge" data-badge-type="review_collected_via_store_invitation"></div>  </div> </div> <div class="jdgm-rev__actions"> <div class="jdgm-rev__social"></div> <div class="jdgm-rev__votes"></div> </div> <div class="jdgm-rev__reply">  </div> </div><div class="jdgm-rev jdgm-divider-top" data-verified-buyer="true" data-review-id="e8c23c5c-3d5e-4d68-96a6-d79d974ac65b" data-review-language="" data-product-title="Turmeric Curcumin Capsules (1,000mg)" data-product-url="/products/turmeric-curcumin-capsules-1000mg" data-thumb-up-count="0" data-thumb-down-count="0"> <div class="jdgm-rev__header">  <div class="jdgm-rev__icon"> l </div>  <span class="jdgm-rev__rating" data-score="5" tabindex="0" aria-label="5 star review" role="img"> <span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span> </span> <span class="jdgm-rev__timestamp jdgm-spinner" data-content="2026-02-04 13:37:50 UTC"></span>  <div class="jdgm-rev__br"></div> <span class="jdgm-rev__buyer-badge-wrapper"> <span class="jdgm-rev__buyer-badge"></span> </span> <span class="jdgm-rev__author-wrapper"> <span class="jdgm-rev__author">lucinda dohan</span> <span class="jdgm-rev__location">  </span>  </span> </div> <div class="jdgm-rev__content">  <div class="jdgm-rev__custom-form">  </div> <b class="jdgm-rev__title"></b> <div class="jdgm-rev__body"><p>I've already noticed  an improvement in my arthritis and would like to order more</p></div> <div class="jdgm-rev__pics">  </div> <div class="jdgm-rev__vids">   </div> <div class="jdgm-rev__transparency-badge-wrapper">  <div class="jdgm-rev__transparency-badge" data-badge-type="review_collected_via_store_invitation"></div>  </div> </div> <div class="jdgm-rev__actions"> <div class="jdgm-rev__social"></div> <div class="jdgm-rev__votes"></div> </div> <div class="jdgm-rev__reply">  </div> </div><div class="jdgm-rev jdgm-divider-top" data-verified-buyer="true" data-review-id="9896ad88-e43e-45c4-b749-ea27d956db15" data-review-language="" data-product-title="Turmeric Curcumin Capsules (1,000mg)" data-product-url="/products/turmeric-curcumin-capsules-1000mg" data-thumb-up-count="0" data-thumb-down-count="0"> <div class="jdgm-rev__header">  <div class="jdgm-rev__icon"> d </div>  <span class="jdgm-rev__rating" data-score="5" tabindex="0" aria-label="5 star review" role="img"> <span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span> </span> <span class="jdgm-rev__timestamp jdgm-spinner" data-content="2026-02-04 09:37:30 UTC"></span>  <div class="jdgm-rev__br"></div> <span class="jdgm-rev__buyer-badge-wrapper"> <span class="jdgm-rev__buyer-badge"></span> </span> <span class="jdgm-rev__author-wrapper"> <span class="jdgm-rev__author">david Howarth</span> <span class="jdgm-rev__location">  </span>  </span> </div> <div class="jdgm-rev__content">  <div class="jdgm-rev__custom-form">  </div> <b class="jdgm-rev__title"></b> <div class="jdgm-rev__body"><p>My wife has these and says that after 2 weeks there is some improvement</p></div> <div class="jdgm-rev__pics">  </div> <div class="jdgm-rev__vids">   </div> <div class="jdgm-rev__transparency-badge-wrapper">  <div class="jdgm-rev__transparency-badge" data-badge-type="review_collected_via_store_invitation"></div>  </div> </div> <div class="jdgm-rev__actions"> <div class="jdgm-rev__social"></div> <div class="jdgm-rev__votes"></div> </div> <div class="jdgm-rev__reply">  </div> </div></div> <div class="jdgm-paginate" data-per-page="5" data-url="https://api.judge.me/reviews/reviews_for_widget"><a class="jdgm-paginate__page jdgm-curt" data-page="1" aria-label="Page 1" tabindex="0" role="button">1</a><a class="jdgm-paginate__page " data-page="2" aria-label="Page 2" tabindex="0" role="button">2</a><a class="jdgm-paginate__page " data-page="3" aria-label="Page 3" tabindex="0" role="button">3</a><a class="jdgm-paginate__page jdgm-paginate__next-page" data-page="2" aria-label="Page 2" tabindex="0" rel="next" role="button"></a><a class="jdgm-paginate__page jdgm-paginate__last-page" data-page="122" aria-label="Page 122" tabindex="0" role="button"></a></div>  </div> <div class="jdgm-rev-widg__paginate-spinner-wrapper"> <div class="jdgm-spinner"></div> </div> </div>
      </div>
    
  

  
</div>




</div>
</div>


</section>
    </main>

    <div id="shopify-section-promo-popup" class="shopify-section">
</div>
    <div id="shopify-section-scroll-to-top-btn" class="shopify-section"><style data-shopify="">
  .scroll-to-top-btn-scroll-to-top-btn {
    --offset-x: 2.0rem;
    --offset-y: 2.0rem;
  }
  @media screen and (max-width: 749px) {
    .scroll-to-top-btn-scroll-to-top-btn {
      --offset-x: 1.5rem;
      --offset-y: 1.5rem;
    }
  }
</style>




</div>
    <div id="shopify-section-global-music-player" class="shopify-section"><style data-shopify="">
  .music-player-global-music-player {
    --offset-x: 2.0rem;
    --offset-y: 2.0rem;
  }
  @media screen and (max-width: 749px) {
    .music-player-global-music-player {
      --offset-x: 1.5rem;
      --offset-y: 1.5rem;
    }
  }
</style>




</div>
    <!--  BEGIN sections: footer-group  -->
