<div class="grid__item product__media-wrapper product__column-sticky">
      
<media-gallery id="MediaGallery-template--25802407084372__main" data-section="template--25802407084372__main" role="region" aria-label="Gallery Viewer" data-desktop-layout="thumbnail_slider">
  <div id="GalleryStatus-template--25802407084372__main" class="visually-hidden" role="status"></div>
  <slider-component id="GalleryViewer-template--25802407084372__main" class="slider-mobile-gutter"><a class="skip-to-content-link button visually-hidden quick-add-hidden" href="#ProductInfo-template--25802407084372__main">
        Skip to product information
      </a><ul id="Slider-Gallery-template--25802407084372__main" class="product__media-list contains-media grid grid--peek list-unstyled slider slider--mobile gallery-slider--desktop slider--mobile-no-spacing slider--mobile-no-preview" role="list"><li id="Slide-template--25802407084372__main-62553109168468" class="product__media-item grid__item slider__slide is-active" data-media-id="template--25802407084372__main-62553109168468">

<div class="product-media-container media-type-image media-fit-contain global-media-settings gradient constrain-height" style="--ratio: 1.0; --preview-ratio: 1.0;">
  
  <noscript><div class="product__media media">
        <img src="//biorootlabs.com/cdn/shop/files/Bioroot_PDP_Images_2000px.jpg?v=1765589427&amp;width=1946" alt="" srcset="//biorootlabs.com/cdn/shop/files/Bioroot_PDP_Images_2000px.jpg?v=1765589427&amp;width=246 246w,  //biorootlabs.com/cdn/shop/files/Bioroot_PDP_Images_2000px.jpg?v=1765589427&amp;width=493 493w,  //biorootlabs.com/cdn/shop/files/Bioroot_PDP_Images_2000px.jpg?v=1765589427&amp;width=600 600w,  //biorootlabs.com/cdn/shop/files/Bioroot_PDP_Images_2000px.jpg?v=1765589427&amp;width=713 713w,  //biorootlabs.com/cdn/shop/files/Bioroot_PDP_Images_2000px.jpg?v=1765589427&amp;width=823 823w,  //biorootlabs.com/cdn/shop/files/Bioroot_PDP_Images_2000px.jpg?v=1765589427&amp;width=990 990w,  //biorootlabs.com/cdn/shop/files/Bioroot_PDP_Images_2000px.jpg?v=1765589427&amp;width=1100 1100w,  //biorootlabs.com/cdn/shop/files/Bioroot_PDP_Images_2000px.jpg?v=1765589427&amp;width=1206 1206w,  //biorootlabs.com/cdn/shop/files/Bioroot_PDP_Images_2000px.jpg?v=1765589427&amp;width=1346 1346w,  //biorootlabs.com/cdn/shop/files/Bioroot_PDP_Images_2000px.jpg?v=1765589427&amp;width=1426 1426w,  //biorootlabs.com/cdn/shop/files/Bioroot_PDP_Images_2000px.jpg?v=1765589427&amp;width=1646 1646w,  //biorootlabs.com/cdn/shop/files/Bioroot_PDP_Images_2000px.jpg?v=1765589427&amp;width=1946 1946w" width="1946" height="1946" sizes="(min-width: 1200px) 605px, (min-width: 990px) calc(55.0vw - 10rem), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw / 1 - 4rem)">
      </div></noscript>

  <modal-opener class="product__modal-opener product__modal-opener--image no-js-hidden" data-modal="#ProductModal-template--25802407084372__main">
    <span class="product__media-icon motion-reduce quick-add-hidden product__media-icon--none" aria-hidden="true"><svg aria-hidden="true" focusable="false" class="icon icon-plus" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M4.66724 7.93978C4.66655 7.66364 4.88984 7.43922 5.16598 7.43853L10.6996 7.42464C10.9758 7.42395 11.2002 7.64724 11.2009 7.92339C11.2016 8.19953 10.9783 8.42395 10.7021 8.42464L5.16849 8.43852C4.89235 8.43922 4.66793 8.21592 4.66724 7.93978Z" fill="currentColor"></path>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.92576 4.66463C8.2019 4.66394 8.42632 4.88723 8.42702 5.16337L8.4409 10.697C8.44159 10.9732 8.2183 11.1976 7.94215 11.1983C7.66601 11.199 7.44159 10.9757 7.4409 10.6995L7.42702 5.16588C7.42633 4.88974 7.64962 4.66532 7.92576 4.66463Z" fill="currentColor"></path>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M12.8324 3.03011C10.1255 0.323296 5.73693 0.323296 3.03011 3.03011C0.323296 5.73693 0.323296 10.1256 3.03011 12.8324C5.73693 15.5392 10.1255 15.5392 12.8324 12.8324C15.5392 10.1256 15.5392 5.73693 12.8324 3.03011ZM2.32301 2.32301C5.42035 -0.774336 10.4421 -0.774336 13.5395 2.32301C16.6101 5.39361 16.6366 10.3556 13.619 13.4588L18.2473 18.0871C18.4426 18.2824 18.4426 18.599 18.2473 18.7943C18.0521 18.9895 17.7355 18.9895 17.5402 18.7943L12.8778 14.1318C9.76383 16.6223 5.20839 16.4249 2.32301 13.5395C-0.774335 10.4421 -0.774335 5.42035 2.32301 2.32301Z" fill="currentColor"></path>
</svg>
</span>
    <div class="product__media media media--transparent">
      <img src="{{ 'Bioroot_PDP_Images_2000px_1.jpg' | asset_url }}" alt="" srcset="{{ 'Bioroot_PDP_Images_2000px_3.jpg' | asset_url }} 246w, {{ 'Bioroot_PDP_Images_2000px_5.jpg' | asset_url }} 493w, {{ 'Bioroot_PDP_Images_2000px_13.jpg' | asset_url }} 600w, {{ 'Bioroot_PDP_Images_2000px_4.jpg' | asset_url }} 713w, {{ 'Bioroot_PDP_Images_2000px_7.jpg' | asset_url }} 823w, {{ 'Bioroot_PDP_Images_2000px_6.jpg' | asset_url }} 990w, {{ 'Bioroot_PDP_Images_2000px_10.jpg' | asset_url }} 1100w, {{ 'Bioroot_PDP_Images_2000px_9.jpg' | asset_url }} 1206w, {{ 'Bioroot_PDP_Images_2000px_8.jpg' | asset_url }} 1346w, {{ 'Bioroot_PDP_Images_2000px_11.jpg' | asset_url }} 1426w, {{ 'Bioroot_PDP_Images_2000px_12.jpg' | asset_url }} 1646w, {{ 'Bioroot_PDP_Images_2000px_1.jpg' | asset_url }} 1946w" width="1946" height="1946" class="image-magnify-none" sizes="(min-width: 1200px) 605px, (min-width: 990px) calc(55.0vw - 10rem), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw / 1 - 4rem)">
    </div>
    <button class="product__media-toggle quick-add-hidden product__media-zoom-none" type="button" aria-haspopup="dialog" data-media-id="62553109168468">
      <span class="visually-hidden">
        Open media 1 in modal
      </span>
    </button>
  </modal-opener></div>

          </li><li id="Slide-template--25802407084372__main-59762166464852" class="product__media-item grid__item slider__slide" data-media-id="template--25802407084372__main-59762166464852">

<div class="product-media-container media-type-image media-fit-contain global-media-settings gradient constrain-height" style="--ratio: 1.0; --preview-ratio: 1.0;">
  
  <noscript><div class="product__media media">
        <img src="//biorootlabs.com/cdn/shop/files/Bioroot_WEBP_V2.webp?v=1765589427&amp;width=1946" alt="" srcset="//biorootlabs.com/cdn/shop/files/Bioroot_WEBP_V2.webp?v=1765589427&amp;width=246 246w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_V2.webp?v=1765589427&amp;width=493 493w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_V2.webp?v=1765589427&amp;width=600 600w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_V2.webp?v=1765589427&amp;width=713 713w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_V2.webp?v=1765589427&amp;width=823 823w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_V2.webp?v=1765589427&amp;width=990 990w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_V2.webp?v=1765589427&amp;width=1100 1100w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_V2.webp?v=1765589427&amp;width=1206 1206w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_V2.webp?v=1765589427&amp;width=1346 1346w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_V2.webp?v=1765589427&amp;width=1426 1426w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_V2.webp?v=1765589427&amp;width=1646 1646w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_V2.webp?v=1765589427&amp;width=1946 1946w" width="1946" height="1946" loading="lazy" sizes="(min-width: 1200px) 605px, (min-width: 990px) calc(55.0vw - 10rem), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw / 1 - 4rem)">
      </div></noscript>

  <modal-opener class="product__modal-opener product__modal-opener--image no-js-hidden" data-modal="#ProductModal-template--25802407084372__main">
    <span class="product__media-icon motion-reduce quick-add-hidden product__media-icon--none" aria-hidden="true"><svg aria-hidden="true" focusable="false" class="icon icon-plus" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M4.66724 7.93978C4.66655 7.66364 4.88984 7.43922 5.16598 7.43853L10.6996 7.42464C10.9758 7.42395 11.2002 7.64724 11.2009 7.92339C11.2016 8.19953 10.9783 8.42395 10.7021 8.42464L5.16849 8.43852C4.89235 8.43922 4.66793 8.21592 4.66724 7.93978Z" fill="currentColor"></path>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.92576 4.66463C8.2019 4.66394 8.42632 4.88723 8.42702 5.16337L8.4409 10.697C8.44159 10.9732 8.2183 11.1976 7.94215 11.1983C7.66601 11.199 7.44159 10.9757 7.4409 10.6995L7.42702 5.16588C7.42633 4.88974 7.64962 4.66532 7.92576 4.66463Z" fill="currentColor"></path>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M12.8324 3.03011C10.1255 0.323296 5.73693 0.323296 3.03011 3.03011C0.323296 5.73693 0.323296 10.1256 3.03011 12.8324C5.73693 15.5392 10.1255 15.5392 12.8324 12.8324C15.5392 10.1256 15.5392 5.73693 12.8324 3.03011ZM2.32301 2.32301C5.42035 -0.774336 10.4421 -0.774336 13.5395 2.32301C16.6101 5.39361 16.6366 10.3556 13.619 13.4588L18.2473 18.0871C18.4426 18.2824 18.4426 18.599 18.2473 18.7943C18.0521 18.9895 17.7355 18.9895 17.5402 18.7943L12.8778 14.1318C9.76383 16.6223 5.20839 16.4249 2.32301 13.5395C-0.774335 10.4421 -0.774335 5.42035 2.32301 2.32301Z" fill="currentColor"></path>
</svg>
</span>
    <div class="product__media media media--transparent">
      <img src="{{ 'Bioroot_WEBP_V2_1.webp' | asset_url }}" alt="" srcset="{{ 'Bioroot_WEBP_V2_3.webp' | asset_url }} 246w, {{ 'Bioroot_WEBP_V2_10.webp' | asset_url }} 493w, {{ 'Bioroot_WEBP_V2_4.webp' | asset_url }} 600w, {{ 'Bioroot_WEBP_V2_5.webp' | asset_url }} 713w, {{ 'Bioroot_WEBP_V2_6.webp' | asset_url }} 823w, {{ 'Bioroot_WEBP_V2_8.webp' | asset_url }} 990w, {{ 'Bioroot_WEBP_V2_7.webp' | asset_url }} 1100w, {{ 'Bioroot_WEBP_V2_9.webp' | asset_url }} 1206w, {{ 'Bioroot_WEBP_V2_11.webp' | asset_url }} 1346w, {{ 'Bioroot_WEBP_V2_12.webp' | asset_url }} 1426w, {{ 'Bioroot_WEBP_V2_23.webp' | asset_url }} 1646w, {{ 'Bioroot_WEBP_V2_1.webp' | asset_url }} 1946w" width="1946" height="1946" loading="lazy" class="image-magnify-none" sizes="(min-width: 1200px) 605px, (min-width: 990px) calc(55.0vw - 10rem), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw / 1 - 4rem)">
    </div>
    <button class="product__media-toggle quick-add-hidden product__media-zoom-none" type="button" aria-haspopup="dialog" data-media-id="59762166464852">
      <span class="visually-hidden">
        Open media 2 in modal
      </span>
    </button>
  </modal-opener></div>

          </li><li id="Slide-template--25802407084372__main-59762166399316" class="product__media-item grid__item slider__slide" data-media-id="template--25802407084372__main-59762166399316">

<div class="product-media-container media-type-image media-fit-contain global-media-settings gradient constrain-height" style="--ratio: 1.0; --preview-ratio: 1.0;">
  
  <noscript><div class="product__media media">
        <img src="//biorootlabs.com/cdn/shop/files/Bioroot_PDP_003.webp?v=1765589427&amp;width=1946" alt="" srcset="//biorootlabs.com/cdn/shop/files/Bioroot_PDP_003.webp?v=1765589427&amp;width=246 246w,  //biorootlabs.com/cdn/shop/files/Bioroot_PDP_003.webp?v=1765589427&amp;width=493 493w,  //biorootlabs.com/cdn/shop/files/Bioroot_PDP_003.webp?v=1765589427&amp;width=600 600w,  //biorootlabs.com/cdn/shop/files/Bioroot_PDP_003.webp?v=1765589427&amp;width=713 713w,  //biorootlabs.com/cdn/shop/files/Bioroot_PDP_003.webp?v=1765589427&amp;width=823 823w,  //biorootlabs.com/cdn/shop/files/Bioroot_PDP_003.webp?v=1765589427&amp;width=990 990w,  //biorootlabs.com/cdn/shop/files/Bioroot_PDP_003.webp?v=1765589427&amp;width=1100 1100w,  //biorootlabs.com/cdn/shop/files/Bioroot_PDP_003.webp?v=1765589427&amp;width=1206 1206w,  //biorootlabs.com/cdn/shop/files/Bioroot_PDP_003.webp?v=1765589427&amp;width=1346 1346w,  //biorootlabs.com/cdn/shop/files/Bioroot_PDP_003.webp?v=1765589427&amp;width=1426 1426w,  //biorootlabs.com/cdn/shop/files/Bioroot_PDP_003.webp?v=1765589427&amp;width=1646 1646w,  //biorootlabs.com/cdn/shop/files/Bioroot_PDP_003.webp?v=1765589427&amp;width=1946 1946w" width="1946" height="1946" loading="lazy" sizes="(min-width: 1200px) 605px, (min-width: 990px) calc(55.0vw - 10rem), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw / 1 - 4rem)">
      </div></noscript>

  <modal-opener class="product__modal-opener product__modal-opener--image no-js-hidden" data-modal="#ProductModal-template--25802407084372__main">
    <span class="product__media-icon motion-reduce quick-add-hidden product__media-icon--none" aria-hidden="true"><svg aria-hidden="true" focusable="false" class="icon icon-plus" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M4.66724 7.93978C4.66655 7.66364 4.88984 7.43922 5.16598 7.43853L10.6996 7.42464C10.9758 7.42395 11.2002 7.64724 11.2009 7.92339C11.2016 8.19953 10.9783 8.42395 10.7021 8.42464L5.16849 8.43852C4.89235 8.43922 4.66793 8.21592 4.66724 7.93978Z" fill="currentColor"></path>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.92576 4.66463C8.2019 4.66394 8.42632 4.88723 8.42702 5.16337L8.4409 10.697C8.44159 10.9732 8.2183 11.1976 7.94215 11.1983C7.66601 11.199 7.44159 10.9757 7.4409 10.6995L7.42702 5.16588C7.42633 4.88974 7.64962 4.66532 7.92576 4.66463Z" fill="currentColor"></path>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M12.8324 3.03011C10.1255 0.323296 5.73693 0.323296 3.03011 3.03011C0.323296 5.73693 0.323296 10.1256 3.03011 12.8324C5.73693 15.5392 10.1255 15.5392 12.8324 12.8324C15.5392 10.1256 15.5392 5.73693 12.8324 3.03011ZM2.32301 2.32301C5.42035 -0.774336 10.4421 -0.774336 13.5395 2.32301C16.6101 5.39361 16.6366 10.3556 13.619 13.4588L18.2473 18.0871C18.4426 18.2824 18.4426 18.599 18.2473 18.7943C18.0521 18.9895 17.7355 18.9895 17.5402 18.7943L12.8778 14.1318C9.76383 16.6223 5.20839 16.4249 2.32301 13.5395C-0.774335 10.4421 -0.774335 5.42035 2.32301 2.32301Z" fill="currentColor"></path>
</svg>
</span>
    <div class="product__media media media--transparent">
      <img src="{{ 'Bioroot_PDP_003.webp' | asset_url }}" alt="" srcset="{{ 'Bioroot_PDP_003_7.webp' | asset_url }} 246w, {{ 'Bioroot_PDP_003_3.webp' | asset_url }} 493w, {{ 'Bioroot_PDP_003_4.webp' | asset_url }} 600w, {{ 'Bioroot_PDP_003_5.webp' | asset_url }} 713w, {{ 'Bioroot_PDP_003_6.webp' | asset_url }} 823w, {{ 'Bioroot_PDP_003_8.webp' | asset_url }} 990w, {{ 'Bioroot_PDP_003_10.webp' | asset_url }} 1100w, {{ 'Bioroot_PDP_003_11.webp' | asset_url }} 1206w, {{ 'Bioroot_PDP_003_12.webp' | asset_url }} 1346w, {{ 'Bioroot_PDP_003_9.webp' | asset_url }} 1426w, {{ 'Bioroot_PDP_003_13.webp' | asset_url }} 1646w, {{ 'Bioroot_PDP_003.webp' | asset_url }} 1946w" width="1946" height="1946" loading="lazy" class="image-magnify-none" sizes="(min-width: 1200px) 605px, (min-width: 990px) calc(55.0vw - 10rem), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw / 1 - 4rem)">
    </div>
    <button class="product__media-toggle quick-add-hidden product__media-zoom-none" type="button" aria-haspopup="dialog" data-media-id="59762166399316">
      <span class="visually-hidden">
        Open media 3 in modal
      </span>
    </button>
  </modal-opener></div>

          </li><li id="Slide-template--25802407084372__main-59762166432084" class="product__media-item grid__item slider__slide" data-media-id="template--25802407084372__main-59762166432084">

<div class="product-media-container media-type-image media-fit-contain global-media-settings gradient constrain-height" style="--ratio: 1.0; --preview-ratio: 1.0;">
  
  <noscript><div class="product__media media">
        <img src="//biorootlabs.com/cdn/shop/files/Bioroot_PDP_004_V3.webp?v=1765589427&amp;width=1946" alt="" srcset="//biorootlabs.com/cdn/shop/files/Bioroot_PDP_004_V3.webp?v=1765589427&amp;width=246 246w,  //biorootlabs.com/cdn/shop/files/Bioroot_PDP_004_V3.webp?v=1765589427&amp;width=493 493w,  //biorootlabs.com/cdn/shop/files/Bioroot_PDP_004_V3.webp?v=1765589427&amp;width=600 600w,  //biorootlabs.com/cdn/shop/files/Bioroot_PDP_004_V3.webp?v=1765589427&amp;width=713 713w,  //biorootlabs.com/cdn/shop/files/Bioroot_PDP_004_V3.webp?v=1765589427&amp;width=823 823w,  //biorootlabs.com/cdn/shop/files/Bioroot_PDP_004_V3.webp?v=1765589427&amp;width=990 990w,  //biorootlabs.com/cdn/shop/files/Bioroot_PDP_004_V3.webp?v=1765589427&amp;width=1100 1100w,  //biorootlabs.com/cdn/shop/files/Bioroot_PDP_004_V3.webp?v=1765589427&amp;width=1206 1206w,  //biorootlabs.com/cdn/shop/files/Bioroot_PDP_004_V3.webp?v=1765589427&amp;width=1346 1346w,  //biorootlabs.com/cdn/shop/files/Bioroot_PDP_004_V3.webp?v=1765589427&amp;width=1426 1426w,  //biorootlabs.com/cdn/shop/files/Bioroot_PDP_004_V3.webp?v=1765589427&amp;width=1646 1646w,  //biorootlabs.com/cdn/shop/files/Bioroot_PDP_004_V3.webp?v=1765589427&amp;width=1946 1946w" width="1946" height="1946" loading="lazy" sizes="(min-width: 1200px) 605px, (min-width: 990px) calc(55.0vw - 10rem), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw / 1 - 4rem)">
      </div></noscript>

  <modal-opener class="product__modal-opener product__modal-opener--image no-js-hidden" data-modal="#ProductModal-template--25802407084372__main">
    <span class="product__media-icon motion-reduce quick-add-hidden product__media-icon--none" aria-hidden="true"><svg aria-hidden="true" focusable="false" class="icon icon-plus" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M4.66724 7.93978C4.66655 7.66364 4.88984 7.43922 5.16598 7.43853L10.6996 7.42464C10.9758 7.42395 11.2002 7.64724 11.2009 7.92339C11.2016 8.19953 10.9783 8.42395 10.7021 8.42464L5.16849 8.43852C4.89235 8.43922 4.66793 8.21592 4.66724 7.93978Z" fill="currentColor"></path>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.92576 4.66463C8.2019 4.66394 8.42632 4.88723 8.42702 5.16337L8.4409 10.697C8.44159 10.9732 8.2183 11.1976 7.94215 11.1983C7.66601 11.199 7.44159 10.9757 7.4409 10.6995L7.42702 5.16588C7.42633 4.88974 7.64962 4.66532 7.92576 4.66463Z" fill="currentColor"></path>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M12.8324 3.03011C10.1255 0.323296 5.73693 0.323296 3.03011 3.03011C0.323296 5.73693 0.323296 10.1256 3.03011 12.8324C5.73693 15.5392 10.1255 15.5392 12.8324 12.8324C15.5392 10.1256 15.5392 5.73693 12.8324 3.03011ZM2.32301 2.32301C5.42035 -0.774336 10.4421 -0.774336 13.5395 2.32301C16.6101 5.39361 16.6366 10.3556 13.619 13.4588L18.2473 18.0871C18.4426 18.2824 18.4426 18.599 18.2473 18.7943C18.0521 18.9895 17.7355 18.9895 17.5402 18.7943L12.8778 14.1318C9.76383 16.6223 5.20839 16.4249 2.32301 13.5395C-0.774335 10.4421 -0.774335 5.42035 2.32301 2.32301Z" fill="currentColor"></path>
</svg>
</span>
    <div class="product__media media media--transparent">
      <img src="{{ 'Bioroot_PDP_004_V3_1.webp' | asset_url }}" alt="" srcset="{{ 'Bioroot_PDP_004_V3_3.webp' | asset_url }} 246w, {{ 'Bioroot_PDP_004_V3_4.webp' | asset_url }} 493w, {{ 'Bioroot_PDP_004_V3_6.webp' | asset_url }} 600w, {{ 'Bioroot_PDP_004_V3_5.webp' | asset_url }} 713w, {{ 'Bioroot_PDP_004_V3_7.webp' | asset_url }} 823w, {{ 'Bioroot_PDP_004_V3_8.webp' | asset_url }} 990w, {{ 'Bioroot_PDP_004_V3_9.webp' | asset_url }} 1100w, {{ 'Bioroot_PDP_004_V3_14.webp' | asset_url }} 1206w, {{ 'Bioroot_PDP_004_V3_15.webp' | asset_url }} 1346w, {{ 'Bioroot_PDP_004_V3_13.webp' | asset_url }} 1426w, {{ 'Bioroot_PDP_004_V3_11.webp' | asset_url }} 1646w, {{ 'Bioroot_PDP_004_V3_1.webp' | asset_url }} 1946w" width="1946" height="1946" loading="lazy" class="image-magnify-none" sizes="(min-width: 1200px) 605px, (min-width: 990px) calc(55.0vw - 10rem), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw / 1 - 4rem)">
    </div>
    <button class="product__media-toggle quick-add-hidden product__media-zoom-none" type="button" aria-haspopup="dialog" data-media-id="59762166432084">
      <span class="visually-hidden">
        Open media 4 in modal
      </span>
    </button>
  </modal-opener></div>

          </li><li id="Slide-template--25802407084372__main-59762166333780" class="product__media-item grid__item slider__slide" data-media-id="template--25802407084372__main-59762166333780">

<div class="product-media-container media-type-image media-fit-contain global-media-settings gradient constrain-height" style="--ratio: 1.0; --preview-ratio: 1.0;">
  
  <noscript><div class="product__media media">
        <img src="//biorootlabs.com/cdn/shop/files/Bioroot_WEBP_006.webp?v=1765589427&amp;width=1946" alt="" srcset="//biorootlabs.com/cdn/shop/files/Bioroot_WEBP_006.webp?v=1765589427&amp;width=246 246w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_006.webp?v=1765589427&amp;width=493 493w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_006.webp?v=1765589427&amp;width=600 600w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_006.webp?v=1765589427&amp;width=713 713w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_006.webp?v=1765589427&amp;width=823 823w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_006.webp?v=1765589427&amp;width=990 990w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_006.webp?v=1765589427&amp;width=1100 1100w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_006.webp?v=1765589427&amp;width=1206 1206w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_006.webp?v=1765589427&amp;width=1346 1346w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_006.webp?v=1765589427&amp;width=1426 1426w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_006.webp?v=1765589427&amp;width=1646 1646w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_006.webp?v=1765589427&amp;width=1946 1946w" width="1946" height="1946" loading="lazy" sizes="(min-width: 1200px) 605px, (min-width: 990px) calc(55.0vw - 10rem), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw / 1 - 4rem)">
      </div></noscript>

  <modal-opener class="product__modal-opener product__modal-opener--image no-js-hidden" data-modal="#ProductModal-template--25802407084372__main">
    <span class="product__media-icon motion-reduce quick-add-hidden product__media-icon--none" aria-hidden="true"><svg aria-hidden="true" focusable="false" class="icon icon-plus" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M4.66724 7.93978C4.66655 7.66364 4.88984 7.43922 5.16598 7.43853L10.6996 7.42464C10.9758 7.42395 11.2002 7.64724 11.2009 7.92339C11.2016 8.19953 10.9783 8.42395 10.7021 8.42464L5.16849 8.43852C4.89235 8.43922 4.66793 8.21592 4.66724 7.93978Z" fill="currentColor"></path>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.92576 4.66463C8.2019 4.66394 8.42632 4.88723 8.42702 5.16337L8.4409 10.697C8.44159 10.9732 8.2183 11.1976 7.94215 11.1983C7.66601 11.199 7.44159 10.9757 7.4409 10.6995L7.42702 5.16588C7.42633 4.88974 7.64962 4.66532 7.92576 4.66463Z" fill="currentColor"></path>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M12.8324 3.03011C10.1255 0.323296 5.73693 0.323296 3.03011 3.03011C0.323296 5.73693 0.323296 10.1256 3.03011 12.8324C5.73693 15.5392 10.1255 15.5392 12.8324 12.8324C15.5392 10.1256 15.5392 5.73693 12.8324 3.03011ZM2.32301 2.32301C5.42035 -0.774336 10.4421 -0.774336 13.5395 2.32301C16.6101 5.39361 16.6366 10.3556 13.619 13.4588L18.2473 18.0871C18.4426 18.2824 18.4426 18.599 18.2473 18.7943C18.0521 18.9895 17.7355 18.9895 17.5402 18.7943L12.8778 14.1318C9.76383 16.6223 5.20839 16.4249 2.32301 13.5395C-0.774335 10.4421 -0.774335 5.42035 2.32301 2.32301Z" fill="currentColor"></path>
</svg>
</span>
    <div class="product__media media media--transparent">
      <img src="{{ 'Bioroot_WEBP_006.webp' | asset_url }}" alt="" srcset="{{ 'Bioroot_WEBP_006_4.webp' | asset_url }} 246w, {{ 'Bioroot_WEBP_006_3.webp' | asset_url }} 493w, {{ 'Bioroot_WEBP_006_6.webp' | asset_url }} 600w, {{ 'Bioroot_WEBP_006_5.webp' | asset_url }} 713w, {{ 'Bioroot_WEBP_006_7.webp' | asset_url }} 823w, {{ 'Bioroot_WEBP_006_11.webp' | asset_url }} 990w, {{ 'Bioroot_WEBP_006_10.webp' | asset_url }} 1100w, {{ 'Bioroot_WEBP_006_13.webp' | asset_url }} 1206w, {{ 'Bioroot_WEBP_006_12.webp' | asset_url }} 1346w, {{ 'Bioroot_WEBP_006_16.webp' | asset_url }} 1426w, {{ 'Bioroot_WEBP_006_14.webp' | asset_url }} 1646w, {{ 'Bioroot_WEBP_006.webp' | asset_url }} 1946w" width="1946" height="1946" loading="lazy" class="image-magnify-none" sizes="(min-width: 1200px) 605px, (min-width: 990px) calc(55.0vw - 10rem), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw / 1 - 4rem)">
    </div>
    <button class="product__media-toggle quick-add-hidden product__media-zoom-none" type="button" aria-haspopup="dialog" data-media-id="59762166333780">
      <span class="visually-hidden">
        Open media 5 in modal
      </span>
    </button>
  </modal-opener></div>

          </li><li id="Slide-template--25802407084372__main-59762166366548" class="product__media-item grid__item slider__slide" data-media-id="template--25802407084372__main-59762166366548">

<div class="product-media-container media-type-image media-fit-contain global-media-settings gradient constrain-height" style="--ratio: 1.0; --preview-ratio: 1.0;">
  
  <noscript><div class="product__media media">
        <img src="//biorootlabs.com/cdn/shop/files/Bioroot_WEBP_007.webp?v=1765589427&amp;width=1946" alt="" srcset="//biorootlabs.com/cdn/shop/files/Bioroot_WEBP_007.webp?v=1765589427&amp;width=246 246w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_007.webp?v=1765589427&amp;width=493 493w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_007.webp?v=1765589427&amp;width=600 600w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_007.webp?v=1765589427&amp;width=713 713w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_007.webp?v=1765589427&amp;width=823 823w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_007.webp?v=1765589427&amp;width=990 990w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_007.webp?v=1765589427&amp;width=1100 1100w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_007.webp?v=1765589427&amp;width=1206 1206w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_007.webp?v=1765589427&amp;width=1346 1346w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_007.webp?v=1765589427&amp;width=1426 1426w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_007.webp?v=1765589427&amp;width=1646 1646w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_007.webp?v=1765589427&amp;width=1946 1946w" width="1946" height="1946" loading="lazy" sizes="(min-width: 1200px) 605px, (min-width: 990px) calc(55.0vw - 10rem), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw / 1 - 4rem)">
      </div></noscript>

  <modal-opener class="product__modal-opener product__modal-opener--image no-js-hidden" data-modal="#ProductModal-template--25802407084372__main">
    <span class="product__media-icon motion-reduce quick-add-hidden product__media-icon--none" aria-hidden="true"><svg aria-hidden="true" focusable="false" class="icon icon-plus" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M4.66724 7.93978C4.66655 7.66364 4.88984 7.43922 5.16598 7.43853L10.6996 7.42464C10.9758 7.42395 11.2002 7.64724 11.2009 7.92339C11.2016 8.19953 10.9783 8.42395 10.7021 8.42464L5.16849 8.43852C4.89235 8.43922 4.66793 8.21592 4.66724 7.93978Z" fill="currentColor"></path>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.92576 4.66463C8.2019 4.66394 8.42632 4.88723 8.42702 5.16337L8.4409 10.697C8.44159 10.9732 8.2183 11.1976 7.94215 11.1983C7.66601 11.199 7.44159 10.9757 7.4409 10.6995L7.42702 5.16588C7.42633 4.88974 7.64962 4.66532 7.92576 4.66463Z" fill="currentColor"></path>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M12.8324 3.03011C10.1255 0.323296 5.73693 0.323296 3.03011 3.03011C0.323296 5.73693 0.323296 10.1256 3.03011 12.8324C5.73693 15.5392 10.1255 15.5392 12.8324 12.8324C15.5392 10.1256 15.5392 5.73693 12.8324 3.03011ZM2.32301 2.32301C5.42035 -0.774336 10.4421 -0.774336 13.5395 2.32301C16.6101 5.39361 16.6366 10.3556 13.619 13.4588L18.2473 18.0871C18.4426 18.2824 18.4426 18.599 18.2473 18.7943C18.0521 18.9895 17.7355 18.9895 17.5402 18.7943L12.8778 14.1318C9.76383 16.6223 5.20839 16.4249 2.32301 13.5395C-0.774335 10.4421 -0.774335 5.42035 2.32301 2.32301Z" fill="currentColor"></path>
</svg>
</span>
    <div class="product__media media media--transparent">
      <img src="{{ 'Bioroot_WEBP_007.webp' | asset_url }}" alt="" srcset="{{ 'Bioroot_WEBP_007_3.webp' | asset_url }} 246w, {{ 'Bioroot_WEBP_007_8.webp' | asset_url }} 493w, {{ 'Bioroot_WEBP_007_5.webp' | asset_url }} 600w, {{ 'Bioroot_WEBP_007_4.webp' | asset_url }} 713w, {{ 'Bioroot_WEBP_007_13.webp' | asset_url }} 823w, {{ 'Bioroot_WEBP_007_9.webp' | asset_url }} 990w, {{ 'Bioroot_WEBP_007_11.webp' | asset_url }} 1100w, {{ 'Bioroot_WEBP_007_12.webp' | asset_url }} 1206w, {{ 'Bioroot_WEBP_007_10.webp' | asset_url }} 1346w, {{ 'Bioroot_WEBP_007_14.webp' | asset_url }} 1426w, {{ 'Bioroot_WEBP_007_15.webp' | asset_url }} 1646w, {{ 'Bioroot_WEBP_007.webp' | asset_url }} 1946w" width="1946" height="1946" loading="lazy" class="image-magnify-none" sizes="(min-width: 1200px) 605px, (min-width: 990px) calc(55.0vw - 10rem), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw / 1 - 4rem)">
    </div>
    <button class="product__media-toggle quick-add-hidden product__media-zoom-none" type="button" aria-haspopup="dialog" data-media-id="59762166366548">
      <span class="visually-hidden">
        Open media 6 in modal
      </span>
    </button>
  </modal-opener></div>

          </li><li id="Slide-template--25802407084372__main-57767230767444" class="product__media-item grid__item slider__slide" data-media-id="template--25802407084372__main-57767230767444">

<div class="product-media-container media-type-image media-fit-contain global-media-settings gradient constrain-height" style="--ratio: 1.0; --preview-ratio: 1.0;">
  
  <noscript><div class="product__media media">
        <img src="//biorootlabs.com/cdn/shop/files/4.jpg?v=1765589427&amp;width=1946" alt="" srcset="//biorootlabs.com/cdn/shop/files/4.jpg?v=1765589427&amp;width=246 246w,  //biorootlabs.com/cdn/shop/files/4.jpg?v=1765589427&amp;width=493 493w,  //biorootlabs.com/cdn/shop/files/4.jpg?v=1765589427&amp;width=600 600w,  //biorootlabs.com/cdn/shop/files/4.jpg?v=1765589427&amp;width=713 713w,  //biorootlabs.com/cdn/shop/files/4.jpg?v=1765589427&amp;width=823 823w,  //biorootlabs.com/cdn/shop/files/4.jpg?v=1765589427&amp;width=990 990w,  //biorootlabs.com/cdn/shop/files/4.jpg?v=1765589427&amp;width=1100 1100w,  //biorootlabs.com/cdn/shop/files/4.jpg?v=1765589427&amp;width=1206 1206w,  //biorootlabs.com/cdn/shop/files/4.jpg?v=1765589427&amp;width=1346 1346w,  //biorootlabs.com/cdn/shop/files/4.jpg?v=1765589427&amp;width=1426 1426w,  //biorootlabs.com/cdn/shop/files/4.jpg?v=1765589427&amp;width=1646 1646w,  //biorootlabs.com/cdn/shop/files/4.jpg?v=1765589427&amp;width=1946 1946w" width="1946" height="1946" loading="lazy" sizes="(min-width: 1200px) 605px, (min-width: 990px) calc(55.0vw - 10rem), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw / 1 - 4rem)">
      </div></noscript>

  <modal-opener class="product__modal-opener product__modal-opener--image no-js-hidden" data-modal="#ProductModal-template--25802407084372__main">
    <span class="product__media-icon motion-reduce quick-add-hidden product__media-icon--none" aria-hidden="true"><svg aria-hidden="true" focusable="false" class="icon icon-plus" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M4.66724 7.93978C4.66655 7.66364 4.88984 7.43922 5.16598 7.43853L10.6996 7.42464C10.9758 7.42395 11.2002 7.64724 11.2009 7.92339C11.2016 8.19953 10.9783 8.42395 10.7021 8.42464L5.16849 8.43852C4.89235 8.43922 4.66793 8.21592 4.66724 7.93978Z" fill="currentColor"></path>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.92576 4.66463C8.2019 4.66394 8.42632 4.88723 8.42702 5.16337L8.4409 10.697C8.44159 10.9732 8.2183 11.1976 7.94215 11.1983C7.66601 11.199 7.44159 10.9757 7.4409 10.6995L7.42702 5.16588C7.42633 4.88974 7.64962 4.66532 7.92576 4.66463Z" fill="currentColor"></path>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M12.8324 3.03011C10.1255 0.323296 5.73693 0.323296 3.03011 3.03011C0.323296 5.73693 0.323296 10.1256 3.03011 12.8324C5.73693 15.5392 10.1255 15.5392 12.8324 12.8324C15.5392 10.1256 15.5392 5.73693 12.8324 3.03011ZM2.32301 2.32301C5.42035 -0.774336 10.4421 -0.774336 13.5395 2.32301C16.6101 5.39361 16.6366 10.3556 13.619 13.4588L18.2473 18.0871C18.4426 18.2824 18.4426 18.599 18.2473 18.7943C18.0521 18.9895 17.7355 18.9895 17.5402 18.7943L12.8778 14.1318C9.76383 16.6223 5.20839 16.4249 2.32301 13.5395C-0.774335 10.4421 -0.774335 5.42035 2.32301 2.32301Z" fill="currentColor"></path>
</svg>
</span>
    <div class="product__media media media--transparent">
      <img src="{{ '4.jpg' | asset_url }}" alt="" srcset="{{ '4_6.jpg' | asset_url }} 246w, {{ '4_3.jpg' | asset_url }} 493w, {{ '4_4.jpg' | asset_url }} 600w, {{ '4_5.jpg' | asset_url }} 713w, {{ '4_9.jpg' | asset_url }} 823w, {{ '4_7.jpg' | asset_url }} 990w, {{ '4_8.jpg' | asset_url }} 1100w, {{ '4_11.jpg' | asset_url }} 1206w, {{ '4_10.jpg' | asset_url }} 1346w, {{ '4_12.jpg' | asset_url }} 1426w, {{ '4_16.jpg' | asset_url }} 1646w, {{ '4.jpg' | asset_url }} 1946w" width="1946" height="1946" loading="lazy" class="image-magnify-none" sizes="(min-width: 1200px) 605px, (min-width: 990px) calc(55.0vw - 10rem), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw / 1 - 4rem)">
    </div>
    <button class="product__media-toggle quick-add-hidden product__media-zoom-none" type="button" aria-haspopup="dialog" data-media-id="57767230767444">
      <span class="visually-hidden">
        Open media 7 in modal
      </span>
    </button>
  </modal-opener></div>

          </li><li id="Slide-template--25802407084372__main-59762166301012" class="product__media-item grid__item slider__slide" data-media-id="template--25802407084372__main-59762166301012">

<div class="product-media-container media-type-image media-fit-contain global-media-settings gradient constrain-height" style="--ratio: 1.0; --preview-ratio: 1.0;">
  
  <noscript><div class="product__media media">
        <img src="//biorootlabs.com/cdn/shop/files/Bioroot_WEBP_008.webp?v=1765589427&amp;width=1946" alt="" srcset="//biorootlabs.com/cdn/shop/files/Bioroot_WEBP_008.webp?v=1765589427&amp;width=246 246w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_008.webp?v=1765589427&amp;width=493 493w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_008.webp?v=1765589427&amp;width=600 600w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_008.webp?v=1765589427&amp;width=713 713w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_008.webp?v=1765589427&amp;width=823 823w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_008.webp?v=1765589427&amp;width=990 990w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_008.webp?v=1765589427&amp;width=1100 1100w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_008.webp?v=1765589427&amp;width=1206 1206w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_008.webp?v=1765589427&amp;width=1346 1346w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_008.webp?v=1765589427&amp;width=1426 1426w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_008.webp?v=1765589427&amp;width=1646 1646w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_008.webp?v=1765589427&amp;width=1946 1946w" width="1946" height="1946" loading="lazy" sizes="(min-width: 1200px) 605px, (min-width: 990px) calc(55.0vw - 10rem), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw / 1 - 4rem)">
      </div></noscript>

  <modal-opener class="product__modal-opener product__modal-opener--image no-js-hidden" data-modal="#ProductModal-template--25802407084372__main">
    <span class="product__media-icon motion-reduce quick-add-hidden product__media-icon--none" aria-hidden="true"><svg aria-hidden="true" focusable="false" class="icon icon-plus" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M4.66724 7.93978C4.66655 7.66364 4.88984 7.43922 5.16598 7.43853L10.6996 7.42464C10.9758 7.42395 11.2002 7.64724 11.2009 7.92339C11.2016 8.19953 10.9783 8.42395 10.7021 8.42464L5.16849 8.43852C4.89235 8.43922 4.66793 8.21592 4.66724 7.93978Z" fill="currentColor"></path>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.92576 4.66463C8.2019 4.66394 8.42632 4.88723 8.42702 5.16337L8.4409 10.697C8.44159 10.9732 8.2183 11.1976 7.94215 11.1983C7.66601 11.199 7.44159 10.9757 7.4409 10.6995L7.42702 5.16588C7.42633 4.88974 7.64962 4.66532 7.92576 4.66463Z" fill="currentColor"></path>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M12.8324 3.03011C10.1255 0.323296 5.73693 0.323296 3.03011 3.03011C0.323296 5.73693 0.323296 10.1256 3.03011 12.8324C5.73693 15.5392 10.1255 15.5392 12.8324 12.8324C15.5392 10.1256 15.5392 5.73693 12.8324 3.03011ZM2.32301 2.32301C5.42035 -0.774336 10.4421 -0.774336 13.5395 2.32301C16.6101 5.39361 16.6366 10.3556 13.619 13.4588L18.2473 18.0871C18.4426 18.2824 18.4426 18.599 18.2473 18.7943C18.0521 18.9895 17.7355 18.9895 17.5402 18.7943L12.8778 14.1318C9.76383 16.6223 5.20839 16.4249 2.32301 13.5395C-0.774335 10.4421 -0.774335 5.42035 2.32301 2.32301Z" fill="currentColor"></path>
</svg>
</span>
    <div class="product__media media media--transparent">
      <img src="{{ 'Bioroot_WEBP_008.webp' | asset_url }}" alt="" srcset="{{ 'Bioroot_WEBP_008_10.webp' | asset_url }} 246w, {{ 'Bioroot_WEBP_008_8.webp' | asset_url }} 493w, {{ 'Bioroot_WEBP_008_3.webp' | asset_url }} 600w, {{ 'Bioroot_WEBP_008_9.webp' | asset_url }} 713w, {{ 'Bioroot_WEBP_008_4.webp' | asset_url }} 823w, {{ 'Bioroot_WEBP_008_5.webp' | asset_url }} 990w, {{ 'Bioroot_WEBP_008_7.webp' | asset_url }} 1100w, {{ 'Bioroot_WEBP_008_6.webp' | asset_url }} 1206w, {{ 'Bioroot_WEBP_008_23.webp' | asset_url }} 1346w, {{ 'Bioroot_WEBP_008_22.webp' | asset_url }} 1426w, {{ 'Bioroot_WEBP_008_12.webp' | asset_url }} 1646w, {{ 'Bioroot_WEBP_008.webp' | asset_url }} 1946w" width="1946" height="1946" loading="lazy" class="image-magnify-none" sizes="(min-width: 1200px) 605px, (min-width: 990px) calc(55.0vw - 10rem), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw / 1 - 4rem)">
    </div>
    <button class="product__media-toggle quick-add-hidden product__media-zoom-none" type="button" aria-haspopup="dialog" data-media-id="59762166301012">
      <span class="visually-hidden">
        Open media 8 in modal
      </span>
    </button>
  </modal-opener></div>

          </li><li id="Slide-template--25802407084372__main-59762208014676" class="product__media-item grid__item slider__slide" data-media-id="template--25802407084372__main-59762208014676">

<div class="product-media-container media-type-image media-fit-contain global-media-settings gradient constrain-height" style="--ratio: 1.0; --preview-ratio: 1.0;">
  
  <noscript><div class="product__media media">
        <img src="//biorootlabs.com/cdn/shop/files/Bioroot_WEBP_005.webp?v=1765589427&amp;width=1946" alt="" srcset="//biorootlabs.com/cdn/shop/files/Bioroot_WEBP_005.webp?v=1765589427&amp;width=246 246w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_005.webp?v=1765589427&amp;width=493 493w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_005.webp?v=1765589427&amp;width=600 600w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_005.webp?v=1765589427&amp;width=713 713w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_005.webp?v=1765589427&amp;width=823 823w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_005.webp?v=1765589427&amp;width=990 990w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_005.webp?v=1765589427&amp;width=1100 1100w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_005.webp?v=1765589427&amp;width=1206 1206w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_005.webp?v=1765589427&amp;width=1346 1346w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_005.webp?v=1765589427&amp;width=1426 1426w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_005.webp?v=1765589427&amp;width=1646 1646w,  //biorootlabs.com/cdn/shop/files/Bioroot_WEBP_005.webp?v=1765589427&amp;width=1946 1946w" width="1946" height="1946" loading="lazy" sizes="(min-width: 1200px) 605px, (min-width: 990px) calc(55.0vw - 10rem), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw / 1 - 4rem)">
      </div></noscript>

  <modal-opener class="product__modal-opener product__modal-opener--image no-js-hidden" data-modal="#ProductModal-template--25802407084372__main">
    <span class="product__media-icon motion-reduce quick-add-hidden product__media-icon--none" aria-hidden="true"><svg aria-hidden="true" focusable="false" class="icon icon-plus" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M4.66724 7.93978C4.66655 7.66364 4.88984 7.43922 5.16598 7.43853L10.6996 7.42464C10.9758 7.42395 11.2002 7.64724 11.2009 7.92339C11.2016 8.19953 10.9783 8.42395 10.7021 8.42464L5.16849 8.43852C4.89235 8.43922 4.66793 8.21592 4.66724 7.93978Z" fill="currentColor"></path>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.92576 4.66463C8.2019 4.66394 8.42632 4.88723 8.42702 5.16337L8.4409 10.697C8.44159 10.9732 8.2183 11.1976 7.94215 11.1983C7.66601 11.199 7.44159 10.9757 7.4409 10.6995L7.42702 5.16588C7.42633 4.88974 7.64962 4.66532 7.92576 4.66463Z" fill="currentColor"></path>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M12.8324 3.03011C10.1255 0.323296 5.73693 0.323296 3.03011 3.03011C0.323296 5.73693 0.323296 10.1256 3.03011 12.8324C5.73693 15.5392 10.1255 15.5392 12.8324 12.8324C15.5392 10.1256 15.5392 5.73693 12.8324 3.03011ZM2.32301 2.32301C5.42035 -0.774336 10.4421 -0.774336 13.5395 2.32301C16.6101 5.39361 16.6366 10.3556 13.619 13.4588L18.2473 18.0871C18.4426 18.2824 18.4426 18.599 18.2473 18.7943C18.0521 18.9895 17.7355 18.9895 17.5402 18.7943L12.8778 14.1318C9.76383 16.6223 5.20839 16.4249 2.32301 13.5395C-0.774335 10.4421 -0.774335 5.42035 2.32301 2.32301Z" fill="currentColor"></path>
</svg>
</span>
    <div class="product__media media media--transparent">
      <img src="{{ 'Bioroot_WEBP_005.webp' | asset_url }}" alt="" srcset="{{ 'Bioroot_WEBP_005_3.webp' | asset_url }} 246w, {{ 'Bioroot_WEBP_005_4.webp' | asset_url }} 493w, {{ 'Bioroot_WEBP_005_5.webp' | asset_url }} 600w, {{ 'Bioroot_WEBP_005_6.webp' | asset_url }} 713w, {{ 'Bioroot_WEBP_005_9.webp' | asset_url }} 823w, {{ 'Bioroot_WEBP_005_8.webp' | asset_url }} 990w, {{ 'Bioroot_WEBP_005_10.webp' | asset_url }} 1100w, {{ 'Bioroot_WEBP_005_7.webp' | asset_url }} 1206w, {{ 'Bioroot_WEBP_005_11.webp' | asset_url }} 1346w, {{ 'Bioroot_WEBP_005_12.webp' | asset_url }} 1426w, {{ 'Bioroot_WEBP_005_14.webp' | asset_url }} 1646w, {{ 'Bioroot_WEBP_005.webp' | asset_url }} 1946w" width="1946" height="1946" loading="lazy" class="image-magnify-none" sizes="(min-width: 1200px) 605px, (min-width: 990px) calc(55.0vw - 10rem), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw / 1 - 4rem)">
    </div>
    <button class="product__media-toggle quick-add-hidden product__media-zoom-none" type="button" aria-haspopup="dialog" data-media-id="59762208014676">
      <span class="visually-hidden">
        Open media 9 in modal
      </span>
    </button>
  </modal-opener></div>

          </li></ul><div class="slider-buttons no-js-hidden quick-add-hidden small-hide slider-buttons--overlay slider-buttons--dots color-inverse">
        <button type="button" class="slider-button slider-button--prev arrows--hide" name="previous" aria-label="Slide left">
          <svg aria-hidden="true" focusable="false" class="icon icon-caret" viewBox="0 0 10 6">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
</path></svg>

        </button>
        
          
            <button class="slider-counter__link slider-counter__link--dots link" aria-label="Load slide 1 of 3" aria-controls="Slider-template--25802407084372__main">
              <span class="dot"></span>
            </button>
          
            <button class="slider-counter__link slider-counter__link--dots link" aria-label="Load slide 1 of 3" aria-controls="Slider-template--25802407084372__main">
              <span class="dot"></span>
            </button>
          
            <button class="slider-counter__link slider-counter__link--dots link" aria-label="Load slide 1 of 3" aria-controls="Slider-template--25802407084372__main">
              <span class="dot"></span>
            </button>
          
            <button class="slider-counter__link slider-counter__link--dots link" aria-label="Load slide 1 of 3" aria-controls="Slider-template--25802407084372__main">
              <span class="dot"></span>
            </button>
          
            <button class="slider-counter__link slider-counter__link--dots link" aria-label="Load slide 1 of 3" aria-controls="Slider-template--25802407084372__main">
              <span class="dot"></span>
            </button>
          
            <button class="slider-counter__link slider-counter__link--dots link" aria-label="Load slide 1 of 3" aria-controls="Slider-template--25802407084372__main">
              <span class="dot"></span>
            </button>
          
            <button class="slider-counter__link slider-counter__link--dots link" aria-label="Load slide 1 of 3" aria-controls="Slider-template--25802407084372__main">
              <span class="dot"></span>
            </button>
          
            <button class="slider-counter__link slider-counter__link--dots link" aria-label="Load slide 1 of 3" aria-controls="Slider-template--25802407084372__main">
              <span class="dot"></span>
            </button>
          
            <button class="slider-counter__link slider-counter__link--dots link" aria-label="Load slide 1 of 3" aria-controls="Slider-template--25802407084372__main">
              <span class="dot"></span>
            </button>
          
        
        <button type="button" class="slider-button slider-button--next arrows--hide" name="next" aria-label="Slide right">
          <svg aria-hidden="true" focusable="false" class="icon icon-caret" viewBox="0 0 10 6">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
</path></svg>

        </button>
      </div></slider-component><slider-component id="GalleryThumbnails-template--25802407084372__main" class="thumbnail-slider slider-mobile-gutter quick-add-hidden">
      <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="Slide left" aria-controls="GalleryThumbnails-template--25802407084372__main" data-step="3">
        <svg aria-hidden="true" focusable="false" class="icon icon-caret" viewBox="0 0 10 6">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
</path></svg>

      </button>
      <ul id="Slider-Thumbnails-template--25802407084372__main" class="thumbnail-list list-unstyled slider slider--mobile slider--tablet-up"><li id="Slide-Thumbnails-template--25802407084372__main-1" class="thumbnail-list__item slider__slide" data-target="template--25802407084372__main-62553109168468" data-media-position="1">
              <button class="thumbnail global-media-settings global-media-settings--no-shadow" aria-label="Load image 1 in gallery view" aria-current="true" aria-controls="GalleryViewer-template--25802407084372__main" aria-describedby="Thumbnail-template--25802407084372__main-1
">
                <img src="{{ 'Bioroot_PDP_Images_2000px.jpg' | asset_url }}" alt="Turmeric Curcumin Capsules (1,000mg)" srcset="{{ 'Bioroot_PDP_Images_2000px_18.jpg' | asset_url }} 54w, {{ 'Bioroot_PDP_Images_2000px_15.jpg' | asset_url }} 74w, {{ 'Bioroot_PDP_Images_2000px_17.jpg' | asset_url }} 104w, {{ 'Bioroot_PDP_Images_2000px_16.jpg' | asset_url }} 162w, {{ 'Bioroot_PDP_Images_2000px_14.jpg' | asset_url }} 208w, {{ 'Bioroot_PDP_Images_2000px_21.jpg' | asset_url }} 324w, {{ 'Bioroot_PDP_Images_2000px.jpg' | asset_url }} 416w" width="416" height="416" loading="lazy" sizes="(min-width: 1200px) calc((605 - 4rem) / 4),
          (min-width: 990px) calc((55.0vw - 4rem) / 4),
          (min-width: 750px) calc((100vw - 15rem) / 8),
          calc((100vw - 8rem) / 3)" id="Thumbnail-template--25802407084372__main-1
">
              </button>
            </li><li id="Slide-Thumbnails-template--25802407084372__main-2" class="thumbnail-list__item slider__slide" data-target="template--25802407084372__main-59762166464852" data-media-position="2">
              <button class="thumbnail global-media-settings global-media-settings--no-shadow" aria-label="Load image 2 in gallery view" aria-controls="GalleryViewer-template--25802407084372__main" aria-describedby="Thumbnail-template--25802407084372__main-2
">
                <img src="{{ 'Bioroot_WEBP_V2.webp' | asset_url }}" alt="Turmeric Curcumin Capsules (1,000mg)" srcset="{{ 'Bioroot_WEBP_V2_16.webp' | asset_url }} 54w, {{ 'Bioroot_WEBP_V2_13.webp' | asset_url }} 74w, {{ 'Bioroot_WEBP_V2_15.webp' | asset_url }} 104w, {{ 'Bioroot_WEBP_V2_14.webp' | asset_url }} 162w, {{ 'Bioroot_WEBP_V2_17.webp' | asset_url }} 208w, {{ 'Bioroot_WEBP_V2_19.webp' | asset_url }} 324w, {{ 'Bioroot_WEBP_V2.webp' | asset_url }} 416w" width="416" height="416" loading="lazy" sizes="(min-width: 1200px) calc((605 - 4rem) / 4),
          (min-width: 990px) calc((55.0vw - 4rem) / 4),
          (min-width: 750px) calc((100vw - 15rem) / 8),
          calc((100vw - 8rem) / 3)" id="Thumbnail-template--25802407084372__main-2
">
              </button>
            </li><li id="Slide-Thumbnails-template--25802407084372__main-3" class="thumbnail-list__item slider__slide" data-target="template--25802407084372__main-59762166399316" data-media-position="3">
              <button class="thumbnail global-media-settings global-media-settings--no-shadow" aria-label="Load image 3 in gallery view" aria-controls="GalleryViewer-template--25802407084372__main" aria-describedby="Thumbnail-template--25802407084372__main-3
">
                <img src="{{ 'Bioroot_PDP_003_1.webp' | asset_url }}" alt="Turmeric Curcumin Capsules (1,000mg)" srcset="{{ 'Bioroot_PDP_003_14.webp' | asset_url }} 54w, {{ 'Bioroot_PDP_003_21.webp' | asset_url }} 74w, {{ 'Bioroot_PDP_003_16.webp' | asset_url }} 104w, {{ 'Bioroot_PDP_003_15.webp' | asset_url }} 162w, {{ 'Bioroot_PDP_003_22.webp' | asset_url }} 208w, {{ 'Bioroot_PDP_003_17.webp' | asset_url }} 324w, {{ 'Bioroot_PDP_003_1.webp' | asset_url }} 416w" width="416" height="416" loading="lazy" sizes="(min-width: 1200px) calc((605 - 4rem) / 4),
          (min-width: 990px) calc((55.0vw - 4rem) / 4),
          (min-width: 750px) calc((100vw - 15rem) / 8),
          calc((100vw - 8rem) / 3)" id="Thumbnail-template--25802407084372__main-3
">
              </button>
            </li><li id="Slide-Thumbnails-template--25802407084372__main-4" class="thumbnail-list__item slider__slide" data-target="template--25802407084372__main-59762166432084" data-media-position="4">
              <button class="thumbnail global-media-settings global-media-settings--no-shadow" aria-label="Load image 4 in gallery view" aria-controls="GalleryViewer-template--25802407084372__main" aria-describedby="Thumbnail-template--25802407084372__main-4
">
                <img src="{{ 'Bioroot_PDP_004_V3.webp' | asset_url }}" alt="Turmeric Curcumin Capsules (1,000mg)" srcset="{{ 'Bioroot_PDP_004_V3_20.webp' | asset_url }} 54w, {{ 'Bioroot_PDP_004_V3_19.webp' | asset_url }} 74w, {{ 'Bioroot_PDP_004_V3_21.webp' | asset_url }} 104w, {{ 'Bioroot_PDP_004_V3_22.webp' | asset_url }} 162w, {{ 'Bioroot_PDP_004_V3_10.webp' | asset_url }} 208w, {{ 'Bioroot_PDP_004_V3_12.webp' | asset_url }} 324w, {{ 'Bioroot_PDP_004_V3.webp' | asset_url }} 416w" width="416" height="416" loading="lazy" sizes="(min-width: 1200px) calc((605 - 4rem) / 4),
          (min-width: 990px) calc((55.0vw - 4rem) / 4),
          (min-width: 750px) calc((100vw - 15rem) / 8),
          calc((100vw - 8rem) / 3)" id="Thumbnail-template--25802407084372__main-4
">
              </button>
            </li><li id="Slide-Thumbnails-template--25802407084372__main-5" class="thumbnail-list__item slider__slide" data-target="template--25802407084372__main-59762166333780" data-media-position="5">
              <button class="thumbnail global-media-settings global-media-settings--no-shadow" aria-label="Load image 5 in gallery view" aria-controls="GalleryViewer-template--25802407084372__main" aria-describedby="Thumbnail-template--25802407084372__main-5
">
                <img src="{{ 'Bioroot_WEBP_006_1.webp' | asset_url }}" alt="Turmeric Curcumin Capsules (1,000mg)" srcset="{{ 'Bioroot_WEBP_006_8.webp' | asset_url }} 54w, {{ 'Bioroot_WEBP_006_21.webp' | asset_url }} 74w, {{ 'Bioroot_WEBP_006_15.webp' | asset_url }} 104w, {{ 'Bioroot_WEBP_006_23.webp' | asset_url }} 162w, {{ 'Bioroot_WEBP_006_17.webp' | asset_url }} 208w, {{ 'Bioroot_WEBP_006_9.webp' | asset_url }} 324w, {{ 'Bioroot_WEBP_006_1.webp' | asset_url }} 416w" width="416" height="416" loading="lazy" sizes="(min-width: 1200px) calc((605 - 4rem) / 4),
          (min-width: 990px) calc((55.0vw - 4rem) / 4),
          (min-width: 750px) calc((100vw - 15rem) / 8),
          calc((100vw - 8rem) / 3)" id="Thumbnail-template--25802407084372__main-5
">
              </button>
            </li><li id="Slide-Thumbnails-template--25802407084372__main-6" class="thumbnail-list__item slider__slide" data-target="template--25802407084372__main-59762166366548" data-media-position="6">
              <button class="thumbnail global-media-settings global-media-settings--no-shadow" aria-label="Load image 6 in gallery view" aria-controls="GalleryViewer-template--25802407084372__main" aria-describedby="Thumbnail-template--25802407084372__main-6
">
                <img src="{{ 'Bioroot_WEBP_007_1.webp' | asset_url }}" alt="Turmeric Curcumin Capsules (1,000mg)" srcset="{{ 'Bioroot_WEBP_007_22.webp' | asset_url }} 54w, {{ 'Bioroot_WEBP_007_18.webp' | asset_url }} 74w, {{ 'Bioroot_WEBP_007_7.webp' | asset_url }} 104w, {{ 'Bioroot_WEBP_007_19.webp' | asset_url }} 162w, {{ 'Bioroot_WEBP_007_6.webp' | asset_url }} 208w, {{ 'Bioroot_WEBP_007_23.webp' | asset_url }} 324w, {{ 'Bioroot_WEBP_007_1.webp' | asset_url }} 416w" width="416" height="416" loading="lazy" sizes="(min-width: 1200px) calc((605 - 4rem) / 4),
          (min-width: 990px) calc((55.0vw - 4rem) / 4),
          (min-width: 750px) calc((100vw - 15rem) / 8),
          calc((100vw - 8rem) / 3)" id="Thumbnail-template--25802407084372__main-6
">
              </button>
            </li><li id="Slide-Thumbnails-template--25802407084372__main-7" class="thumbnail-list__item slider__slide" data-target="template--25802407084372__main-57767230767444" data-media-position="7">
              <button class="thumbnail global-media-settings global-media-settings--no-shadow" aria-label="Load image 7 in gallery view" aria-controls="GalleryViewer-template--25802407084372__main" aria-describedby="Thumbnail-template--25802407084372__main-7
">
                <img src="{{ '4_1.jpg' | asset_url }}" alt="Turmeric Curcumin Capsules (1,000mg)" srcset="{{ '4_18.jpg' | asset_url }} 54w, {{ '4_17.jpg' | asset_url }} 74w, {{ '4_19.jpg' | asset_url }} 104w, {{ '4_20.jpg' | asset_url }} 162w, {{ '4_21.jpg' | asset_url }} 208w, {{ '4_22.jpg' | asset_url }} 324w, {{ '4_1.jpg' | asset_url }} 416w" width="416" height="416" loading="lazy" sizes="(min-width: 1200px) calc((605 - 4rem) / 4),
          (min-width: 990px) calc((55.0vw - 4rem) / 4),
          (min-width: 750px) calc((100vw - 15rem) / 8),
          calc((100vw - 8rem) / 3)" id="Thumbnail-template--25802407084372__main-7
">
              </button>
            </li><li id="Slide-Thumbnails-template--25802407084372__main-8" class="thumbnail-list__item slider__slide" data-target="template--25802407084372__main-59762166301012" data-media-position="8">
              <button class="thumbnail global-media-settings global-media-settings--no-shadow" aria-label="Load image 8 in gallery view" aria-controls="GalleryViewer-template--25802407084372__main" aria-describedby="Thumbnail-template--25802407084372__main-8
">
                <img src="{{ 'Bioroot_WEBP_008_1.webp' | asset_url }}" alt="Turmeric Curcumin Capsules (1,000mg)" srcset="{{ 'Bioroot_WEBP_008_16.webp' | asset_url }} 54w, {{ 'Bioroot_WEBP_008_17.webp' | asset_url }} 74w, {{ 'Bioroot_WEBP_008_18.webp' | asset_url }} 104w, {{ 'Bioroot_WEBP_008_11.webp' | asset_url }} 162w, {{ 'Bioroot_WEBP_008_19.webp' | asset_url }} 208w, {{ 'Bioroot_WEBP_008_20.webp' | asset_url }} 324w, {{ 'Bioroot_WEBP_008_1.webp' | asset_url }} 416w" width="416" height="416" loading="lazy" sizes="(min-width: 1200px) calc((605 - 4rem) / 4),
          (min-width: 990px) calc((55.0vw - 4rem) / 4),
          (min-width: 750px) calc((100vw - 15rem) / 8),
          calc((100vw - 8rem) / 3)" id="Thumbnail-template--25802407084372__main-8
">
              </button>
            </li><li id="Slide-Thumbnails-template--25802407084372__main-9" class="thumbnail-list__item slider__slide" data-target="template--25802407084372__main-59762208014676" data-media-position="9">
              <button class="thumbnail global-media-settings global-media-settings--no-shadow" aria-label="Load image 9 in gallery view" aria-controls="GalleryViewer-template--25802407084372__main" aria-describedby="Thumbnail-template--25802407084372__main-9
">
                <img src="{{ 'Bioroot_WEBP_005_1.webp' | asset_url }}" alt="Turmeric Curcumin Capsules (1,000mg)" srcset="{{ 'Bioroot_WEBP_005_18.webp' | asset_url }} 54w, {{ 'Bioroot_WEBP_005_19.webp' | asset_url }} 74w, {{ 'Bioroot_WEBP_005_21.webp' | asset_url }} 104w, {{ 'Bioroot_WEBP_005_20.webp' | asset_url }} 162w, {{ 'Bioroot_WEBP_005_22.webp' | asset_url }} 208w, {{ 'Bioroot_WEBP_005_23.webp' | asset_url }} 324w, {{ 'Bioroot_WEBP_005_1.webp' | asset_url }} 416w" width="416" height="416" loading="lazy" sizes="(min-width: 1200px) calc((605 - 4rem) / 4),
          (min-width: 990px) calc((55.0vw - 4rem) / 4),
          (min-width: 750px) calc((100vw - 15rem) / 8),
          calc((100vw - 8rem) / 3)" id="Thumbnail-template--25802407084372__main-9
">
              </button>
            </li></ul>
      <button type="button" class="slider-button slider-button--next" name="next" aria-label="Slide right" aria-controls="GalleryThumbnails-template--25802407084372__main" data-step="3">
        <svg aria-hidden="true" focusable="false" class="icon icon-caret" viewBox="0 0 10 6">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
</path></svg>

      </button>
    </slider-component></media-gallery>

    </div>